div.price-slider {
/*    background: url("../../images/catalin_seo/bkg_slider.png") repeat-x scroll 0 0 transparent;
*/    height: 17px;
	background: #eceaea;
  height: 5px;
  position: relative;
  top: 2px;width:98%!important;
  border-radius:10px;
}

div.price-slider .filter-handle {
    height: 17px;
    width: 10px;
    cursor: e-resize;
    display: block;
}

div.price-slider .price-slider-from {
    background: url("../../images/catalin_seo/slider.png") no-repeat scroll 0 0 transparent;
	  top: -4px;
  
  width: 20px;
  cursor:pointer;
}

div.price-slider .price-slider-to {
    background: url("../../images/catalin_seo/slider.png") no-repeat scroll -17px 0 transparent;
    cursor:pointer;
    margin-top: -21px;
	width:20px;
	 cursor:pointer;
	
}
#price-max-display{
	   color: #666666;
  font-family: "Lato",sans-serif;
  padding-top:10px;
  font-size:15px;
}
#price-min-display{
	   color: #666666;
  font-family: "Lato",sans-serif;
  padding-top:10px;
  font-size:15px;
}


@media only screen and (max-width:768px) {
	
	.catalog-category-view div.price-slider{  width: 30%!important;}


#price-max-display {
    color: #666666;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    left: -67%!important;
    padding-top: 10px;
    position: relative!important;
}

#price-min-display{
padding-left:0px!important;
}
.catalog-category-view div.price-slider .price-slider-to {
left:200px!important; position: relative!important;
}
}