<?php
 $_htmlId    = $this->getElement()->getHtmlId();
 $_htmlClass = $this->getElement()->getClass();
 $_htmlName  = $this->getElement()->getName();
 $_readonly  = $this->getElement()->getReadonly();
 $value      = $this->getElement()->getValue();
 
 $customerData = Mage::getModel('customer/customer')->load($value)->getData();
?>

<b>Name :  </b> <?php echo $customerData['firstname'].'&nbsp;'.$customerData['lastname'];?><br>
<b>Email :  </b> <?php echo $customerData['email'];?><br>
<input type="text" id="<?php echo $_htmlId;?>" name="<?php echo $_htmlName;?>" value="<?php echo $value;?>" class="<?php echo $_htmlClass;?>">