<style>

.category select{
	
	padding:10px;
	
	}
.category input{
	
	padding:10px;
	
	}
	
button, .form-button {
  border-width: 1px;
  border-style: solid;
  border-color: #ed6502 #a04300 #a04300 #ed6502;
  padding: 1px 7px 2px 7px;
  background: #ffac47 url(images/btn_bg.gif) repeat-x 0 100%;
  color: #fff;
  font: bold 12px arial, helvetica, sans-serif;
  cursor: pointer;
  text-align: center !important;
  white-space: nowrap;
  width: 200px;
  margin: 0px auto;
  height: 40px;
  float: none;
  display: table;
}
	
	
	
</style>


<script type="text/javascript">
jQuery(document).ready(function($){
    
     //script to get subcategory of a category
     
    $(".category_id").unbind("change").bind("change", function(){
        
        var category_id = this.value;
        new Ajax.Request('<?php echo $this->getUrl('campaign/ajax/getSubcategory')?>',
        {
        method:'get',
        parameters: {category_id: category_id},
        onSuccess: function(transport){
        var response = transport.responseText || "nothing in response text";
        //alert("Success! \n\n" + response);
        $(".sub_cat").html(response);
        },
        onFailure: function(){ alert('something wrong') }
        });
    });
    
    // $(".subcategory_id").unbind("change").bind("change", function(){
    $(document).on('change', '.subcategory_id', function(e) {    
        var subcategory_id = this.value;
        new Ajax.Request('<?php echo $this->getUrl('campaign/ajax/getType')?>',
        {
        method:'get',
        parameters: {subcategory_id: subcategory_id},
        onSuccess: function(transport){
        var response = transport.responseText || "nothing in response text";
        //alert("Success! \n\n" + response);
        $(".pro_type").html(response);
        },
        onFailure: function(){ alert('something wrong') }
        });
    });
    
    
});

</script>
<?php 
    $action = $this->getRequest()->getParam('action');
   
    
    if($action != "" && $action == "edit"){
        
        $id     = $this->getRequest()->getParam('id');
        
        $price_detail = Mage::getModel('mapfeaturedprice/categoryprice')->load($id);
        $categoryId = $price_detail -> getTypeId();
        $price = $price_detail -> getPrice();
        
        $type = Mage::getModel('catalog/category')->load($categoryId);
        $type_name = $type -> getName();
?>
<div class="price-table">
<form method="post" action="<?php echo $this->getUrl('admin_mapfeaturedprice/adminhtml_categoryprice/edit')?>"  id="form_for_category_price_edit">
    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <input name="id" type="hidden" value="<?php echo $id ?>" />
    <table>
        <tr>
            <td  class="category" style="border:1px #eee2be solid; padding:10px;width:33.3%;background:#fdfaf1;">
                Type Name  : <?php echo $type_name;?>
            </td>
            <td class="category"  style="border:1px #eee2be solid; padding:10px;width:33.3%;background:#fdfaf1;">
                <input type="text" class="required-entry" name="price" value="<?php echo $price ;?>">
            </td>
            <td  class="category" style="border:1px #eee2be solid; padding:10px;width:33.3%;background:#fdfaf1;">
                <button type="submit" >Save</button>
            </td>
        </tr>
    </table>
</form>

</div>
<?php
    }else {
?>
<div class="price-table1">
<form method="post" id="form_for_category_price" action="<?php echo $this->getUrl('admin_mapfeaturedprice/adminhtml_categoryprice/save')?>">
    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />

    <table width="100%" cellpadding="0" cellspacing="0">
   
    <tr>
        <td class="category" style="border:1px #eee2be solid; padding:10px;width:20%;background:#fdfaf1;">
            <select style="width:200px;" name="category_id" class="category_id validate-select">
                          <option value="">Select Category</option>
            <?php 
                $categories = $this->getCategory();
                foreach($categories as $category){
                ?>
                <option value="<?php echo $category->getId();?>"><?php echo $category->getName();?></option>
                <?php
                }
                ?>
            </select>
        </td>
        <td class="category" style="border:1px #eee2be solid; padding:10px;width:20%;background:#fdfaf1;">
              <div class="sub_cat">
                       <select style="width:200px;" class="validate-select">
                            <option value="">Select Subcategory</option>
                       </select>
             </div>
        </td>
        <td class="category" style="border:1px #eee2be solid; padding:10px;width:20%;background:#fdfaf1;">
            <div class="pro_type">
                <select style="width:200px;" name="product_type" id="product_type" class="validate-select">
                    <option value="">Select Type</option>
               </select>
           </div>
        </td>
       <td class="category" style="border:1px #eee2be solid; padding:10px;width:20%;background:#fdfaf1;">
            <input style="width:180px;" type="text" class="required-entry" name="price">
        </td>
       <td  style="border:1px #eee2be solid; padding:10px;background:#fdfaf1;">
            <button type="submit">Add</button>
        </td>
    </tr>
   
    <tr style="background:#fdfaf1;"> 
        <td class="category"  style="border:1px #eee2be solid; padding:10px;" colspan="5">
            <table width="100%">
                <tr>
                    <th style="  background: #f5d9b7;
  padding: 5px;">Category</th>
                    <th style="  background: #f5d9b7;
  padding: 5px;">Subcategory</th>
                    <th style="  background: #f5d9b7;
  padding: 5px;">Type Name</th>
                    <th style="  background: #f5d9b7;
  padding: 5px;">Price(Euro)</th>
                    <th style="  background: #f5d9b7;
  padding: 5px;">Action</th>
                </tr>
                <?php 
                    $all_price = $this->getAllTypePrice();
                    if($all_price -> count() > 0){
                    foreach($all_price as $val){
                        $id = $val->getId(); 
                        $categoryId =  $val -> getTypeId();
                        $_category = Mage::getModel('catalog/category')->load($categoryId);
                        
                        //get subcategory of type
                                $subId = Mage::getModel('catalog/category')->load($categoryId)->getParentId();
                                $subcat = Mage::getModel('catalog/category')->load($subId);
                                $subcategory_id = $subcat -> getId();
                            //end
                                
                                
                            //get category of a subcategory
                                $catId = Mage::getModel('catalog/category')->load($subcategory_id)->getParentId();
                                $cat = Mage::getModel('catalog/category')->load($catId);
                            //
                 ?>
                <tr>
                    <td style="  background: #f6f0df;
  padding: 10px;"><?php echo $cat -> getName();?></td>
                    <td style="  background: #f6f0df;
  padding: 10px;"><?php echo $subcat -> getName();?></td>
                    <td style="  background: #f6f0df;
  padding: 10px;"><?php echo $_category -> getName();?></td>
                   <td style="  background: #f6f0df;
  padding: 10px;"><?php echo $val->getPrice();?></td>
                   <td style="  background: #f6f0df;
  padding: 10px;"><a href="<?php echo $this->getUrl('admin_mapfeaturedprice/adminhtml_categoryprice/index', array('id' => $id, 'action' => "edit"))?>">Edit </a>/ <a href="<?php echo $this->getUrl('admin_mapfeaturedprice/adminhtml_categoryprice/delete', array('id' => $id))?>" >Delete</a></td>
                </tr>
                    <?php }} ?>
            </table>
        </td>
    </tr>
</table>
</form>

</div>
<script type="text/javascript">
    //< ![CDATA[
       
//        var form_for_category_price = new VarienForm('form_for_category_price', true);
    //]]>
</script>
<?php
    }
?>