<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

 <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
            
              <td>
            <h1>Welcome to {{var store.getFrontendName()}}.</h1>
            <p>To log in when visiting our site just click <a href="{{store url="customer/account/"}}">Login</a> or <a href="{{store url="customer/account/"}}">My Account</a> at the top of every page, and then enter your email address and password.</p>
            <p style="padding:10px;"  class="highlighted-text" >
                Use the following values when prompted to log in:<br/>
                <strong>Email</strong>: {{var customer.email}}<br/>
                <strong>Password</strong>: {{htmlescape var=$customer.password}}
            </p>
            <p>When you log in to your account, you will be able to do the following:</p>
            <ul>
                <li>Proceed through checkout faster when making a purchase</li>
                <li>Check the status of orders</li>
                <li>View past orders</li>
                <li>Make changes to your account information</li>
                <li>Change your password</li>
                <li>Store alternative addresses (for shipping to multiple family members and friends!)</li>
            </ul>
            <p>
                If you have any questions, please feel free to contact us at
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} or by phone at <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
            </tr>
          </tbody>
        </table>

{{template config_path="design/email/footer"}}
