<!--@subject Campaign Unsuccessfull  @-->




{{inlinecss file="email-inline.css"}}

<!doctype html>
<html>
<head>
<meta name=”viewport” content=”width=device-width, initial-scale=1, maximum-scale=1″>
<title>Flike</title>
</head>

<body>

<div>
<center>

<table class="wrapper-con" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td bgcolor="#000" class="header">
<table style="width: 100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="logo-email"><a href="#" style="color: #fff; text-decoration: none;" target="_blank" ><img src="http://www.phppowerhousedemo.com/webroot/team16/flike/skin/frontend/flike/default/images/flike_logo.png" alt=""></a></td>
<td align="right" class="social-icon">
<span><a href="#"><img src="http://www.phppowerhousedemo.com/webroot/team16/flike/skin/frontend/flike/default/images/fb-logo.png" alt="" class="header-logo"></a></span>
<span><a href="#"><img src="http://www.phppowerhousedemo.com/webroot/team16/flike/skin/frontend/flike/default/images/twitter.png" alt="" class="header-logo"></a></span>
<span><a href="#"><img src="http://www.phppowerhousedemo.com/webroot/team16/flike/skin/frontend/flike/default/images/instagram.png" alt=""  class="header-logo-last"></a></span>

</td>
</tr>
</table>
</td>
    </tr>
    
    
    
    
    
    
    <tr>
    <td>
    
    <table style="width: 100%;"  cellpadding="0" cellspacing="0" >
    <tr>
      <td bgcolor="#fff" class="header-bg"><img src="http://www.phppowerhousedemo.com/webroot/team16/flike/skin/frontend/flike/default/images/flike-banner.png" alt="" ></td>
    </tr>
    <tr>
      <td class="email-bg">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>
              
                <h1> Dear John Parker</h1>
   <p>Etiam venenatis quam at felis efficitur hendrerit. Quisque blandit suscipit purus quis pharetra. Suspendisse potenti. Integer hendrerit risus ex, in volutpat lorem interdum eu. Aliquam vel mi nulla. Curabitur auctor vel tellus non mollis. </p>

<p>Vestibulum aliquam, ex sit amet pretium hendrerit, quam sem condimentum ligula, a vulputate metus turpis id erat. Cras venenatis finibus nulla vel rutrum. Quisque iaculis ut magna sed, mattis aliquet sem. </p>
   
   
  <p class="thank">Thank you, Flike Shop</p>
              
              
              
              
              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
    
    <tr>
    
    <td bgcolor="#000"><img src="http://www.phppowerhousedemo.com/webroot/team16/flike/skin/frontend/flike/default/images/flike-bottom.png" alt="" ></td>
    </tr>
    </table>
    </td>
    </tr>
    
    
    
    <tr>
     <td bgcolor="#000" class="email-foot">
<table style="width: 100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" class="foot-link"><a href="#" class="links" target="_blank">Publish</a>    <a href="#" class="links" target="_blank">Shop</a>     <a href="#" class="link" target="_blank">About</a></td>
</tr>
  
  
  
<tr>
<td align="center" class="foot-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue est, iaculis nec augue vel, sodales dictum nulla. Integer lectus neque, consectetur sit amet consectetur ac, aliquet sed nulla. Sed fringilla faucibus est, eu pretium massa maximus. </td>
</tr>
</table>
  
  
</td>
    </tr>
  </tbody>
</table>

 </center>
</div>







</body>
</html>


