<!--@subject Campaign Unsuccessfull  @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

      <table width="100%" border="0" cellspacing="0" cellpadding="0" >
          <tbody>
            <tr>
              <td>
              
                <h1> Dear John Parker</h1>
                
                <p>Etiam venenatis quam at felis efficitur hendrerit. Quisque blandit suscipit purus quis pharetra. Suspendisse potenti. Integer hendrerit risus ex, in volutpat lorem interdum eu. Aliquam vel mi nulla. Curabitur auctor vel tellus non mollis. </p>

                <p>Vestibulum aliquam, ex sit amet pretium hendrerit, quam sem condimentum ligula, a vulputate metus turpis id erat. Cras venenatis finibus nulla vel rutrum. Quisque iaculis ut magna sed, mattis aliquet sem. </p>

                <p class="thank">Thank you, {{var store.getFrontendName()}}</p>
              
              </td>
            </tr>
          </tbody>
        </table>

  {{template config_path="design/email/footer"}}   