<!--@subject New Campaign created at flike @-->
<!--@vars
{"var warnings":"Warnings"}
@-->
<div>
<h1>This product has been created .Please Enabled it.</h1>
<h3>Hi,</h3>
<p>{{var product.sku}} has been created .
This is just some example template to test custom email module.</p>
</div>