<!--@subject New Campaign Enabled at flike @-->
<!--@vars
{"var warnings":"Warnings"}
@-->
<div>
<h1>This product has been created .Please Enabled it.</h1>
<h3>Hi,</h3>
<p>
{{var myvar1}} has been created .{{var myvar3}} is created the product
</p>
</div>