<!--@subject New Order placed at flike @-->
<!--@vars
{"var warnings":"Warnings"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>
                   

                    
                    <h1>Your Order Has been placed</h1>

                    {{layout handle="sales_email_order_items" order=$order}}
                   
                  
                </td>
            </tr>
          </tbody>
        </table>

  {{template config_path="design/email/footer"}}   