<!--@subject Flike - campaign status  @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
   
<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>
              
                <h1> Dear {{var name}}</h1>
                
                <p>An order has been canceled.</p>
                <p>Campaign name : {{var campaign_name}}</p>
                <p>Sku : {{var sku}}</p>
                <p>Sales target : {{var sales_target}}</p>
                <p>Quantity ordered : {{var quantity_ordered}}</p>
                <p class="thank">Thank you, {{var store.getFrontendName()}}</p>
              
              </td>
            </tr>
          </tbody>
        </table>

{{template config_path="design/email/footer"}}