<!--@subject Threshold Limit Reach @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>
              
                <h1> Dear {{var name}}</h1>
                
                <p>"{{var campaign_name}}" threshold limit reach</p>
                <p>Sku : {{var sku}}</p>
                <p class="thank">Thank you, {{var store.getFrontendName()}}</p>
              
              </td>
            </tr>
          </tbody>
        </table>

{{template config_path="design/email/footer"}}