/**
 * @category    Mana
 * @package     ManaPro_FilterTree
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
.m-expanded > .m-tree-item, .m-collapsed > .m-tree-item, .m-leaf > .m-tree-item { padding-left: 15px; }
.m-expanded > .m-tree-item, .m-collapsed > .m-tree-item { cursor: pointer;   color: #666666!important;
    font-family: "Lato",sans-serif;
    font-size: 20px!important;
    font-weight: 300!important;
    text-align: left;padding:0px 20px!important; }
	.m-collapsed a{
		 color: #666666!important;
	}
	
	.m-expanded a{
		color: #666666!important;
		font-size:20px!important;
	}
	
	.m-leaf a{
		color: #666666!important;
		font-size:16px!important;
		font-weight:normal!important;
	}
	.m-selected-filter-item{
		  font-family: "Lato",sans-serif;
    font-size: 20px!important;
    font-weight: normal!important;
    text-align: left;
		padding:0px!important;
	}
	.m-selected-filter-item a{ 
			  font-family: "Lato",sans-serif;
    font-size: 20px!important;
    font-weight: 300!important;
    text-align: left;

	 color: #666666!important;
	}
.m-tree-item > a {
		
	font-family: "Lato",sans-serif;
    font-size: 18px!important;
    font-weight: normal;
    text-align: left; color: #666666;
	}
	#m-tree-item-54 > a {
    color: #666666 !important;
    font-size: 18px !important;
}
	.block-layered-nav .m-filter-group span{
		padding:0px!important;
	}
.m-expanded > .m-tree-item { background: transparent url(../images/manapro_filtertree/expanded.png) 0 4px no-repeat; }
.m-collapsed > .m-tree-item { background: transparent url(../images/manapro_filtertree/collapsed.png) 0 4px no-repeat; }
.m-expanded > .m-tree-item:hover { background: transparent url(../images/manapro_filtertree/expanded_over.png) 0 4px no-repeat; }
.m-collapsed > .m-tree-item:hover { background: transparent url(../images/manapro_filtertree/collapsed_over.png) 0 4px no-repeat; }
.m-expanded > ul, .m-collapsed > ul { margin-left: 10px; }

#narrow-by-list-0{
	padding:15px 15px 0px 15px;
}

