@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:1024px){
	

	
.block .items .desc {
    color: #474747;
    font-family: "Lato",sans-serif;
    font-size: 16px!important;
    margin: 0 auto;
    text-align: center;
    width: 100%!important;
}
.block .items {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d5d5d5;
    float: left;
    margin: 0 60px 15px;
    min-height: 454px;
    min-width: 350px;
    padding: 7px;
}
.block .item-list {
	background: #fff;
	margin: 0px 0px;
	min-height: 454px;
	float: left;
	border: 1px solid #d5d5d5;
	padding:0px 7px 7px 7px;
}

.sort-box {
  background: #fff;
  border: 1px #ababab solid;
  padding: 7px 7px;
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  min-width: 95%;
  float: left;
  width: auto;
  font-weight: 300;
}

.switch-btn span{
	color:#666666;
	 font-family: "Lato",sans-serif;
	 font-weight:300;
	 font-size:14px;
	 line-height:43px;
}
.item-list .fadein {
    height: 135px;
    position: relative;
    width: 100%;
}

.block .rate-bar{
margin:0px auto!important;
width:100%!important;
text-align:center;
}
.block .rate-bar img{
width:auto!important;
height:auto!important;
}

.block .days {
    color: #474747;
    float: none!important;
	 margin: 0 auto !important;
    text-align: center;
    width: 100% !important;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
}

.block .view a {
    background: #e3e3e3 none repeat scroll 0 0;
    color: #474747;
    display: block;
    height: 35px;
    line-height: 35px;
    margin: 20px auto 10px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 85%!important;
}


.product-price {
    color: #414141;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 36px;
    padding: 25px 0 0 0px;
}

	.cart-con .table>thead>tr>td {
	padding: 15px 0px 15px 0px;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.block {
  margin-bottom: 20px;
  width: 750px!important;
  margin: 0px auto!important;
}

.block h3 {
  color: #090909;
  font-size: 18px;
  font-weight: normal;
  margin: 10px 0;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
}

.payment {
  height: auto;
  background: #fff;
  padding-bottom: 20px;
  width: 100%!important;
  margin-bottom: 20px;
  border: 2px #b8b8b8 solid;
  padding: 0px 15px;
}

.regular-check .chklist {
    color: #828282;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    width: 85%!important;
}

	.regular-check .chck {
    float: left;
    width: 5%!important;
}


.login-form input {
  background-color: transparent;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  float: left;
  height: 35px!important;
  margin-bottom: 5px!important;
   margin-left: 0px!important;
  padding: 10px;
  width: 100%!important;
}



.login-form label {
  color: #666666;
  float: left;
  font-size: 20px;
  font-weight: 300!important;
  width: 100%;
  padding: 10px 0px 0px 0px;
  line-height: 27px;
  font-family: "Lato",sans-serif;
}

.login-form {
  width: 100%;
  padding: 15px 20px!important;
  float: left;
  border-radius: 6px;
}


.login-form h1 {
  font-size: 32px;
  color: #666666;
  font-family: "Lato",sans-serif;
  font-weight: 300;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 10px 0!important;
  line-height: 45px;
  font-style: italic;
}
.login-control {
    float: left;
    margin-left: 0px!important;
    width: 100%!important;
}
.login-form .signup-btn {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #000;
    color: #000;
    float: right;
    font-family: "Lato",sans-serif;
    font-size: 13px!important;
    font-weight: normal;
    height: 45px !important;
    line-height: 15px!important;
    margin: 20px 0 0;

    padding: 4px;
    text-align: center;
    width: 95% !important;
}


.login-form .submit-btn {
    background: #000 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 13px!important;
    font-weight: bold;
     height: 45px !important;
	  line-height: 15px!important;
    margin: 20px 0 0;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    width: 95% !important;
}
  .customer-account-login .col2-set .col-1,
  .customer-account-login .col2-set .col-2 {
    padding-top: 0;
    margin: 0px 0px 15px 0px;
	width:50%;
	float:left;
  }
  
  
  .profile-pic {
  min-width: 100%!important;
  height: 274px;
}
.profile-pic .uplaod-btn {
  width: 100%!important;
}

.profile-pic .upload-pic{
background-size:cover; background-position:0px 0px; background-repeat:no-repeat;height:auto!important;	
}

.about-designer .about-con {
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    color: #a1a1a1;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 100%!important;
    line-height: 24px;
    padding: 15px;
}

	/*-----------------------End--------------*/
}
@media screen and (min-device-width: 768px) and (max-device-width: 992px) { 
.item-list .fadein {
  height: 100px !important;
  position: relative;
  width: 100%;
}

.paginate.pag1 li.single {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #848484;
    display: block;
    float: left;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    margin-right: 7px!important;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}
.block .items {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d5d5d5;
    float: left;
    margin: 0 45px 15px 45px!important;
    min-height: 454px;
    min-width: 268px!important;
    padding: 7px;
}	

.fadein {
    height: 160px!important;
    position: relative;
 
}
.block .items .desc {
    color: #474747;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.sort-box {
  background: #fff;
  border: 1px #ababab solid;
  padding: 7px 7px;
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 15px!important;
  min-width: 95%;
  float: left;
  width: auto;
  font-weight: 300;
  margin-left: 7px !important;
}

.item-list .fadein {
    height: 105px !important;
    position: relative;
    width: 100%;
}

	.cart-con .table>thead>tr>td {
	padding: 15px 4px 15px 4px!important;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}


.payment {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #b8b8b8;
    height: auto;
    margin-bottom: 20px;
    padding: 0 15px;
    width: 100%!important;
}

.product-title {
    color: #414141;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 35px;
    padding: 25px 0px 0 0px!important;
}
.register .form-groups {
  margin-bottom: 15px;
  width: 100%!important;
}
.register .input-group {
    float: right;
    width: 58%!important;
}


.login-form input {
  background-color: transparent;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  float: left;
  height: 35px!important;
  margin-bottom: 5px!important;
   margin-left: 0px!important;
  padding: 10px;
  width: 100%!important;
}



.login-form label {
  color: #666666;
  float: left;
  font-size: 20px;
  font-weight: 300!important;
  width: 100%;
  padding: 10px 0px 0px 0px;
  line-height: 27px;
  font-family: "Lato",sans-serif;
}

.login-form {
  width: 100%;
  padding: 15px 20px!important;
  float: left;
  border-radius: 6px;
}


.login-form h1 {
  font-size: 32px;
  color: #666666;
  font-family: "Lato",sans-serif;
  font-weight: 300;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 10px 0!important;
  line-height: 45px;
  font-style: italic;
}
.login-control {
    float: left;
    margin-left: 0px!important;
    width: 100%!important;
}
.login-form .signup-btn {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #000;
    color: #000;
    float: right;
    font-family: "Lato",sans-serif;
    font-size: 13px!important;
    font-weight: normal;
    height: 45px !important;
    line-height: 15px!important;
    margin: 20px 0 0;
    padding: 4px;
    text-align: center;
    width: 95% !important;
}


.login-form .submit-btn {
    background: #000 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 13px!important;
    font-weight: bold;
     height: 45px !important;
	  line-height: 15px!important;
    margin: 20px 0 0;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    width: 95% !important;
}

     .customer-account-login .col2-set .col-1,
  .customer-account-login .col2-set .col-2 {
    padding-top: 0;
    margin: 0px 0px 15px 0px;
	width:50%!important;
	float:left;
  }
.profile-pic {
  min-width: 100%!important;
  height: 274px;
}
.profile-pic .uplaod-btn {
  width: 100%!important;
}
	/*-----------------------END--------------*/
}

@media only screen and (max-width:767px){
	
	body {
	background: #fff;
	font-size: 14px/22px;
	font-family: 'Lato', sans-serif;
	color: #696969;
	padding-top: 0px!important;
	overflow-x: hidden;
	min-height:1000px;
}
.block {
  width: 100%!important;
  margin: 0px!important;
}
/*-----------------------home--------------*/

.navbar-header{
	margin:0px!important;
}
	.dropdown-menu:before{
		display:none;
	}
	.navbar-nav .login-btn .dropdown-menu:before{
		border-bottom:none;
		border-top:8px solid #f1155a;
		top:36px;
	}
	.openup-slider .owl-controls .owl-nav .owl-prev,
	.place-slider .owl-controls .owl-nav .owl-prev,
	.shop-slider .owl-controls .owl-nav .owl-prev{
		left:-10px;
	}
	.openup-slider .owl-controls .owl-nav .owl-next,
	.place-slider .owl-controls .owl-nav .owl-next,
	.shop-slider .owl-controls .owl-nav .owl-next{
		right:-10px;
	}
	#howItWorks{
		padding-top:80px;
	}
	

 .sort-by select {
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position:93% center;
    background-repeat: no-repeat;
    border: 1px solid #dedede;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 25px;
    margin-left: 0;
    padding-bottom: 5px;
    padding-top: 7px;
    width: 100%;
}

.sort-by {
    float: left;
    margin-left: 0;
    width: 50%;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}




.blocks-cont h1 {
    border-bottom: 3px double #e1e1e1;
    color: #666666;
    font-family: "Lato",sans-serif;
    font-size: 32px;
    margin: 0 0px 50px 0!important;
}

.block-top-row {
    color: #090909;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    margin: 5px 0;
    width: 100%;
}


.block .items {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d5d5d5;
    float: none;
    margin: 0 15px 15px 0!important;


}
.block .items .desc {
    color: #474747;
    font-family: "Lato",sans-serif;
    font-size: 15px!important;
    margin: 0 auto;
    text-align: center;
    width: 100%!important;
}

.banner-txt span a {
    color: #fff;
    font-family: "Lato",sans-serif;
    font-size: 20px!important;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

#howItWorks {
    padding-top: 30px!important;
}

.sign {
    border: 1px solid #fff;
    margin-left: 20px !important;
    width: 100px;
}
.register .form-groups {
  margin-bottom: 15px;
  width: 100%!important;
}
.r-right{
	float:left!important;
	width:100%!important;
}

.register label {
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 15px!important;
  font-weight: 300;
  line-height: 45px;
  margin-right: 15px;
}

.cart-con {
  padding: 25px 0px 0px 0px!important;
}

.customer-account-login .col2-set .col-2 {
  padding-left: 0px!important;
  border-left: 0px solid #ededed!important;
}
.page-title h1, .page-title h2, .product-name h1, .product-name .h1 {
  font-size: 18px!important;

}
.customer-account-login .col2-set .col-1 {
  padding-right: 0px!important; 
}
.customer-account-login .col2-set .buttons-set button, .customer-account-login .col2-set .buttons-set .button {
  float: none;
  width: auto!important; 
  margin: 0;
  padding: 10px;
}

  .customer-account-login .col2-set .col-1,
  .customer-account-login .col2-set .col-2 {
    padding-top: 0;
    margin: 0px 0px 15px 0px;
	width:100%!important;
	float:left;
  }
.profile-pic figure {
    background: #fff none repeat scroll 0 0;
    float: none!important;
    margin: 0 auto!important;
    width: 285px!important;
}
.profile-pic .uplaod-btn {
  width: 100%!important;
}

.profile-pic .upload-pic{
background-size:cover; background-position:0px 0px; background-repeat:no-repeat;height:auto!important;	
}

.about-designer .about-con {
    width: 100%!important;
}

.about-designer h1 {
    width: 100%!important;
}
.link-footer{
	text-align:center;
	float:none!important;
}

.site-footer .footer-social {
    float: none!important;
    margin: 0 auto!important;
    text-align: center!important;
    width: 100%!important;
}

.site-footer .footer-social ul {
    margin: 0;
    padding: 0;
    text-align: center!important;
}
/*-----------------------home--------------*/

}

@media (max-width:600px) {
	
.block .items {
  background: #fff;
  margin: 0 15px 15px 0px;
  min-height: 454px;
 width: 250px!important;
  float: none!important;
  border: 1px solid #d5d5d5;
  padding: 0px 7px 7px 7px;
  margin:22px auto!important;
}	
.site-footer .footer-top p {
  color: #b8b8b8;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.develop {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #9c9c9c;
	text-align:right;
}

.sort-box {
  background: #fff;
  border: 1px #ababab solid;
  padding: 7px 7px;
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 17px;
  min-width: 100%;
  float: left;
  width: auto;
  font-weight: 300;
  margin-left: 8px;
  margin-bottom: 10px;
}

.top-con {
  border-bottom: 1px #d5d5d5 solid;
  margin-bottom: 0px!important;
  width: 100%;
}

.open-con {
  position: absolute;
  border-left: 1px #ababab solid;
  border-bottom: 1px #ababab solid;
  border-right: 1px #ababab solid;
  border-top: 1px #fff solid;
  background: #fff;
  padding: 4px 7px;
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 17px;
  width: auto;
  left: 8px!important;
  font-weight: 300;
  min-width: 97%!important;
  z-index: 1000;
}

.sort-box {
  background: #fff;
  border: 1px #ababab solid;
  padding: 7px 7px;
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 17px;
  min-width: 97%!important;
  float: left;
  width: auto;
  font-weight: 300;
}
.switch-btn{
	  margin-left: 10px!important;
}
.block .item-list {
  background: #fff;
  margin: 0 15px 15px 0px;
  min-height: 390px;
  /* float: left; */
  border: 1px solid #d5d5d5;
  padding: 0px 7px 7px 7px;
  width: 45%!important;
  margin: 10px 0px 10px 15px!important;
}

.block .view a {
	display: block;
	width: 70%!important;
	margin: 20px auto 10px auto;
	padding: 0;
	text-align: center;
	background: #e3e3e3;
	color: #474747;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
}

.item-list .fadein {
    height: 140px !important;
    position: relative;
    width: 100%;
}

.block .rate-bar{
margin:0px auto!important;
width:100%!important;
text-align:center;
}
.block .rate-bar img{
width:auto!important;
height:auto!important;
}

.block .days {
    color: #474747;
    float: none!important;
	 margin: 0 auto !important;
    text-align: center;
    width: 100% !important;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
}

 .develop{ 
 width: 50%!important;
  margin: 0px auto!important;
}
.link-footer {
  text-align: center!important;
}
}
@media (max-width:480px) {
.payment {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #b8b8b8;
    height: auto;
    margin-bottom: 20px;
    padding: 0 15px;
    width: 100%!important;
}	
/*	.fadein {
    height: 275px!important;
    position: relative;
    width: 435px!important;
}*/
.item-list .fadein {
    height: 123px!important;
    position: relative;
    width: 100%;
}

.containsSide .block-top-row {
  margin: 5px 0;
  font-size: 15px;
  color: #090909;
  font-family: 'Lato', sans-serif;
  width: 100%;
  float: left;
}


.priceTag {
  font-family: "Lato",sans-serif;
  font-size: 16px;
  color: #414141;
  padding: 0px;
  font-weight: normal;
  padding-top: 10px;
  float: left;
  font-style: italic;
  width: 100%;
}

.qty-wrapper{
 width: 100%;
float:left;
}

.containsSide h1 {
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 35px!important;
  padding: 0px 0px 15px 0px!important;
  margin: 0px;
  text-align: left;
  float: left;
  width: 100%!important;
}

.containsSide .like {
  float: left;
  width: 100%!important;
  color: #000000;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding:0px!important;
  text-transform: uppercase;
}

.con_div .like {
  float: left;
  width: 50%!important;
  color: #000000;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.social{
 width: 50%!important;
  float: left;
}

.btn-cart {
  padding: 8px 15px;
  background: #e3e3e3;
  border: 2px #c2c2c2 solid;
  color: #000;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  clear: both;
  width:250px!important;
  float: none!important;
  margin:15px auto!important;
}
.openup-slider{
	margin:0px!important;
}

.open-con {
  position: absolute;
  border-left: 1px #ababab solid;
  border-bottom: 1px #ababab solid;
  border-right: 1px #ababab solid;
  border-top: 1px #fff solid;
  background: #fff;
  padding: 4px 7px;
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 17px;
  width: auto;
  left: 8px!important;
  font-weight: 300;
  min-width: 97%!important;
  z-index: 1000;
}

.sort-box {
  background: #fff;
  border: 1px #ababab solid;
  padding: 7px 7px;
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 17px;
  min-width: 95%!important;
  float: left;
  width: auto;
  font-weight: 300;
}
.tag {
  width: 76px;
  height: 77px;
  top: 0px;
  right: 0px!important;
  position: absolute;
  z-index: 999;
}

.block .items {
  background: #fff;
  margin: 0 15px 15px 0px;
  min-height: 454px;
 width: 220px!important;
  float: none!important;
  border: 1px solid #d5d5d5;
  padding: 0px 7px 7px 7px;
  margin:22px auto!important;
}

.block .item-list {
	background: #fff;
	margin: 0px 0px;
	min-height: 454px;
	width:100%;
	float: left;
	border: 1px solid #d5d5d5;
	padding:0px 7px 7px 7px;
}

 .develop{ 
 width: 53%!important;
  margin: 0px auto!important;
}

.block .item-list {
  background: #fff;
  margin: 0 15px 15px 0px;
  min-height: 390px;
  /* float: left; */
  border: 1px solid #d5d5d5;
  padding: 0px 7px 7px 7px;
  width: 45%!important;
  margin: 10px 0px 10px 15px!important;
}

.block .view a {
	display: block;
	width: 70%!important;
	margin: 20px auto 10px auto;
	padding: 0;
	text-align: center;
	background: #e3e3e3;
	color: #474747;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
}

.paginate.pag1 {
 float: none!important;
  min-width: 500px;
  margin: 40px 0px;
}


.qty-wrapper label {
  color: #414141;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  font-weight: normal;
  float: left;
  padding-right: 20px;
  font-style: italic;
  line-height: 35px;
  width: 25%!important;
}

.qty-wrapper .qty input {
  border: 1px #d7d7d7 solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  height: 35px;
  width: 35%!important;
  padding: 0px 0px 0px 5px;
  color: #414141;
  font-size: 16px;
  text-align: center;
  font-family: "Lato",sans-serif;
}
.block .rate-bar{
margin:0px auto!important;
width:100%!important;
text-align:center;
}
.block .rate-bar img{
width:auto!important;
height:auto!important;
}

.block .days {
    color: #474747;
    float: none!important;
	 margin: 0 auto !important;
    text-align: center;
    width: 100% !important;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
}

.login-form {
  width: 95%!important;
  padding: 15px 0px!important;
  float: left;
  border-radius: 6px;
  margin-bottom: 50px;
}
}

@media (max-width:320px) {
	
	/*-----------------------home--------------*/
	.blocks-cont h1 span {
    background: #fff none repeat scroll 0 0;
    padding: 10px;
    position: relative;
    top: 10px!important;
}

.block .items {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d5d5d5;
    float: left;
    margin: 0 0px 15px 0!important;
    min-height: 160px !important;
    padding: 7px;
    width: 100%!important;

}
.blocks-cont h1 {
    border-bottom: 3px double #e1e1e1;
    color: #666666;
    font-family: "Lato",sans-serif;
    font-size: 20px!important;
    margin: 0 15px 50px 0;
}

.fadein {
    height: 160px !important;
    position: relative;
   
}

.item-list .fadein {
  height: 145px!important;
  position: relative;
  width: 100%;
}

.blocks-cont h1 {
    border-bottom: 3px double #e1e1e1;
    color: #666666;
    font-family: "Lato",sans-serif;
    font-size: 32px;
    margin: 0 0px 50px 0!important;
}

.block-top-row {
    color: #090909;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    margin: 5px 0;
    width: 100%;
}

.block-thumb {
    background: #f2f2f2 none repeat scroll 0 0;
    margin: 0 0 15px;
}

.tag {
  width: 76px;
  height: 77px;
  top: 0px;
  right: -10px!important;
  position: absolute;
  z-index: 999;
}
.site-footer .footer-top p {
  color: #b8b8b8;
  font-family: 'Lato', sans-serif;
  font-size: 11px!important;
}
.site-footer .footer-top .copyright {
  text-transform: capitalize;
  line-height: 16px!important;
}
.open-con {
  position: absolute;
  border-left: 1px #ababab solid;
  border-bottom: 1px #ababab solid;
  border-right: 1px #ababab solid;
  border-top: 1px #fff solid;
  background: #fff;
  padding: 4px 7px;
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 17px;
  width: auto;
  left: 8px!important;
  font-weight: 300;
  min-width: 94.9%!important;
  z-index: 1000;
}
.block .item-list {
  background: #fff;
  margin: 0 15px 15px 0px;
  min-height: 390px;
  float: none!important;
  border: 1px solid #d5d5d5;
  padding: 0px 7px 7px 7px;
  width: 90%!important;
  margin: 10px 0px 10px 15px!important;
}

.paginate.pag1 {float:none!important;width:100%!important;0px!important}
ul.paginate.pag1 {margin:0px!important;padding:0px!important;width:300px!important
}


.paginate.pag1 li a {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #848484;
    display: block;
    float: left;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    margin-right: 4px!important;
    padding: 3px 7px!important;
font-size:13px!important;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}


.paginate.pag1 li.current {
    background: #6c6c6c none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #fff;
    display: block;
    float: left;
    margin-right: 6px;
    padding: 3px 7px!important;
}

.paginate.pag1 li.single {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #848484;
    display: block;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 13px!important;
    font-weight: 400;
    margin-right: 6px;
    padding: 3px 7px!important;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}
.block .days {
	font-family: 'Lato', sans-serif;
	color: #474747;
	font-size: 14px;
	font-weight: 700;
	line-height:32px;
	float:right!important;
	width:auto!important;
	margin:0px!important;
}


	.block .rate-bar{
	margin:0px auto!important;
	width:auto!important;
}
	
		.block .rate-bar img{
			width:auto!important;
			height:auto!important;
		}
		
		
	.register .form-groups {
  margin-bottom: 15px;
  width: 100%!important;
}	
.register .input-group {
  width: 100%!important;
  float: left;
}	

.register form input {
  width: 100%;
  height: 45px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px #c4c4c4 solid;
 margin: 0px!important;
  color: #5d654d;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
.register label {
  /* width: 28%; */
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px!important;
  margin-right: 15px;
}	


.login-form {
  width: 100%!important;
  padding: 15px 0px!important;
  float: left;
  border-radius: 6px;
  margin-bottom: 50px;
}

.login-control p {
  width: 50%;
  float: left;
  margin: 0px;
  padding: 0px;
  font-family: "Lato",sans-serif;
  color: #666666;
  font-size: 13px!important;
  font-weight: 300;
}

 .develop{ 
 width: 78%!important;
  margin: 0px auto!important;
}
		/*-----------------------home--------------*/
}
