@charset "utf-8"; /* CSS Document */

@import url('owl.carousel.css');



*{
 outline:none !important;
}
body {
	background: #fff;
	font-size: 14px/22px;
	font-family: 'Lato', sans-serif;
	color: #696969;
	padding-top: 67px;
	overflow-x: hidden;
	min-height:1000px;
}
img {
	max-width: 100%;
}
.nobdr {
	border: none !important;
}
.nomargin {
	margin: 0 !important;
}
.nopadding {
	padding: 0 !important;
}
.text-danger {
	color: #f52812;
}
.btn-danger {
	background-color: #e74a36;
	border-color: #e74a36;
}
.btn-success {
	background-color: #89c64c;
	border-color: #89c64c;
}
.navbar-brand {
	height: auto;
	padding: 20px 15px;
}
.navbar-nav {
	margin-top: 17px;
	font-weight: 600;
}
.navbar-inverse {
	background: #000;
	margin-bottom: 0;
	border-bottom: none;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	padding: 7px 20px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight:normal;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: transparent;
}
.navbar-nav .dropdown-menu {
	background: rgba(241,21,90,0.8);
}
.navbar-nav .dropdown-menu > li > a {
	color: #fff;
	padding: 6px 20px;
}
.navbar-nav .dropdown-menu > li > a:hover {
	color: #000;
}
.navbar-inverse .navbar-toggle {
	background-color: #a09f9f;
	border-color: #000;
	margin-top: 18px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #a09f9f;
	border-color: #000;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #a09f9f;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: #a09f9f;
}
.navbar-nav .login-btn .dropdown-menu:before {
	position: absolute;
	top: -7px;
	left: 40px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #f1155a;
	border-left: 7px solid transparent;
	content: '';
}
.navbar-right .dropdown-menu {
	left: 0;
	right: auto;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 10px;
	border-radius: 0;
	border: none;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	max-height: 420px;
	width:100%;
}

.dropdown-menu.logged-cont{
	width:184px;
	right:92px;
	left:auto;
	border-radius:6px;
}
.panel-body ul{
	margin:0px!important;
	padding:0px!important;
}
.panel-body ul li{
	width:100%;
	text-align:center;
	padding:0px 0px 1px 0px!important;
	margin:3px 0px 0px 0px!important;
}
.divide {
  height: 1px;
  margin: 5px 0px;
  overflow: hidden;
  background-color: #e5e5e5;
  height:1px;
  font-family: 'Lato', sans-serif;
  font-size:16px;
  text-align:center;
padding:0px!important;
}
.panel-body ul li a{
	margin:0px;
	padding:0px;
	color:#0c5086;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	list-style:none;
	
}
.form-group a {
	color:#0c5086;
	font-family: 'Lato', sans-serif;
	font-size:20px;
	font-weight:normal;
	text-decoration:none;
}
.login-button .dropdown-menu.login-cont:before{
	left:auto;
	right:40px;
}
.dropdown-menu.login-cont .panel{
	margin-bottom:0;
}
.dropdown-menu.login-cont .panel-heading h3{
	color:#3f434f;
	font-size:17px;
	font-weight:400;
	margin:5px 0;
}
.login-btn{
background:#4d9b18;
	border-left:1px #78d538 solid;
	border-right:1px #78d538 solid;
}








.login-button > a {
	border: 2px solid #f1155a !important;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 700;
}
.slider-container {
	position: relative;
}
.slide-overlay {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/banner-overlay.png) repeat bottom left;
}
.slider-content {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.scroll-next {
	width: 40px;
	height: 40px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 50px;
	border: 2px solid #fff;
	border-radius: 100%;
	text-align: center;
	color: #fff !important;
	font-size: 30px;
	line-height: 35px;
}
.scroll-next:hover {
	color: #fff;
}
.navbar .list-space-btn {
	display: none;
}

.how-con {
	padding: 50px 0px 0px 0px;
}
.content-sec {
	padding: 0px 0;
}
.content-sec h2 {
	font-size: 34px;
	font-weight: normal;
	color: #666666;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
}
.content-sec h2 small {
	display: block;
	font-size: 17px;
	font-weight: 700;
}
.lead {
	font-size: 18px;
	font-weight: 300;
	color: #808080;
	font-family: 'Lato', sans-serif;
}
#howItWorks {
	background: #fff;
}
.how-it-works .row {
	margin-top: 50px;
}
.how-it-works .work-block {
	padding: 15px;
}
.how-it-works .work-block .icon {
	margin: 0 auto 10px;
	width: 111px;
	height: 111px;
}
.how-it-works .work-block .icon img {
	max-width: 100%;
	border-radius:50%;    
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.how-it-works .work-block .icon img:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
 /*   border:3px #b0b0b0 solid;  */ 
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);               
    } 

.how-it-works .work-block h3 {
	font-size: 24px;
	font-weight: 300;
	color: #666666;
	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
}
.how-it-works .work-block h3 a {
	color: #666666;
	text-decoration: none;
}

.how-it-works .work-block h3 a:hover {
	color:#000;
	
}
.how-it-works .work-block p {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #808080;
}


.block .item-list {
	background: #fff;
	margin: 0 15px 15px 0px;
	min-height: 390px;
	float: left;
	border: 1px solid #d5d5d5;
	padding:0px 7px 7px 7px;
}




.block .items {
	background: #fff;
	margin: 0 15px 15px 0px;
	min-height: 454px;
	min-width: 268px;
	float: left;
	border: 1px solid #d5d5d5;
	padding:0px 7px 7px 7px;
}
.block .items img {
	opacity:1;
}


.block .items.desc {
	color: #474747;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-align: center;
	width: 240px;
	margin: 0px auto;
}

.block .item-list .desc {
	color: #474747;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-align: center;

}
.block .view a {
	display: block;
	width: 45%;
	margin: 20px auto 10px auto;
	padding: 0;
	text-align: center;
	background: #e3e3e3;
	color: #474747;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
}
.fadein {
	position: relative;
	height: 161px;
	width:100%;
}
.fadein img {
	position: absolute;
	left: 0;
	top: 0;
}
.block .view a:hover {
	display: block;
	width: 45%;
	margin: 20px auto 10px auto;
	padding: 0;
	text-align: center;
	background: #a8a5a5;
	color: #474747;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
}
.block .view a {
	color: #474747;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}
.block img {
	width: 100%;
	height: auto;
}
.block h3 {
	color: #090909;
	font-size: 20px;
	font-weight: normal;
	margin: 10px 0;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	text-align:center;
}

.block h3 a {
	color: #090909;
	text-decoration:none;
}
.block {
	margin: 18px 0;
	font-size: 15px;
	color: #3f434f;
}
.block-top-row {
	margin: 5px 0;
	font-size: 15px;
	color: #090909;
	font-family: 'Lato', sans-serif;
	width:100%;
	float:left;
}
.blocks-cont h1 {
	font-family: 'Lato', sans-serif;
	color: #666666;
	font-size: 32px;
	border-bottom: double 3px #e1e1e1;
	margin: 0px 15px 50px 0px;
}
.blocks-cont h1 span {
	background: #fff;
	position: relative;
	top: 18px;
	padding: 15px 5px;
}

.block-thumb {
	background: #f2f2f2;
}

.block-thumb a {
	text-decoration:none;
}
.block span {
	display: inline-block;
	padding: 0 10px;
	color: #090909;
	padding: 0px;
	margin: 0px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}
.block .days {
	font-family: 'Lato', sans-serif;
	color: #474747;
	font-size: 14px;
	font-weight: 700;
	line-height:32px;
	float:right;
}



.block .name {
	font-family: 'Lato', sans-serif;
	color: #474747;
	font-size: 14px;
	font-weight: 700;
}

.block .name a {
	color: #474747;
	text-decoration:none;
}
.block .category a{
	color:#000;
	text-decoration:none;
}
.block .review {
	line-height: 0px;
	padding: 0px 0px 0px -1px;
	margin: 0px;
}
.sign  {
	border: 1px #fff solid;
	width:auto;
	margin:0px;
	text-align:center;color:#fff!important;
}
.sign  .fa{
  padding-left: 15px;
  padding-right: 0px;
  float: right;
  padding-top: 5px;}
.sign a{
	color:#fff!important;
}
.btn-border {
	background: none !important;
	border: 2px solid #f1155a !important;
	color: #423338;
	transition: all ease-in-out 200ms;
}
.btn-border:hover {
	background: #f1155a !important;
	color: #fff !important;
}
.btn-lg {
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 12px 50px;
}
.site-footer {
	background: #000000;
	color: #fff;
	margin-top: 30px;
	position:static;
	bottom:0px;
}
.site-footer .footer-top {
	padding: 40px 0;
}
.site-footer .footer-top  span{
	padding-right:8px;
}
.site-footer .fa {
	font-size: 20px;
	color: #b8b8b8;
}
.site-footer .footer-top p {
	color: #b8b8b8;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
}
.site-footer .footer-top .copyright {
	text-transform: capitalize;
	line-height:26px;
}
.site-footer .footer-social {
	margin-bottom: 30px;
	float:right;
}
.site-footer .footer-social ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
.site-footer .footer-social ul li {
	list-style: none;
	display: inline-block;
	font-size: 25px;
	margin-right: 10px;
}
.site-footer .footer-social ul li a {
	color: #b8b8b8;
	transition: all ease-in-out 200ms;
}
.site-footer .footer-social ul li a:hover {
	color: #fff;
}
.develop {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #9c9c9c;
}
.tag {
	width: 76px;
	height: 77px;
	top: 0px;
	right: 0px;
	position: absolute;
	z-index: 999;
}
#feedback {
	height: 0px;
	width: 65px;
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 1000;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#feedback a {
	display: block;
	background: #777575;
	height: 65px;
	width: 165px;
	padding: 8px 16px;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-bottom: solid 1px #333;
	border-left: solid 1px #333;
	border-right: solid 1px #fff;
}
#feedback a:hover {
	background: #CCC;
}
.language  {
	padding: 20px 0px 0px 10px;
	width: auto;
	float: left;
	color: #666666;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	line-height: 32px;
	font-size: 16px;
	text-decoration: none;
}
.language  ul {
	margin:0px;
	padding:0px;
}
.language  ul li {
		list-style:none;
}
.language  ul li a{

	color: #666666;
	font-family: 'Lato', sans-serif;
	text-decoration:none;
}
/* banner-home */

.banner-home{
	
}
.banner-home .banner-block{
	width:33.33%;
	float:left;
/*	background:#000;
*/	position:relative;
}
.banner-home .banner-block .b-item{
	height:587px;
	opacity:0.8;
	transition:all ease-in-out 200ms;
}
.banner-home .banner-block:hover .b-item{
	opacity:1;
}
.banner-home .banner-block .owl-dots{
	text-align:right;
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	height:30px;
}
.banner-home .banner-block .owl-dots .owl-dot{
	display:inline-block;
	width:8px;
	height:8px;
	background:rgba(0,0,0,0.7);
	margin:0 2px;
	opacity:0;
	visibility:hidden;
	transition:all ease-in-out 200ms;
}
.banner-home .banner-block .owl-dots .owl-dot:hover{
	background:#000;
}
.banner-home .banner-block:hover .owl-dots .owl-dot{
	opacity:1;
	visibility:visible;
}


.banner-txt{
	position:absolute;
	background:#000;
	width:100%;
	bottom:0px;
	padding:15px 0px;
	text-align:center;z-index:999;
	opacity:0.5;
}
.banner-txt span a{
	font-family: 'Lato', sans-serif;
	font-size:36px;
	text-transform:capitalize;
	color:#fff;
	font-weight:300;
	text-decoration:none;
	text-transform:uppercase;
	
}
/* PRODUCT  */
.navbar-header {
    float: left;
    width: 100%;
}

.cart-item .fa{
	font-size:22px;
	color:#d7d7d7;
	padding-right:5px;
}
.cart-item a{
	font-family: 'Lato', sans-serif;
	color:#666666!important;
	font-size:18px;
	font-weight:400!important;
	text-transform:capitalize!important;
}
.total_cart{
	font-family: 'Lato', sans-serif;
	color:#666666;
	font-size:18px;
	font-weight:300;
}
.small_title{
	color:#666666;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:32px;
	text-align:left;
}

.top-bar{
	margin:15px 0px 0px 0px;
	padding:0px!important;
}
.sort-box{ 
background:#fff;
border:1px #ababab solid;
padding:7px 7px;
color:#666666;
 font-family: "Lato",sans-serif;
font-size: 17px;
min-width:95%;
float:left;
width:auto;
font-weight:300;
}


.sort-box span img{ 
float:right;
padding-top:10px;
}
.sort-box .normal { 
dispaly:block;
}

.sort-box .hover { 
display:none;
}
.cat  ul{
padding:10px 0px 0px 0px;
	
}
.cat li{
    display: block;
        color: #090909;
    display: block;
    font-family: "Lato",sans-serif;
    font-size: 20px;
    padding: 5px 0px 8px 0px;
	font-weight:normal;
    text-transform: capitalize;
    margin: 0;
	list-style:none;
	width:100%;
	float:left;
}

.cat li:last-child{
	padding-bottom:0px;
}
.cat  li a{
    display: block;
      color: #090909;
    display: block;
    font-family: "Lato",sans-serif;
    font-size: 20px;
	font-weight:normal;
    text-transform: capitalize;
    margin: 0;
	font-style:normal;
   
}
.cat  ul > li > ul > li {
    padding-left: 12px;
}
.cat  ul > li > ul > li > a {
    color: #686868;
    font-size: 15px;
    line-height: 32px;
}
.cat  ul > li > ul > li {
  color:#666666;
    font-size: 16px;
    line-height: 18px;
    background:url(../images/sub-link.png) 0px 10px no-repeat;
}
.cat  ul span{ color:#7e2e8e; position:absolute; top:18px; right:0;}
.cat l ul > li > ul > li > a:hover, .categories_panel ul > li > a:hover {
    color: #cb1f20;
    text-decoration: none;
}

.open-con{
	position:absolute;
	border-left:1px #ababab solid;
	border-bottom:1px #ababab solid;
	border-right:1px #ababab solid;
	border-top:1px #fff solid;
	background: #fff;
   padding: 4px 7px;
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 17px;
  width: auto;
  left:0px;
  font-weight: 300;
    min-width: 95%;
}


.open-con ul{
	margin:0px;
	padding:0px;
}

.open-con ul li{
	    font-family: "Lato",sans-serif;
		color:#666666;
		font-size:17px;
		border-bottom:1px #d5d5d5 solid;
		padding:2px 0px;
		list-style:none;
}


.open-con ul li:last-child{
	border-bottom:0px #d5d5d5 solid;
}
.top-con{
	border-bottom:1px #d5d5d5 solid;
	margin-bottom:35px;
	width:100%;
}

.switch-btn span{
	color:#666666;
	 font-family: "Lato",sans-serif;
	 font-weight:300;
	 font-size:18px;
	 line-height:43px;
}




.paginate.pag1 { float:right;min-width:403px;margin:40px 0px;}
 .paginate.pag1 ul{
	 margin:0px;
	 padding:0px;
 }
.paginate.pag1 li { font-weight: bold;list-style:none;}
 
.paginate.pag1 li a {
  display: block;
  float: left;
  color: #848484;
  background: #f6f6f6;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 6px;
  border-radius: 3px;
  border: solid 1px #c0c0c0;
  box-shadow: inset 0px 1px 0px rgba(255,255,255, .7), 0px 1px 3px rgba(0,0,0, .1);
  text-shadow: 1px 1px 0px rgba(255,255,255, 0.7);font-family: "Lato",sans-serif; font-weight:400;
}
.paginate.pag1 li a:hover {
  background: #eee;
  color: #555;
}
.paginate.pag1 li a:active {
  -webkit-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
  box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
}
 .paginate.pag1 li.single{
	   display: block;
  float: left;
  color: #848484;
  background: #f6f6f6;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 6px;
  border-radius: 3px;
  border: solid 1px #c0c0c0;
  box-shadow: inset 0px 1px 0px rgba(255,255,255, .7), 0px 1px 3px rgba(0,0,0, .1);
  text-shadow: 1px 1px 0px rgba(255,255,255, 0.7);font-family: "Lato",sans-serif; font-weight:400;

 }
.paginate.pag1 li.current {
  display: block;
  float: left;
  border: solid 1px #c0c0c0;
  padding: 5px 10px;
  margin-right: 6px;
  border-radius: 3px;
  color: #fff;
  background:#6c6c6c;
}

/* PRODUCT DETAIL */


.product-container{
	padding-top:50px;
}

.mainproDesc {
    margin-bottom: 20px;
    overflow: hidden;
}

.proImgSide {
    float: left;
	border:1px #d7d7d7 solid;
	height:380px;
	width:518px;
}

.containsSide {
    float: left;
}

.containsSide h1{
color:#666666;
font-family: "Lato",sans-serif;
font-size: 32px;
font-weight:normal;
line-height:30px;
padding:0px 0px 0px 0px;
margin:0px;
text-align:left;
float:left;
width:80%;
}
.containsSide .like{
float:left;
width:20%;
color:#000000;
font-family: "Lato",sans-serif;
font-size:14px;
font-weight:bold;
text-transform:uppercase;
}
.containsSide .like .fa{
	color:#ffb884;
	padding:0px 10px 0px 5px;
}
.containsSide h2  {
font-family: "Lato",sans-serif;
font-size: 16px;
font-weight: normal;
font-style:italic;
color: #414141;
line-height:24px;
margin:0px 0px;
width:auto;
float:left;
}
.containsSide p  {
font-family: "Lato",sans-serif;
font-size: 15px;
font-weight: normal;
color: #7c7c7c;
line-height:24px;
}

.containsSide span  {
font-family: "Lato",sans-serif;
font-size: 16px;
font-weight: bold;
color: #414141;
line-height:24px;
text-transform:uppercase;
font-style:normal;
}



.priceTag {
font-family: "Lato",sans-serif;
font-size: 16px;
color:#414141;
padding:0px;
font-weight:normal;
padding-top:10px;
float:right;
font-style:italic;


}
.priceTag span{
color:#414141;
font-family: "Lato",sans-serif;
font-size: 24px;
font-weight:bold;

}


.qty-wrapper label {
	color:#414141;
	font-family: "Lato",sans-serif;
	font-size:16px;
	font-weight:normal;
	float:left;
	padding-right:20px;
	font-style:italic;
	line-height:35px;
}
 .qty-wrapper .sort {
    float: left;
	width:50%;
}

 .qty-wrapper .sort select option {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
	font-size:16px;
	font-family: "Lato",sans-serif;
}
 .qty-wrapper .sort select{
	border:1px #d7d7d7 solid;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color: #fff;
    background-image:url(../images/arrow-down.png);
    background-position: 90% center;
    background-repeat: no-repeat;
    height: 35px;
    width: 100%;
	padding:0px 0px 0px 5px;
	color:#414141;
	font-size:16px;
	font-family: "Lato",sans-serif;
   
}
 .qty-wrapper .qty {
    float: left;
	width:30%;
}
 .qty-wrapper .qty input{
	border:1px #d7d7d7 solid;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color: #fff;
    height: 35px;
    width: 100%;
	padding:0px 0px 0px 5px;
	color:#414141;
	font-size:16px;
	text-align:center;
	font-family: "Lato",sans-serif;
   
}



.sort select option {
    border: 0 ;
    border-radius: 0;
    height: 35px;
	outline:0px;
	font-size:16px;
	font-family: "Lato",sans-serif;
	padding-left:20px;
		

}









.con_div .no-padding{
	padding:0px 15px 0px 0px;
}
.con_div{
    border-top: 1px solid #c7c7c7;
    float: left;
    margin-top: 10px;
   padding-bottom: 15px;
    width: 100%;
    padding-top: 15px;
}
.w-full{
	width:100%;
	float:left;
	clear:both;
}

.containsSide .w-full{
	margin:4px 0px;
}
.containsSide .review{
font-family: "Lato",sans-serif;
font-size: 16px;
font-weight: normal;
font-style:italic;
float:left;
padding-left:20px;
color:#414141;
}
.containsSide .review img{
	padding-right:3px;
}

.containsSide .block-top-row {
	margin: 5px 0;
	font-size: 15px;
	color: #090909;
	font-family: 'Lato', sans-serif;
	width:52%;
	float:left;
}
.containsSide .days {
	font-family: 'Lato', sans-serif;
	color: #474747;
	font-size: 14px;
	font-weight: 700;
	line-height:28px;
}


.con_div .like{
float:left;
width:100%;
color:#000000;
font-family: "Lato",sans-serif;
font-size:14px;
font-weight:bold;
text-transform:uppercase;
}
.con_div .like .fa{
	color:#b8b8b8;
	padding:0px 10px 0px 5px;
	font-size:14px;
}
.social ul {
	margin: 0;
	padding: 0;
}
.social ul li {
	list-style: none;
	display: inline-block;
	font-size: 25px;
	margin-right: 10px;
}
.social ul li a {
	color: #b8b8b8;
	transition: all ease-in-out 200ms;
}
.social ul li a:hover {
	color: #000;
}
.btn-cart {
  padding: 8px 15px;
  background: #e3e3e3;
  border: 2px #c2c2c2 solid;
  color: #000;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform:uppercase;
}

.btn-cart .fa{
	font-size: 18px;
	padding:0px 10px 0px 0px;
}







.openup-slider{
	margin:50px 0;
}
.openup-slider .item{
border:0px;
  min-height: 454px; 
  min-width: 268px;
}

.openup-slider .item img{
	opacity:1!important;
}

.openup-slider .owl-controls .owl-nav,
.place-slider .owl-controls .owl-nav,
.shop-slider .owl-controls .owl-nav{
	font-size:60px;
	color:#d2d3d5;
}
.openup-slider .owl-controls .owl-nav .owl-prev, 
.openup-slider .owl-controls .owl-nav .owl-next,
.place-slider .owl-controls .owl-nav .owl-prev, 
.place-slider .owl-controls .owl-nav .owl-next,
.shop-slider .owl-controls .owl-nav .owl-prev, 
.shop-slider .owl-controls .owl-nav .owl-next{
	position:absolute;
	height:60px;
	top:50%;
	margin-top:-30px;
	position:absolute;
}
.openup-slider .owl-controls .owl-nav .owl-prev,
.place-slider .owl-controls .owl-nav .owl-prev,
.shop-slider .owl-controls .owl-nav .owl-prev{
	left:-45px;
}
.openup-slider .owl-controls .owl-nav .owl-next,
.place-slider .owl-controls .owl-nav .owl-next,
.shop-slider .owl-controls .owl-nav .owl-next{
	right:-20px;
}
.openup-slider .owl-controls .owl-nav .owl-prev:hover, 
.openup-slider .owl-controls .owl-nav .owl-next:hover,
.place-slider .owl-controls .owl-nav .owl-prev:hover, 
.place-slider .owl-controls .owl-nav .owl-next:hover,
.shop-slider .owl-controls .owl-nav .owl-prev:hover, 
.shop-slider .owl-controls .owl-nav .owl-next:hover{
	color:#d2d3d5;
}


ul#thumblist{display:block;}
ul#thumblist li{float:left;margin-right:2px;list-style:none;}
ul#thumblist li a{display:block;border:1px solid #CCC;}
ul#thumblist li a.zoomThumbActive{
    border:1px solid red;
}

.jqzoom{

	text-decoration:none;
	float:left;
}


/* PRODUCT DETAIL */


/* PRODUCT CART */


.payment {
  height: auto;
  background: #fff;
  padding-bottom: 20px;
  width: 330px;
  margin-bottom: 20px;
  border: 2px #b8b8b8 solid;
  padding:0px 15px;
}
.payment h1{
	color:#414141;
	font-family: "Lato",sans-serif;
	font-size:16px;
	font-weight:bold;
	padding-bottom:10px;
	text-align:left;
	text-transform:uppercase;
}
.payment p{
	color:#414141;
	font-family: "Lato",sans-serif;
	font-weight:normal;
	padding-bottom:10px;
	font-size:16px;
	line-height:22px;
}

.cart-con{
	padding:35px 0px;
}
.cart-head h1{
	color:#666666;
	font-family: "Lato",sans-serif;
	font-size:32px;
	font-weight:normal;
	text-align:left;
	text-transform:uppercase;
	font-style:italic;
}

.cart-head hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #9e9e9e;
}

.cart-head p{
	color:#414141;
	font-family: "Lato",sans-serif;
	font-size:20px;
	font-style:italic;
	margin-bottom:25px;
	}
	
	
.cart-con .table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
  font-size:16px;
  color:#414141;
  font-family: "Lato",sans-serif;
  font-weight:bold;
  text-align:center;

}
	.cart-con .table>thead>tr>td {
	padding: 15px 8px 15px 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;

}
.cart-con .table>thead>tr>td {
	  text-align:center;
}

.cart-con .img-pro{
	width:159px;
}




.product-title{
	color:#414141;
	font-family: "Lato",sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height:35px;
	padding:25px 10px 0px 10px;
}

.product-price{
	color:#414141;
	font-family: "Lato",sans-serif;
	font-weight:normal;
	font-size:18px;
	padding:25px 10px 0px 10px;
	line-height:36px;
}

.table-blk {
    color: #8f9196;
    display: block;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 5px;
}
.table-blk {
    background:#fff;
    color: #1b4578;
    display: block;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 6px 0px 6px 0;
    text-align: right;
}
.total-cost span {
    color: #414141;
    font-family: "Lato",sans-serif;
    font-size: 20px;
    font-weight: bold;
	padding-left:20px;
}
.total-cost  {
    color: #414141;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.grand-cost  {
    color: #414141;
    font-family: "Lato",sans-serif;
    font-size: 20px;
    font-weight: bold;
	text-transform:uppercase;
}

.grand-cost span {
    color: #414141;
    font-family: "Lato",sans-serif;
    font-size: 20px;
    font-weight: bold;
	padding-left:20px;
}
.cart-con  span .fa{
	font-size:18px;
}


.del .fa{
	color:#b32929;
	font-size:20px;
	font-weight:600;
	margin:25px 0px;
	line-height:36px;
}

 .sub2 {
    margin: 25px auto;
    padding: 5px 5px;
    width: 75px;
	border:1px #dbdbdb solid;
}
.sub2A {
    float: left;
    margin: 0 0px 0 0;
    padding: 0;
    width: 72%;
	line-height:12px;
}
.sub2B {
    float: left;
    margin: 0;
    padding: 0;
    width: 23%;
	line-height:12px;
}

.sub2B .space_lower {
    height: 10px;
    margin: 0 0 1px;
    padding: 0;
}
.small_inputbox {
    background-color: #fff;
 font-size: 13px;
    margin: 0;
    padding: 5px 6px;
    width: 50px;
	border:none;
}
.proceed-checkout input{
	background:#000;
	padding:0px 20px;
	 font-family: "Lato",sans-serif;
    font-size: 20px;
    font-weight: normal;
	border:0px;
	color:#fff;
	line-height:45px;
	width:330px;
	text-transform:uppercase;
}

.continue-btn{
	padding:8px 27px;
	background:#e3e3e3;
	border:2px #c2c2c2 solid;
	color:#000000;
	font-family: "Lato",sans-serif;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	min-width:245px;
	display:block;
	float:left;
}
/* PRODUCT CART */

