</td>
    </tr>

    <tr>
    <td bgcolor="#000"><img src="{{skin url='images/flike-bottom.png'}}" alt="" ></td>
    </tr>
    </table>
    </td>
    </tr>
    
    <tr>
     <td bgcolor="#000" class="email-foot">
<table style="width: 100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" class="foot-link"><a href="{{store url='campaign/create/stepone'}}" class="links" target="_blank">Publish</a>    <a href="{{store url='men.html'}}" class="links" target="_blank">Shop</a>     <a href="{{store url='about'}}" class="link" target="_blank">About</a></td>
</tr>
  
  
  
<tr>
    <td align="center" class="foot-txt">flike is a design community for crowdfunded fashion. Talented designers upload and sell their best ideas on this platform. Customers find unique pieces at great value.</td>
</tr>
</table>
  
  
</td>
    </tr>
  </tbody>
</table>

 </center>
</div>

</body>
</html>

