
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Flike</title>
</head>

<body>
{{var non_inline_styles}}
<div>
<center>

<table class="wrapper-con" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td bgcolor="#000" class="header">
<table style="width: 100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="logo-email"><a href="{{store url=''}}" style="color: #fff; text-decoration: none;" target="_blank" ><img src="{{skin url='images/flike_logo.png'}}" alt=""></a></td>
<td align="right" class="social-icon">
<span><a href="http://www.facebook.com"><img src="{{skin url='images/fb-logo.png'}}" alt="" class="header-logo"></a></span>
<span><a href="http://www.twitter.com"><img src="{{skin url='images/twitter.png'}}" alt="" class="header-logo"></a></span>
<span><a href="http://www.instagram.com"><img src="{{skin url='images/instagram.png'}}" alt=""  class="header-logo-last"></a></span>

</td>
</tr>
</table>
</td>
    </tr>
    
    <tr>
    <td>
    
    <table style="width: 100%;"  cellpadding="0" cellspacing="0" >
    <tr>
      <td bgcolor="#fff" class="header-bg"><img src="{{skin url='images/flike-banner.png'}}" alt="" ></td>
    </tr>
 <tr>
      <td class="email-bg">
      