
 
 
<script type="text/javascript">
jQuery(document).ready(function($){
    $(".customer_country").unbind("change").bind("change", function(){
        
        var country_code = this.value;
        new Ajax.Request('<?php echo $this->getUrl('customer/ajax/getState')?>',
        {
        method:'get',
        parameters: {country_code: country_code},
        onSuccess: function(transport){
        var response = transport.responseText || "nothing in response text";
        //alert("Success! \n\n" + response);
        $(".country_region").html(response);
        },
        onFailure: function(){ alert('something wrong') }
        });
    });
    
    
    

     $(".tooltip-hover").hover(function(){
         $(".tooltip-text").removeClass("hidden");
         
     },function(){
         $(".tooltip-text").addClass("hidden");
         
     });
        
    
 $(".tooltip-hover").on("touchstart",function(){
            $(".tooltip-text").removeClass("hidden");
        });
$(".tooltip-hover").on('touchstart',function(e) {
    e.stopPropagation();
});

$("body").on("touchstart",function(){
             $(".tooltip-text").addClass("hidden");
        });
 
 
});












</script>



          
          <div>
                <ul  class="nav nav-tabs">
                    <li class="sign_area"><a href="javascript:void(0);">Sign up</a></li>
                   
                </ul>
            <div>
         <?php echo $this->getMessagesBlock()->toHtml() ?>
      
        <div class="tab-pane fade in active" id="customer">
            <form  enctype="multipart/form-data" method="post" action="<?php echo $this->getPostActionUrl() ?>" id="form_for_customer" class="scaffold-form">
                <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
                <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
<!--                <input type="hidden" name="group_id" value="1" />-->
                <?php echo $this->getBlockHtml('formkey'); ?>
          <div class="register">  
             <div class="col-sm-12 col-md-6 nopadding"> 
                 
              
                 
                    <div class="form-groups first-name">
                        <label>First name<span class="required"></span></label>
                          <div class="input-group">
                            <input id="firstname"  type="text" maxlength="255" title="First Name" value="" name="firstname" class="input-text required-entry" value="<?php echo $this->escapeHtml($this->getFormData()->getFirstname()) ?>">
                            
                          </div>
                        
                    </div>
                 
                    <div class="form-groups">
                         <label>Last name<span class="required"></span></label>
                           <div class="input-group">
                             <input id="lastname"  type="text" maxlength="255" title="Last Name" value="" name="lastname" value="<?php echo $this->escapeHtml($this->getFormData()->getLastname()) ?>" class="input-text required-entry">
                           </div>
                    </div>
                 
                 <div class="form-groups state">
                         <label>Gender</label>
                          
                         <div class="input-group">
                                <div class="regular-radio-con">
                                  <input type="radio" id="radio-2-1" name="gender" class="regular-radio big-radio" value="1" checked="checked"/>
                                  <label for="radio-2-1"></label>
                                  <span><i class="fa fa-male"></i></span>
                                </div>
                                <div class="regular-radio-con">
                                  <input type="radio" id="radio-2-2" name="gender" class="regular-radio big-radio" value="2"/>
                                  <label for="radio-2-2"></label>
                                  <span><i class="fa fa-female"></i></span>
                                </div>
                        </div>
                    </div>
                
                
                    <div class="form-groups state">
                         <label>Register as</label>
                          
                         <div class="input-group">
                                <div class="regular-radio-con">
                                  <input type="radio" id="radio-2-3" name="group_id" class="regular-radio big-radio" value="1" checked="checked" title="Customer"/>
                                  <label for="radio-2-3"></label>
                                  <span class="customer">Customer</i>
</span>
                                </div>
                                <div class="regular-radio-con">
                                  <input type="radio" id="radio-2-4" name="group_id" class="regular-radio big-radio" value="2" title="Designer"/>
                                  <label for="radio-2-4"></label>
                                  <span class="designer">Designer <a class="tooltip-hover" href="#"><img src="<?php echo $this->getSkinUrl('images/tooltip_hover.png');?>"></a>
                                  
                                  
                                                                            <div class="tooltip-text hidden">As a designer, you can create campaigns on flike.</div>

                                  
                                  
                                  </span>
                                  
                               
                                  
                                  
              
                                </div>
                        </div>
                    </div>
                
          
                 
            </div>
            
            
            
                 <div class="col-sm-12 col-md-6 nopadding">
                     <div class="r-right">
           
                     
                   <div class="form-groups">
                    <label>Email<span class="required"></span></label>
                      <div class="input-group">
                        <input id="email"  type="text" title="Email Address"  name="email" spellcheck="false" autocorrect="off" autocapitalize="off" value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>" class="input-text validate-email required-entry">
                      </div>
                  </div>
                
                
                   <div class="form-groups state">
                        <label>Password<span class="required"></span></label>
                        <div class="input-group">
                            <input id="password"  type="password"  name="password" class="input-text required-entry validate-password">
                        </div>
                   </div>
                
                
                   <div class="form-groups">
                        <label>Re-type password<span class="required"></span></label>
                        <div class="input-group">
                          <input id="confirmation"  type="password"  name="confirmation" class="input-text required-entry validate-cpassword">
                        </div>
                   </div>
                     </div>  
            </div>
            
            <div>
                <div class="col-sm-9 nopadding">

                      <div  class="regular-check">
                            <div class="chck"><input type="checkbox" class="regular-checkbox validate-checkbox" name="terms_and_conditions" id="is_subscribeds" value="1">
                                  <label for="is_subscribeds" id="checkbox_label"></label>
                            </div>
                              <div class="chklist">Accept <a href="<?php echo $this->getUrl('terms-of-use');?>">Terms of use</a> and <a href="<?php echo $this->getUrl('privacy-policy');?>">Privacy policy</a>
                            </div>
                     </div>
                </div>
                
                <div class="col-sm-3 nopadding">
                    <button class="submit" type="submit">Sign up</button>
                </div>
            </div>
            
           </div> 
            </form>
        </div>
         

        
            </div>
        </div>
    

<script type="text/javascript">
    //jQuery.noConflict();
    jQuery(document).ready(function($){
        $.noConflict();
        $('button').on('click', function(){
       
    });
    $('#myTab').tabCollapse();
    });
    
</script>
<script type="text/javascript">
    //< ![CDATA[
        var dataForm = new VarienForm('form_for_customer', true);
         //dataForm = new VarienForm('form_for_designer', true);
         Validation.add('validate-checkbox',' ',function(x){
            var n = jQuery("#is_subscribeds").is(':checked');
           jQuery("#checkbox_label").removeClass("terms_error");
            if(n === false){
                
                jQuery("#checkbox_label").addClass("terms_error");
                return false;
                
            }else{
                return true;
            }
    });
    //]]>
</script>