<?php
// Retrieve order

$_order = new Mage_Sales_Model_Order();
$orderId = Mage::getSingleton('checkout/session')->getLastRealOrderId();
$_order->loadByIncrementId($orderId);
$this->getdetails($orderId,$_order->getBaseGrandTotal());
?>
<h2>Please wait while redirecting you to paypal......</h2>
<!--<form name="mygatewayform" method="post" action="http://www.gateway.com/the_url_they_gave_me">
	<input type="hidden" name="orderid" value="<?php echo $orderId; ?>">
    <input type="hidden" name="grandtotal" value="<?php echo $_order->getBaseGrandTotal(); ?>">
</form>
<script type="text/javascript">
document.mygatewayform.submit();
</script>-->