<form id="opc-discount-coupon-form" action="<?php echo $this->getUrl('checkout/cart/couponPost', array('_secure' => $this->getRequest()->isSecure())) ?>" method="post">
    <div class="discount">
        <h1><?php echo $this->__('Discount Codes') ?></h1>
        <div class="discount-form">

            <div class="input-box">

                <input class="input-text" value="<?php echo $this->htmlEscape($this->getCouponCode()) ?>" name="coupon_code" id="coupon_code">
            </div>
            <div class="dicount-button">
                <input type="button" value="<?php echo $this->__('Apply') ?>" class="button apply-coupon apply_button" title="<?php echo $this->__('Apply') ?>">
                <?php if (strlen($this->getCouponCode())): ?>
                    &nbsp; <button type="button" title="<?php echo $this->__('Cancel') ?>" class="button remove-coupon right"  value="<?php echo $this->__('Cancel') ?>"><span><span><?php echo $this->__('Cancel') ?></span></span></button>
                <?php endif; ?>
            </div>
        </div>
    </div>

    <!--div class="discount">
        <div class="discount-form">
            <!--label for="coupon_code"><?php //echo $this->__('Enter your coupon code:')    ?></label-->            
            <!--div class="input-box">
                <input class="input-text" id="coupon_code" type="text" name="coupon_code" value="<?php //echo $this->htmlEscape($this->getCouponCode()) ?>" autocomplete="off"/>
            </div>
            <!--div class="dicount-button">
                <button type="button" title="<?php //echo $this->__('Apply') ?>" class="button apply-coupon"  value="<?php //echo $this->__('Apply') ?>"><span><span><?php //echo $this->__('Apply') ?></span></span></button>
                <?php //if (strlen($this->getCouponCode())): ?>
                    &nbsp; <button type="button" title="<?php //echo $this->__('Cancel') ?>" class="button remove-coupon right"  value="<?php //echo $this->__('Cancel') ?>"><span><span><?php //echo $this->__('Cancel') ?></span></span></button>
                            <?php //endif; ?>
            </div-->
        <!--/div-->
    <!--/div-->
</form>