
            <div class="contact">
                <h1><?php echo $this->__("About") ?></h1>
                <h2><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('about')->toHtml(); ?></h2>
                <div class="link-con">
                    <div class="col-sm-4 ">
                        <a  style="text-decoration:none;" href="<?php echo $this->getUrl('works') ?>"> 
                            <div class="box-link">
                                <div class="box-link-area">
                                    <div class="box-con">
                                        <p><img src="<?php echo $this->getSkinUrl('images/works-icon.png') ?>"></p>
                                        <h3><?php echo $this->__("How it works?") ?></h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a style="text-decoration:none;" href="<?php echo $this->getUrl('faqs') ?>"> 
                            <div class="box-link">

                                <div class="box-link-area">
                                    <div class="box-con">

                                        <p><img src="<?php echo $this->getSkinUrl('images/question-icon.png') ?>"></p>
                                       <h3><?php echo $this->__("Questions") ?></h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a style="text-decoration:none;" href="<?php echo $this->getUrl('about_us'); ?>"> 
                            <div class="box-link">
                                <div class="box-link-area">
                                    <div class="box-con">
                                        <p><img src="<?php echo $this->getSkinUrl('images/about-icon.png') ?>"></p>
                                        <h3 ><?php echo $this->__("About us") ?></h3>

                                    </div>
                                </div>
                            </div>
                        </a> 
                    </div>

                </div>

            </div>

