<ol>
    <?php foreach ($this->getItems() as $_item): ?>
        <li>
            <?php if ($_item->getCount() > 0): ?>
                <a href="<?php echo ($_item->isSelected()) ? $_item->getRemoveUrl() : $_item->getUrl() ?>">
                    <input type="checkbox"<?php if ($_item->isSelected()): ?> checked="checked" <?php endif; ?> />
                    <?php
                        //echo $_item->getLabel()
                    $pos = strpos($_item->getLabel(), "@");
                    if($pos === false){
                    ?>
                        <div class="colr-div" style="background:<?php echo $_item->getLabel();?>;">&nbsp;</div>
                    <?php 
                    }else{
                        $exp = explode("@",$_item->getLabel());
                        foreach($exp as $val){
                    ?>
                        <div class="colr-div" style="background:<?php echo $val;?>;float:left;">&nbsp;</div>
                        <?php }
                        
                        } ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        <span class="count">(<?php echo $_item->getCount() ?>)</span>
                    <?php endif; ?>
                </a>
            <?php else: ?>
                <span>
                    <?php //echo $_item->getLabel(); ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        <span class="count">(<?php echo $_item->getCount() ?>)</span>
                    <?php endif; ?>
                </span>
            <?php endif; ?>
        </li>
    <?php endforeach ?>
</ol>