
<?php if ($this->getMaxPriceFloat() != $this->getMinPriceFloat()) : ?>
    <div id="price-range" class="filter-track price-slider" style="display:block;width:230px;">
        <span id="price-min" class="filter-handle price-slider-from" title="Scroll to set your minimum value"></span>
        <span id="price-max" class="filter-handle price-slider-to" title="Scroll to set your maximum value"></span>
    </div>
    <ul>
        <li>
            <span id="price-min-display"><?php echo $this->getCurrentMinPriceFilter(); ?></span>
            <span style="float: right;" id="price-max-display"><?php echo $this->getCurrentMaxPriceFilter(); ?></span>
        </li>
    </ul>
    <div class="a-right" style="display:none">
        <button id="button-price-slider" class="button"
                onclick="javascript: CatalinSeoHandler.handlePriceEvent(this.value)" value="">
            <span><span><?php echo $this->__('Update') ?></span></span></button>
    </div>

    <script type="text/javascript">
        <?php if ($this->helper('catalin_seo')->isAjaxEnabled()): ?>
        CatalinSeoHandler.isAjaxEnabled = true;
        <?php endif; ?>
        CatalinSeoHandler.priceSlider.urlTemplate = '<?php echo $this->getUrlPattern(); ?>';
        CatalinSeoHandler.priceSlider.maxPrice = <?php echo $this->getMaxPriceFloat(); ?>;
        CatalinSeoHandler.priceSlider.minPrice = <?php echo $this->getMinPriceFloat(); ?>;
        CatalinSeoHandler.priceSlider.currentMinPrice = <?php echo $this->getCurrentMinPriceFilter(); ?>;
        CatalinSeoHandler.priceSlider.currentMaxPrice = <?php echo $this->getCurrentMaxPriceFilter(); ?>;
        CatalinSeoHandler.bindPriceSlider();
         
    </script>
<?php else: ?>
    <span><?php echo $this->__('Price filter not available.'); ?></span>
<?php endif; ?>