<?php  $_order = $this->getOrder() ?>
<?php if($this->helper('rss/order')->isStatusNotificationAllow()): ?>
    <a href="<?php echo $this->helper('rss/order')->getStatusHistoryRssUrl($_order) ?>" class="link-rss f-none"><?php echo $this->__('Subscribe to Order Status') ?></a>
    <span class="separator">|</span>
<?php endif; ?>
<?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
    <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
    <span class="separator">|</span>
<?php endif ?>

                <?php
                $ordered_items = $_order->getAllItems();
                $cancancel=false;
                foreach($ordered_items as $item){
                   $pro=Mage::getModel("catalog/product")->load($item->getProductId());
                        if($pro->getTypeID()=='configurable'){
                         if($pro->getCampaignStatus()=='308')
                         {$cancancel=true;
                         break;
                         }
                         
                        }
                    } 
                ?>
                
                    <?php if ($cancancel==true) :
                    
  if($_order->getStatusLabel() == "Processing" || $_order->getStatusLabel() == "Pending"){ ?>
    <a href="javascript:void(0)" onclick="cancelorder('<?php echo $this->getUrl('sales/order/cancel', array('order_id' => $_order->getId())) ?>')" class="link-cancel">
    
    <?php echo $this->__('Cancel') ?></a>
    <span class="separator">|</span>
<?php
}
endif; ?>
<a href="<?php echo $this->getPrintUrl($_order) ?>" class="link-print" onclick="this.target='_blank';"><?php echo $this->__('Print Order') ?></a>
<?php echo $this->getChildHtml(); ?>
<script>
    function cancelorder(canurl){
        var a=confirm("Do you really want to cancel your order?")
        if (a){
          window.location.href=canurl;
        }
    }
</script>