<div class="box-account box-recent">
<?php $_orders = $this->getOrders(); ?>
    <div class="box-head">
        <h2><?php echo $this->__('Recent orders') ?></h2>
        <?php if( sizeof($_orders->getItems()) > 0 ): ?><a href="<?php echo $this->getUrl('sales/order/history') ?>"><?php echo $this->__('View All') ?></a><?php endif; ?>
    </div>
<?php if( sizeof($_orders->getItems()) > 0 ): ?>
  
 <div class="table-responsive"> 
    <table class="data-table" id="my-orders-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
        <thead>
            <tr>
                <th><?php echo $this->__('Order #') ?></th>
                <th><?php echo $this->__('Date') ?></th>
                <th><?php echo $this->__('Ship To') ?></th>
                <th><span class="nobr"><?php echo $this->__('Order Total') ?></span></th>
                <th><?php echo $this->__('Status') ?></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($_orders as $_order): ?>
                <tr>
                    <td><?php echo $_order->getRealOrderId() ?></td>
                    <td><span class="nobr"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></span></td>
                    <td><?php echo $_order->getShippingAddress() ? $this->htmlEscape($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                    <td><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
                    <td><em><?php echo $_order->getStatusLabel() ?></em></td>
                    <td class="a-center">
                        <span class="nobr">
                        <a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a>
                        <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
                            <span class="separator">|</span> <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
                        <?php endif ?>
                        
                        <?php
                        $ordered_items = $_order->getAllItems();
                        $cancancel=false;
                        foreach($ordered_items as $item){
                           $pro=Mage::getModel("catalog/product")->load($item->getProductId());
                                if($pro->getTypeID()=='configurable'){
                                 if($pro->getCampaignStatus()=='308')
                                 {$cancancel=true;
                                 break;
                                 }
                                 
                                }
                            } 
                        ?>
                
                    <?php if ($cancancel==true) : 
                              if($_order->getStatusLabel() == "Processing" || $_order->getStatusLabel() == "Pending"){
                        ?>
                            <span class="separator">|</span>
                            <a href="javascript:void(0)" onclick="cancelorder('<?php echo $this->getUrl('sales/order/cancel', array('order_id' => $_order->getId())) ?>')"  class="link-cancel"><?php echo $this->__('Cancel') ?></a>
                              <?php }
                              endif ?>
                        </span>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    
    </div>
    <script type="text/javascript">decorateTable('my-orders-table')
    function cancelorder(canurl){
        var a=confirm("Do you really want to cancel your order?")
        if (a){
          window.location.href=canurl;
        }
    }
    </script>
<?php else: ?>
    <p><?php echo $this->__('You have placed no orders.'); ?></p>
<?php endif; ?>
</div>
