<?php 
$id      = $this -> getRequest()->getParam("id");

$product = Mage::getModel("catalog/product");
$product_id = $product->getIdBySku ( $id);
$product->load ( $product_id );
 $product->getId ();

?>

<script>
jQuery(document).ready(function($){
    
    //script to add product images
        $(document).on('change', '.add_product_image', function(e) {
            // $(".add_product_image").on('change',(function(e){
            e.preventDefault();
            $(".valid_image_type").removeClass("data_error").html("");
            
            var file = this.files[0];
           // var filename = file.name; // enter your file name here
           // alert(filename.match(/^\s*[a-z-._\d,\s]+\s*$/i));
            var ini_name = file.name;
            var  new_name = ini_name.replace(" ","_");
            var prop = 'name';
             file[prop] = new_name;
             //alert(file[prop]);
            var ext = new_name.split(".");
            ext[1] = ext[1].toLowerCase();
            if (ext[1] == "png" || ext[1] == "jpg" || ext[1] == "jpeg") {
                var pro_image = new FormData();
                pro_image.append('formData', file);
                $('.loading-other-image').html("<img src='<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>'>");
                $.ajax({
                    url: "<?php echo $this->getUrl('campaign/ajax/editproductimage') ?>",
                    type: "POST",
                    //data:  new FormData(this),
                    data: pro_image,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {
                       // alert(data); 
                        var arr = $.parseJSON(data);//alert(arr.designer_gallery_id);
                      
                        var image_path = "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'import/'; ?>" + arr.uploaded_image_name;
                        $(".uploaded_product_image_files").append("<p class='clearfix' ><span class=\"img_upload\"><img src=" + image_path + " width=\"32\" height=\"32\"></span><span class='img_upload'>" + arr.name + "</span><span class=\"cross\" ><a href=\"javascript:void(0);\" class=\"delete_gallery\" id='" + arr.uploaded_image_name + "'><img src=\"<?php echo $this->getSkinUrl('images/cross.png'); ?>\"></a></span><input type='hidden' class='der' name='product_image[]' value='" + arr.uploaded_image_name + "@#@"+ arr.name +"'></p>");
                        //alert(data);
                        //$("#pro_image").attr('value', '1');
                    $('.loading-other-image').html("");
                    },
                    error: function() {
                    }
                });
            } else {
                $(".valid_image_type").addClass("data_error").html("Allowed extension png | jpg | jpeg");
            }
            // }));
        });
        //script to add product images end
    
    
    
    
     //script to delete raw design

        $(document).on('click', '.delete_gallery', function(e) {
            var pro_image = this.id;
            //alert(this.id);
            //$(this).parent().parent().remove();
            $(this).parent().parent().remove();
            new Ajax.Request('<?php echo $this->getUrl('campaign/ajax/deleteeditedproimage') ?>',
                    {
                        method: 'get',
                        parameters: {pro_image: pro_image},
                        onSuccess: function(transport) {
                            var response = transport.responseText || "nothing in response text";
                            
                        },
                        onFailure: function() {
                            alert('something wrong')
                        }
                    });
        });
        //script to delete raw design end
    
    
});
</script>
    <div class="container"> 
        <div class="row">
           <form  enctype="multipart/form-data" method="post" action="<?php echo $this->getUrl("campaign/edit/editPost") ?>" id="form_for_customer" class="scaffold-form">
               <?php echo $this->getBlockHtml('formkey'); ?>   
               <input type="hidden" name="product_id" value="<?php echo $id;?>">
               <div class="steps-form" style="border:0px;margin:0px;">
                <div class="col-sm-12 nopadding">

                <h3>Edit campaign information</h3>
                    <div class="form-groups">
                      <label>Description</label>
                      <div class="input-groups">
                        <textarea name="product_description" rows="" cols="" class="required-entry"><?php echo $product -> getDescription();?></textarea>
                      </div>
                    </div>
                  </div>


 <div class="browse">
              
                        <div class="raw_fileUpload">
	 	<div class="upload-con"> 
         Browse Photos<br>
<input type="file" name="" value="1" size="40" class="upload add_product_image" id="uploadBtn" aria-required="true" aria-invalid="false">
	</div>
      </div>                  
       <div class="loading-other-image"></div>               
                                <div class="valid_image_type"></div>
                                <div class="uploaded_product_image_files">
                                   
                                </div> 
                                
</div>


                    <div class="col-sm-12">
                        <p class="text-center w-full">
                            <?php
                            $userid=$product ->getUserId();
                            $url=Mage::getUrl("designer/profile/index/id/".$userid);
                            
                            ?>
                            <button class="next_btn text-center" type="button" onclick="location.href='<?php echo $url?>'" >Back</button>
                        
                         <button class="next_btn text-center" type="submit"  >Update</button>
                        </p>
                        
                   
                    </div>

                </div> 
            </form>
        </div>

    </div>
<script type="text/javascript">
    //< ![CDATA[
        var dataForm = new VarienForm('form_for_customer', true);
    //]]>
</script>