<?php
$dataStepOne = Mage::getSingleton('core/session')->getStepOne();

$dataStepTwo = Mage::getSingleton('core/session')->getStepTwo();

$product_description = $this->getRequest()->getPost('product_description');
$campaign_url = $this->getRequest()->getPost('campaign_url');
$arr['product_description'] = $product_description;
$arr['campaign_url'] = $campaign_url;
Mage::getSingleton('core/session')->setStepThree($arr);
?>
<?php
$category = Mage::getModel('catalog/category')->load($dataStepOne['category_id']);
$sub_category = Mage::getModel('catalog/category')->load($dataStepOne['subcategory_id']);
$product_type = Mage::getModel('catalog/category')->load($dataStepOne['product_type']);
?>



<div  class="step-con ">
    <div>
        <div class="row">
            <form method="post" action="<?php echo $this->getUrl('campaign/create/stepthreepost') ?>"  id="form_for_stepthree">
                <?php echo $this->getBlockHtml('formkey'); ?>    
                <div class="preview-page steps-form"> 

                    <div class="campaign-head">Campaign summary</div>
                    <div class="campaign-summary">On the bottom, you may find all details which you entered in the last three steps. If the information entered below is correct, please publish your campaign. If not, you can always adjust any of the three steps. We will review your campaign and publish it in the shop if production is feasible. Thank you</div>
                    <div class="preview">
                        <div class="col-sm-12 col-md-12  nopadding">
                            <div class="col-sm-6  col-md-4 gap-preview">
                                <div class="step active-step"> <span class="step-txt"><a href="<?php echo $this->getUrl('campaign/create/stepone')?>" style="color:#666666;">Upload files</a></span> <span class="step-no">01</span> </div>
                            </div>
                        </div>

                        <p>&nbsp;</p>

                        <div class="col-sm-12 col-md-12  nopadding">
                            <div class="col-sm-6 col-md-6 nopadding">
                                <div class="form-groups">
                                    <label>Campaign name:</label>
                                    <div class="input-group">
                                        <label><?php echo $dataStepOne['campaign_name'] ?></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 nopadding">
                                <div class="form-groups">
                                    <label>Design for:</label>
                                    <div class="input-group">
                                        <label><?php echo $category->getName(); ?></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 nopadding">
                            <div class="col-sm-6 col-md-6  nopadding">
                                <div class="form-groups">
                                    <label>Sub category : </label>
                                    <div class="input-group">
                                        <label><?php echo $sub_category->getName(); ?></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6  nopadding">
                                <div class="form-groups">
                                    <label>Type : </label>
                                    <div class="input-group">
                                        <label><?php echo $product_type->getName(); ?></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-smd-10 nopadding">

                            <div class="col-sm-5 col-md-5 nopadding">

                                <div class="uploaded_raw_design_files">
                                    <?php
                                    $raw = Mage::getSingleton('core/session')->getRawDesign();
                                    if (is_array($raw) && count($raw) > 0) {
                                        foreach ($raw as $val) {
                                            $decode = json_decode($val);
                                            ?>
                                            <p class="clearfix"><span class="img_upload no_of_raw"><img src="<?php echo $this->getSkinUrl('images/upload-image.png'); ?>" width="32" height="32"></span><span class="img_upload"><?php echo $decode->name; ?></span></p>
                                            <?php
                                        }
                                    }
                                    ?>

                                </div>

                            </div>
                            
                            
                            
                             <div class="col-sm-5 col-md-5 nopadding">

                                <div class="uploaded_raw_design_files">
                                    <?php
                                    $pro = Mage::getSingleton('core/session')->getProductImage();
                                    if (is_array($pro) && count($pro) > 0) {
                                        foreach ($pro as $val) {
                                            $pro_decode = json_decode($val);
                                            
                                            ?>
                                            <p class="clearfix"><span class="img_upload no_of_raw"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'import/' . $pro_decode->uploaded_image_name; ?>" width="32" height="32"></span><span class="img_upload"><?php echo $pro_decode->name; ?></span></p>
                                            <?php
                                        }
                                    }
                                    ?>

                                </div>

                            </div>


                        </div>


                    </div>



                    <div class="preview">

                        <div class="col-sm-12 col-md-12 nopadding">
                            <div class="col-sm-6  col-md-4 gap-preview">
                                <div class="step active-step"> <span class="step-txt"><a href="<?php echo $this->getUrl('campaign/create/steptwo')?>" style="color:#666666;">Set features</a></span> <span class="step-no">02</span> </div>
                            </div>
                        </div>
                        <p>&nbsp;</p>

                        <div class="col-sm-12 col-md-12 nopadding">
                            <div class="col-sm-6 col-md-6 nopadding">


                                <div class="form-groups">
                                    <label>Sales target :</label>
                                    <div class="input-group">
                                        <label><i><?php echo $dataStepTwo['sales_target']; ?></i></label>
                                    </div>
                                </div>
                                <div class="form-groups">
                                    <label>Campaign duration :</label>
                                    <div class="input-group">
                                        <label><i><?php echo $dataStepTwo['campaign_duration']; ?></i></label>
                                    </div>
                                </div>

                                <?php
                                $color_type = $dataStepTwo['color_type'];
                                $color_value = $dataStepTwo['color_value'];
                                 foreach($color_value as $i => $j){
                                  if($color_value[$i] == ""){
                                      unset($color_value[$i]);
                                  }
                              }
                              $color_value = array_values($color_value);
                                $color_description = $dataStepTwo['color_description'];
                                ?>
                                <div class = "form-groups">
                                    <label>Choose color type :</label>
                                 
                                    <div class = "input-group">
                                        <?php if ($color_type == "0") {
                                            ?>
                                            <label><i><?php echo 'Single Color' ?></i></label> 

                                        <?php } else {
                                            ?>
                                            <label><i><?php echo 'Multiple Color' ?></i></label> 

                                        <?php } ?>

                                    </div>
                                  
                                </div>


                            </div>
                            <div class="col-sm-6  col-md-6 nopadding">

                                <p><label>Choose color set</label></p>

                               
                                    <?php 
                                    //print_r($color_value);
                                    if($color_value[0] != ''){
                                    //if(count($color_value)>0){
                                    foreach ($color_value as $key => $value) {
                                        ?>
                                <div class="preview-color">
                                        <div class="col-sm-3 nopadding">

                                            <?php
                                            if ($color_type == "1") {
                                                $exp = explode("@", $value);
                                                foreach ($exp as $col_val) {
                                                    ?>

                                                    <div class="colr-div" style="background-color:<?php echo $col_val; ?>">&nbsp;</div>

                                                    <?php
                                                }
                                            } else {
                                                ?>
                                                <div class="colr-div" style="background-color:<?php echo $value; ?>">&nbsp;</div>

                                                <?php
                                            }
                                            ?>
                                        </div>

                                        <div class="col-sm-9 col-md-9 nopadding">
                                            <?php echo $color_description[$key] ?> 
                                        </div>
                                        </div>
                                    <?php } }else{
                                        echo "please select color set to publish the campaign" ;
                                    }
                                    ?>

                            

                            </div>



                            <div class="col-sm-12  col-md-12 nopadding">

                                <div class="col-sm-6 col-md-6 gap-preview">
                                    <?php
                                        $product_feature     = $dataStepTwo['product_features'];
                                        $product_description = $dataStepTwo['product_description'];
                                        if($product_feature[0] != ""){
                                    ?>
                                    <div class="product-feature">
                                        <h1> Product features</h1>

                                        <?php
                                        
                                        
                                        foreach ($product_feature as $key => $val) {

                                            $prod_id = explode("_", $val);

                                            $product_feature = Mage::getModel('mapfeaturedprice/mapfeaturedprice')->load($prod_id[1]);
                                            $feature = $product_feature->getFeature();
                                          
                                        ?>

                                        <ul>
                                            <li><span class="feature-product"><?php echo $feature; ?></span><span class="feature-description"><?php echo $product_description[$prod_id[2]];?></span></li> 
                                            
                                        </ul>   
                                        <?php }?>
                                    </div>
                                        <?php } ?>
                                </div>

                                <div class="col-sm-6 col-md-6 nopadding">
                                    <?php  $special_feature = $dataStepTwo['special_features'];
                                    
                                    if (is_array($special_feature) && count($special_feature) > 0 && !empty($special_feature) && $special_feature[0] != "") {
                                    ?>
                                    <div class="product-feature">
                                        <h1>Special features</h1>

                                        <?php
                                        //$special_feature = $dataStepTwo['special_features'];

                                        

                                            for ($i = 0; $i < count($special_feature); $i++) {
                                                ?>
                                                <ul>
                                                    <li><?php echo $special_feature[$i]; ?></li> 

                                                </ul> 
                                                <?php
                                            }
                                        
                                        ?>

                                    </div>
                                    <?php } ?>
                                </div>

                            </div>



                            <div class="col-sm-12 col-md-12 nopadding">
                                <div class="estimate-price clearfix">
                                    <ul>
                                        <li> 
                                            <span class="estimate-text">
                                                <span>Estimated sales price :</span>
                                                <i class="fa fa-eur"></i>
                                                <span class="base_price"><?php echo $dataStepTwo['latest_base_price']; ?></span>
                                            </span> 
                                        </li>  



                                        <li> 
                                            <span class="estimate-text "><span>Estimated profit :</span> <i class="fa fa-eur"></i><span class="profit_price"><?php echo $dataStepTwo['latest_profit_price']; ?></span></span>

                                            </div>

                                        </li>
                                    </ul>
                                    </li> </div>
                            </div>




                            <div class="preview">

                                <div class="col-sm-12 col-md-12 nopadding">
                                    <div class="col-sm-6 col-md-4 gap-preview">
                                        <div class="step active-step"> <span class="step-txt"><a href="<?php echo $this->getUrl('campaign/create/stepthree')?>" style="color:#666666;">Add description</a></span> <span class="step-no">03</span> </div>
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                                <h1> Description</h1>


                                <h2><?php echo nl2br($arr['product_description']); ?></h2>
                                 <span class="url"> Url :</span><span class="url-site"><?php echo 'http://www.myflike.com/'.$arr['campaign_url']; ?></span>
                            </div>





                            <div class="step-btn"> 
                                <p class=" text-center"><a class="next-btn" href="<?php echo $this->getUrl('campaign/create/stepthree') ?>" style="color:#fff;text-decoration:none;">Back</a></p>
                                <?php if($color_value[0] != ''){ ?>
                                <button type="submit" class="next-btn">Publish</button>
                                <?php } ?>

                            </div>
                        </div>
                        </form>

                    </div>
                </div>
        </div>                            



