<?php $step2=  Mage::getSingleton('core/session')->getStepTwo(); 
if($step2['sales_target'] ){
    $sales_target = $step2['sales_target'];
}else{
    $sales_target = 0;
}

if($step2['campaign_duration']){
    $campaign_duration = $step2['campaign_duration'];
}else{
    $campaign_duration = 0;
}
?>
<script type="text/javascript">
    var hexDigits = new Array ("0","1","2","3","4","5","6","7","8","9","a","b","c","d","e","f"); 
    function rgb2hex(rgb) {
	if (!rgb) {
	   return false;
	}
	rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
	if (!rgb) {
	   return false;
	}
	return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
       }
   function hex(x) {
    return isNaN(x) ? "00" : hexDigits[(x - x % 16) / 16] + hexDigits[x % 16];
   }

   
  jQuery(function($) {
    $( "#slider" ).slider({
      
      range:false,
      step:10,
      min: 300,
      max: 1000,
      
     value: <?php echo $sales_target;?>,
    slide: function( event, ui ) {
        
    $('#sales-target').attr('value', ui.value);
    //my code
    
   
   
    var base_price     = $(".base_price").text();
    
    var profit_price;
   
    profit_price = ((2/3)*parseInt(ui.value))*(parseInt(base_price)*(15/100));
    profit_price=Math.ceil(profit_price)
    if (isNaN(profit_price)) {
	profit_price=0;
    }
    $(".profit_price").text(profit_price);
    $("#latest_profit_price").attr('value', Math.ceil(profit_price));
    //my code end
   }
      });

  });

  jQuery(function($) {
    $( "#slider1" ).slider({
       range:false,
       min: 30,
       max: 90,
       step:1,
       value: <?php echo  $campaign_duration;?>,
    slide: function( event, ui ) {
    $('#campaign').attr('value', ui.value);
    
    
   }
      });
 
  });
 
 jQuery(document).ready(function($) {
     
    $('.colr-div').ColorPicker({
	
	onShow: function (colpkr) {
		$(colpkr).fadeIn(500);
		return false;
	
	},
	onHide: function (colpkr) {
		$(colpkr).fadeOut(500);
		return false;
	},
	onChange: function (hsb, hex, rgb,el) {
		//$('.colr-div').css('backgroundColor', '#' + hex);
                // alert(hex);
		$(el).css('backgroundColor', '#' + hex);
		
	},
	onSubmit: function(hsb, hex, rgb, el) {
            
                var color_type =  $("#color_type").val();
                if(color_type == "0"){
                    $(el).parent().find('input[type=hidden]').attr('value', '#'+hex);
                }else{
                   var existing_value =  $(el).parent().find('input[type=hidden]').val();
                   var new_value;
                   if(existing_value){
                       //new_value = existing_value+'@#'+hex;
		       oldcolor=$(el).css("background-color");
			oldcolor=rgb2hex(oldcolor);
			var n = existing_value.indexOf(oldcolor);
		       
				if (n>-1){
				    new_value=existing_value.replace(oldcolor, "#"+hex); 
				}else{
				   new_value = existing_value+'@#'+hex;
				}
			    
                   }else{
                       new_value = '#'+hex;
                   }
                    
                   $(el).parent().find('input[type=hidden]').attr('value', new_value);
                }
                $(el).ColorPickerHide();
		$(el).css('backgroundColor', '#' + hex);
		
	}
    });
    
    
    function colorToHex(color) {
        if (color.substr(0, 1) === '#') {
            return color;
        }
        var digits = /(.*?)rgb\((\d+), (\d+), (\d+)\)/.match(color);

        var red = parseInt(digits[2]);
        var green = parseInt(digits[3]);
        var blue = parseInt(digits[4]);

        var rgb = blue | (green << 8) | (red << 16);
        return digits[1] + '#' + rgb.toString(16);
    };
    
    $(document).on('click', '.minuscolor', function(e){
        if($(this).parent().parent().find(".colr-div").length > 1){
            var color_val = $(this).parent().parent().find(".color_hidden").val();
            
            if(color_val){
               var style_val =  $(this).parent().parent().find(".colr-div").last().attr("style");
	       
               if(style_val){
                    var exp = style_val.split(":");
                    var rgb = exp[1].split(";");
		    
                    var color_code = colorToHex(rgb[0]);

                    var color_exp = color_val.split("@");

                    color_exp.splice($.inArray(color_code, color_exp),1);

                    var final = color_exp.join("@ ");

                    $(this).parent().parent().find(".color_hidden").attr("value", final);
                }
            }
            $(this).parent().parent().find(".colr-div").last().remove();
            
            
        }
    });
    
     $('body').on('click', '.addcolor', function(e) {

        var htmlcontent='<div class="colr-div">&nbsp;</div>';
	if($(this).parent().parent().find(".pickers .colr-div").length < 4){	    
	$(this).parent().parent().find(".pickers").append(htmlcontent);
	
	$('.colr-div').ColorPicker({
	
            onShow: function (colpkr) {
                    $(colpkr).fadeIn(500);
                    return false;

            },
            onChange: function (hsb, hex, rgb,el) {
                    //$('.colr-div').css('backgroundColor', '#' + hex);
                    $(el).css('backgroundColor', '#' + hex);
            },
            onSubmit: function(hsb, hex, rgb, el) {
                   
                    var color_type =  $("#color_type").val();
                    if(color_type == "0"){
                        $(el).parent().find('input[type=hidden]').attr('value', '#'+hex);
                    }else{
                       var existing_value =  $(el).parent().find('input[type=hidden]').val();
                       var new_value;
                       if(existing_value){
                           //new_value = existing_value+'@#'+hex;
			   oldcolor=$(el).css("background-color");
					
					if (oldcolor!='transparent' || oldcolor!='rgba(0, 0, 0, 0)') {
					  
					oldcolor=rgb2hex(oldcolor);
					var n = existing_value.indexOf(oldcolor);
				       
						if (n>-1){
						    new_value=existing_value.replace(oldcolor, "#"+hex); 
						}else{
						   new_value = existing_value+'@#'+hex;
						}
					}else{
					    
					   new_value = existing_value+'@#'+hex; 
					}
					
                       }else{
                           new_value = '#'+hex;
                       }

                       $(el).parent().find('input[type=hidden]').attr('value', new_value);
                    }
                   
                    $(el).css('backgroundColor', '#' + hex);
		    $(el).ColorPickerHide();

            }
        });
    }
	
    });
    
    $(document).on('click', '.colr-div', function(e) {

	
	$('.colr-div').ColorPicker({
	
            onShow: function (colpkr) {
                    $(colpkr).fadeIn(500);
                    return false;

            },
            onChange: function (hsb, hex, rgb,el) {
                    //$('.colr-div').css('backgroundColor', '#' + hex);
                    $(el).css('backgroundColor', '#' + hex);
            },
            onSubmit: function(hsb, hex, rgb, el) {
                
                    var color_type =  $("#color_type").val();
                    if(color_type == "0"){
                        $(el).parent().find('input[type=hidden]').attr('value', '#'+hex);
                    }else{
                       var existing_value =  $(el).parent().find('input[type=hidden]').val();
                       var new_value;
                       if(existing_value){
                           //new_value = existing_value+'@#'+hex;
			   
			   oldcolor=$(el).css("background-color");
					
					if (oldcolor!='transparent') {
					   
					oldcolor=rgb2hex(oldcolor);
					var n = existing_value.indexOf(oldcolor);
				       
						if (n>-1){
						    new_value=existing_value.replace(oldcolor, "#"+hex); 
						}else{
						   new_value = existing_value+'@#'+hex;
						}
					}else{
					    
					   new_value = existing_value+'@#'+hex; 
					}
			   
			   
                       }else{
                           new_value = '#'+hex;
                       }

                       $(el).parent().find('input[type=hidden]').attr('value', new_value);
                    }
                   $(el).ColorPickerHide();
                   $(el).css('backgroundColor', '#' + hex);

            }
        });
	
    });
    
    
    
    
    $(".tool-tip").hover(function(){
            $(this).find('.details-text').removeClass('hidden');
        },function(){
            $(this).find('.details-text').addClass('hidden');
        });


        $(".tool-tip").hover(function(){
            $(this).find('.details-text-1,.details-text-2').removeClass('hidden');
        },function(){
            $('.details-text-1,.details-text-2').addClass('hidden');
        });

	

$(".tool-tip").on("touchstart",function(){
            $(this).find('.details-text-1').removeClass('hidden');
	    $(this).find('.details-text-2').removeClass('hidden');
	    $(this).find('.details-text').removeClass('hidden');
        });
$(".tool-tip").on('touchstart',function(e) {
    e.stopPropagation();
});

$("body").on("touchstart",function(){
            $(this).find('.details-text-1').addClass('hidden');
	     $(this).find('.details-text-2').addClass('hidden');
	      $(this).find('.details-text').addClass('hidden');
        });
       
        $(document).on('click', '.adddes', function(e) {
            var htmlcontent='<div class="add-desr"><input name="color_description[]" value="" type="text" ><button class="btn btn-default color_add_description" type="button" id="1_20">Add</button></div>';
            $(this).parent().after(htmlcontent);
            $(this).parent().html('<a style="text-decoration:none;" href="javascript:void(0)" class="removedes">Remove</a>');
        });
        
        $(document).on('click', '.removedes', function(e) {
            var htmlcontent='';
             $(this).parent().next().remove();
            $(this).parent().after(htmlcontent);
            $(this).parent().html('<a style="text-decoration:none;" href="javascript:void(0)" class="adddes">+Add description</a>');
           
        });

        $("#addfeature").unbind("click").bind("click", function(){
           // alert($(".special_feature").length);
            if($(".special_feature").length < 5){
               
                var htmlcontent = '<div class="closest_group"><input  name="special_features[]"  type="text" class="special_feature" > <span class="input-group-btn"><button class="btn btn-default special_feature_add_price" type="button" id="1_30">Add</button></span> <a style="text-decoration:none;" href="javascript:void(0)" class="removefeature">Remove</a></div>';
                if($(".special_feature").length == "1") {
                    $("#addfeature").parent().after(htmlcontent);
                }else{
                   // $("#addfeature").parent().next().after(htmlcontent);
                   $("#addfeature").parent().parent().append(htmlcontent);
                }
                
            }
   
        //$("#add_feature").append(htmlcontent);
        });
        
        
        $(document).on('click', '.removefeature', function(e) {
            //alert($(".removefeature").length);
             $(this).parent().remove();
        });
        
        
        
        
        
        var frmset;
       
        $('#add-set').on('click',function() {
          
         var color_type = $("#color_type").val();
         if(color_type == "0"){
	    
             frmset='<div class="form-groups">'+$("#single-color").html()+'</div>';
         }else{
	    $("#multiple-color .append_color_type").html('<div class="pickers"><div class="colr-div">&nbsp;</div><input type="hidden" class="color_hidden" name="color_value[]" value=""></div><div  class="add-color"><a style="text-decoration:none;" href="javascript:void(0)" class="addcolor"> <i class="fa fa-plus-circle"></i></a><a style="text-decoration:none;" href="javascript:void(0)" class="minuscolor"> <i class="fa fa-minus-circle"></i></a></div>');
             frmset='<div class="form-groups">'+$("#multiple-color").html()+'</div>';
         }
	 $("#color-panel").append('<div class="add"><a style="text-decoration:none;" href="javascript:void(0)" class="remove-set" id="fdgd">- Remove Color</a></div>');
          $("#color-panel").append(frmset);
	  
	 
          
          
          
          $('.colr-div').ColorPicker({
	
            onShow: function (colpkr) {
                    $(colpkr).fadeIn(500);
                    return false;

            },
            onChange: function (hsb, hex, rgb,el) {
                    //$('.colr-div').css('backgroundColor', '#' + hex);
                    $(el).css('backgroundColor', '#' + hex);
            },
            onClick: function (hsb, hex, rgb,el) {
                    //$('.colr-div').css('backgroundColor', '#' + hex);
                    $(el).css('backgroundColor', '#' + hex);
            },
            onSubmit: function(hsb, hex, rgb, el) {
                
                    var color_type =  $("#color_type").val();
                    if(color_type == "0"){
                        $(el).parent().find('input[type=hidden]').attr('value', '#'+hex);
                    }else{
                       var existing_value =  $(el).parent().find('input[type=hidden]').val();
                       var new_value;
                       if(existing_value){
                           //new_value = existing_value+'@#'+hex;
			   
			   oldcolor=$(el).css("background-color");
					
					if (oldcolor!='transparent') {
					   
					oldcolor=rgb2hex(oldcolor);
					var n = existing_value.indexOf(oldcolor);
				       
						if (n>-1){
						    new_value=existing_value.replace(oldcolor, "#"+hex); 
						}else{
						   new_value = existing_value+'@#'+hex;
						}
					}else{
					    
					   new_value = existing_value+'@#'+hex; 
					}
                       }else{
                           new_value = '#'+hex;
                       }

                       $(el).parent().find('input[type=hidden]').attr('value', new_value);
                    }
                    
                    $(el).css('backgroundColor', '#' + hex);
		    $(el).ColorPickerHide();

            }
        });
        });
        
        
        
        $( ".facacc" ).accordion({
              collapsible: true, 
              active:false,
              animated: 'bounceslide', 
              autoHeight: false
        });
        
        
        
        
        $(".color_type").on('change',function(){
             var type = this.value;
           
             if(type == "0"){
                 $(".append_color_type").html('<div class="pickers"><div class="colr-div">&nbsp;</div><input type="hidden" class="color_hidden" name="color_value[]" value=""></div>');
             }
             if(type == "1"){
                 var x = $(".append_color_type").find(".add-color").length;
                 //alert(x);
                 if(x == "0" || x == "1"){
                    $(".append_color_type").append('<div  class="add-color"><a style="text-decoration:none;" href="javascript:void(0)" class="addcolor"> <i class="fa fa-plus-circle"></i></a><a style="text-decoration:none;" href="javascript:void(0)" class="minuscolor"> <i class="fa fa-minus-circle"></i></a></div>');
                 }
             }
         });
         
       
        $(document).on('click', '.remove-set', function(e) {
            
            $(this).parent().next().remove();
            $(this).remove();
        });
        
        $(".nofeature_add_price").click(function(){
            
            var button_id = this.id;
            var exp = button_id.split("_");
            var checkbox_id = exp[0];
            var price = exp[1];
            var description_class = checkbox_id+"_"+Math.abs(price);
            
            
            if($("#"+checkbox_id).is(':checked')){
                //alert(description_class);
                var description_id = $("."+description_class).attr('id');
                if($("#"+description_id).val() == ""){
                    //alert("Please enter description");
                    $("#"+description_id).attr('placeholder', '<font color="red">Please enter description</font>')
                }else{
                    var base_price = $(".base_price").text();
                    var final_price = parseInt(base_price) + parseInt(price);
                    $(".base_price").text(final_price);
                    $("#latest_base_price").attr('value', final_price);
                    var sales_target = $("#sales_target").val();
                    if(sales_target){
                        //my code
    
                        
                        

                        var profit_price;
                         
                       profit_price = ((2/3)*parseInt(sales_target))*(parseInt(base_price)*(15/100));
		       profit_price=Math.ceil(profit_price)
			if (isNaN(profit_price)) {
			    profit_price=0;
			}
			$(".profit_price").text(profit_price);
                       
                        $("#latest_profit_price").attr('value', Math.ceil(profit_price));
                        //my code end
                    }
                }
                
            }else{
                
                alert("Please select the feature first");
            }
            
            
        });
        
       $(".regular-checkbox1").unbind("click").bind("click", function(){
           var id = this.id;
          
           
           //real logic
           if($("#"+id).is(':checked')){
               
                var value = $("#"+id).val();
                var exp = value.split("_");
                var price = exp[0];
                var fixed_base_price = $("#fixed_base_price").val();
                var base_price  = $(".base_price").text();
                var sales_target = $("#sales-target").val();
                 var final_price = parseInt(base_price) + parseInt(price);
                    $(".base_price").text(final_price);
                    $("#latest_base_price").attr('value', final_price);
                     
                        if(sales_target != ""){
                            base_price  = $("#latest_base_price").val();
                            //my code

                           


                            var profit_price ;
                            profit_price = ((2/3)*parseInt(sales_target))*(parseInt(base_price)*(15/100));
                            profit_price=Math.ceil(profit_price)
			    if (isNaN(profit_price)) {
				profit_price=0;
			    }
			    $(".profit_price").text(profit_price);
                           
                             $("#latest_profit_price").attr('value', Math.ceil(profit_price));
                            //my code end
                        }
           }else{
                var value = $("#"+id).val();
                var exp = value.split("_");
                var price = exp[0];
                var fixed_base_price = $("#fixed_base_price").val();
                var base_price       = $(".base_price").text();
                var sales_target = $("#sales-target").val();
                 var final_price = parseInt(base_price) - parseInt(price);
                    if (isNaN(final_price)) {
			final_price=0;
		    }
		    $(".base_price").text(final_price);
                    
		    $("#latest_base_price").attr('value', final_price);
                     
                        if(sales_target != ""){
                            base_price  = $("#latest_base_price").val();
                            //my code
                          //  alert(sales_target);
                            var profit_price ;
                           
                            profit_price = ((2/3)*parseInt(sales_target))*(parseInt(base_price)*(15/100));
			    profit_price=Math.ceil(profit_price)
			    if (isNaN(profit_price)) {
				profit_price=0;
			    }
			    $(".profit_price").text(profit_price);
    
                           
                             $("#latest_profit_price").attr('value', Math.ceil(profit_price));
                            //my code end
                        }
           }
           //end
          
       });
       
       
       
       $(".feature_add_price").unbind("click").bind("click", function(){
           var id = this.id;
           
           var button_val = $(this).text();
           if(button_val == "Add"){
               
                var desc =  $(this).parent().parent().find('input[type=text]').val();
                if(desc != ""){
                    $(this).text("Edit");
                    $(this).parent().parent().find('input[type=text]').attr('readonly', "readonly");
                }
                
            }else{
                 var desc =  $(this).parent().parent().find('input[type=text]').val();
                if(desc != ""){
                    $(this).text("Add");
                    $(this).parent().parent().find('input[type=text]').removeAttr('readonly');
                }
            }
       });
       
       $(document).on('click', '.color_add_description', function(e) {
      // $(".color_add_description").unbind("click").bind("click", function(){
           var id = this.id;
           
           var button_val = $(this).text();
           if(button_val == "Add"){
               
                var desc =  $(this).parent().parent().find('input[type=text]').val();
                if(desc != ""){
                    $(this).text("Edit");
                    $(this).parent().parent().find('input[type=text]').attr('readonly', "readonly");
                }
                
            }else{
                 var desc =  $(this).parent().parent().find('input[type=text]').val();
                if(desc != ""){
                    $(this).text("Add");
                    $(this).parent().parent().find('input[type=text]').removeAttr('readonly');
                }
            }
       });
       
        $(document).on('click', '.special_feature_add_price', function(e) {
        //$(".special_feature_add_price").unbind("click").bind("click", function(){
           var id = this.id;
           
           var button_val = $(this).text();
           if(button_val == "Add"){
               
                var desc =  $(this).parent().closest('.closest_group').find('input[type=text]').val();
                
                if(desc != ""){
                    $(this).text("Edit");
                    $(this).parent().closest('.closest_group').find('input[type=text]').attr('readonly', "readonly");
                }
                
            }else{
                 var desc =  $(this).parent().closest('.closest_group').find('input[type=text]').val();
                if(desc != ""){
                    $(this).text("Add");
                    $(this).parent().closest('.closest_group').find('input[type=text]').removeAttr('readonly');
                }
            }
       });
       
       
       var isMobile = false; //initiate as false
    // device detection
    if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
        || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))){
        isMobile = true;
    }
    if(isMobile === true){
        $("#sales-target").removeAttr('readonly').addClass("validate-sales");
        $("#campaign").removeAttr('readonly').addClass("validate-campaign");
    }
});
</script>
<?php 
     $product_type = Mage::getSingleton('core/session')->getProductType();
?>

<div  class="step-con">
     <form  enctype="multipart/form-data" method="post" action="<?php echo $this->getUrl('campaign/create/steptwopost')?>" id="form_for_steptwo">
    <div >
            <div class="row">
               
                <div class="col-sm-4 gap-right">
                        <div class="step step-over"> <span class="step-txt"><a href="<?php echo $this->getUrl('campaign/create/stepone')?>" style="color:#666666;">Upload files</a></span> <span class="step-no ">01</span> </div>
                </div>
                 <div class="col-sm-4 gap-right">
                     <div class="step active-step"> <span class="step-txt">Set features</span> <span class="step-no">02</span> </div>
                </div>
                <div class="col-sm-4 gap-right-last">
                        <div class="step"> <span class="step-txt">Add description</span> <span class="step-no">03</span> </div>
                </div>
                
                </div>
                </div>
                    <div>
            <div>
                    <div class="campaign-form">
                <div class="col-sm-12 space">
                    <div class="col-sm-5 nopadding">
                            <div class="form-groups">
                                <label>Sales target</label>
                                <div class="input-group">
                                    <?php  if($sales_target == 0){$sales_target = "300";}?>
                                        <input name="sales_target"  type="text" id="sales-target" readonly class="required-entry" value="<?php echo $sales_target;?>">
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-7 nopadding">
                            <div class="slider-groups">
                                <label>Units</label>
                                <div class="slider-groups-field">
                                        <div class="unit text-center"> 300</div>
                                        <div class="slider" id="slider"></div>
                                        <div class="unit text-left"> 1000</div>
                                        <div  class="tool-tip"><a href="#"><img src="<?php echo $this->getSkinUrl('images/tool-tip.png');?>"></a>
                                            <div class="details-text hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean justo urna, vesti bulum varius risus eget, mattis tincidunt elit.</div>
                                         </div>
                               </div>
                      </div>
                   </div>
          </div>
                <div class="col-sm-12 space">
            <div class="col-sm-5 nopadding">
                    <div class="form-groups">
                <label>Campaign duration</label>
                <div class="input-group">
                     <?php  if($campaign_duration == 0){$campaign_duration = "30";}?>
                        <input name="campaign_duration" type="text" id="campaign" readonly class="required-entry" value="<?php echo $campaign_duration;?>">
                      </div>
              </div>
                  </div>
            <div class="col-sm-7 nopadding">
                    <div class="slider-groups">
                <label>Days</label>
                <div class="slider-groups-field">
                        <div class="unit text-center"> 30</div>
                        <div class="slider" id="slider1"></div>
                        <div class="unit text-left"> 90</div>
                        <div  class="tool-tip"><a href="#"><img src="<?php echo $this->getSkinUrl('images/tool-tip.png');?>"></a>
                    <div class="details-text hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean justo urna, vesti bulum varius risus eget, mattis tincidunt elit.</div>
                  </div>
                      </div>
              </div>
                  </div>
          </div>
                        <?php 
                              $color_type  = $step2['color_type'];
                              $color_value = $step2['color_value'];
                              foreach($color_value as $i => $j){
                                  if($color_value[$i] == ""){
                                      unset($color_value[$i]);
                                  }
                              }
                              $color_value = array_values($color_value);
                              $color_description = $step2['color_description'];
                             
                         ?>
                       
                <div class="col-sm-12 space" >
            <div class="col-sm-5 nopadding">
                    <div class="form-groups">
                <label>Choose color type</label>
                <div class="input-group">
                        <select name="color_type" class="color_type" id="color_type">
                            <option value="0" <?php if($color_type == "0") { ?>selected="selected" <?php } ?>>Single Color</option>
                            <option value="1" <?php if($color_type == "1") { ?>selected="selected" <?php } ?>>Multiple Color</option>
                        </select>
                      </div>
              </div>
             </div>
             
            <div class="col-sm-7 nopadding">
                    <div class="color-set">
                  <div class="add"><a style="text-decoration:none;" href="javascript:void(0);" id="add-set">+Add new colors </a></div>  
                  <?php if($color_type == "0"){ 
                      if(is_array( $color_value ) && count( $color_value ) > 0){
                      foreach($color_value as $key => $value){
                         
                          //if($value != ""){
                           
                          $hex = $value;
                          list($r, $g, $b) = sscanf($hex, "#%02x%02x%02x");
                          $color_val =   $r.','. $g.', '. $b;
                  ?>
                <div class="form-groups" id="frmgrp">
                        <label>Choose color set</label>
                        <div class="input-group">
                            <div class="colors append_color_type">
                                    <div class="pickers">
                                         
                                        <div class="colr-div" style="background-color: rgb(<?php echo $color_val;?>);">&nbsp;</div>
                                        <input type="hidden" class="color_hidden" name="color_value[]" value="<?php echo $value;?>">
                                    </div>
                                    
        <!--                            <div  class="add-color"><a style="text-decoration:none;" href="javascript:void(0)" class="addcolor"> <i class="fa fa-plus-circle"></i></a></div>-->
                            </div>
                            <?php if( $color_description[$key] == ""){ ?>
                            <div class="add-des"><a style="text-decoration:none;" href="javascript:void(0)" class="adddes">+Add description</a></div>
                            <?php }else{ ?>
                            <div class="add-des"><a style="text-decoration:none;" href="javascript:void(0)" class="removedes">Remove</a></div>
                            <div class="add-desr"><input name="color_description[]" value="<?php echo $color_description[$key];?>" type="text" readonly><button class="btn btn-default color_add_description" type="button" id="1_20">Edit</button></div>
                            <?php }?>
                        </div>
                 </div>
                  
		  <?php if($key < count($color_value) - 1 ){ ?>
                  <div class="add">
                    <a id="fdgd" class="remove-set" href="javascript:void(0)" style="text-decoration:none;">Remove  Color</a>
                </div>
                <?php } ?>
                      <?php }}}//}
                
                if($color_type == "1"){  
                      if(is_array( $color_value ) && count( $color_value ) > 0){
                        foreach($color_value as $key => $values){
                            if($values != ""){
                ?> 
                  
                  
                  <div class="form-groups" id="frmgrp">
                        <label>Choose color set </label>
                        
                        <div class="input-group">
                            <div class="colors append_color_type">
                                    <div class="pickers">
                                         <input type="hidden" class="color_hidden" name="color_value[]" value="<?php echo $values;?>">
                                         <?php $exp = explode("@",$values); 
                                            foreach($exp as $val){
                                                $hex = $val;
                                                list($r, $g, $b) = sscanf($hex, "#%02x%02x%02x");
                                                $color_vals =   $r.','. $g.', '. $b;
                                         ?>
                                        <div class="colr-div" style="background-color: rgb(<?php echo $color_vals;?>);">&nbsp;</div>
                                            <?php } ?>
                                        
                                    </div>
                                    
                                    <div  class="add-color"><a style="text-decoration:none;" href="javascript:void(0)" class="addcolor"> <i class="fa fa-plus-circle"></i></a><a style="text-decoration:none;" href="javascript:void(0)" class="minuscolor"> <i class="fa fa-minus-circle"></i></a></div>
                            </div>
                           <?php if( $color_description[$key] == ""){ ?>
                            <div class="add-des"><a style="text-decoration:none;" href="javascript:void(0)" class="adddes">+Add description</a></div>
                            <?php }else{ ?>
                            <div class="add-des"><a style="text-decoration:none;" href="javascript:void(0)" class="removedes">Remove</a></div>
                            <div class="add-desr"><input name="color_description[]" value="<?php echo $color_description[$key];?>" type="text" readonly><button class="btn btn-default color_add_description" type="button" id="1_20">Edit</button></div>
                            <?php }?>
                        </div>
                 </div>
                  
                  <?php if($key < count($color_value) - 1){ ?>
                  <div class="add">
                    <a id="fdgd" class="remove-set" href="javascript:void(0)" style="text-decoration:none;">- Remove Color</a>
                </div>
                <?php } ?>
                  
                      <?php } } }}?>
                  <?php if($color_type == ""){
		    //if($values==''){$values='#ffffff';}
		    ?>
                        <div class="form-groups" id="frmgrp">
                            <label>Choose color set </label>
                            <div class="input-group">
                                <div class="colors append_color_type">
                                        <div class="pickers">
                                             <input type="hidden" class="color_hidden" name="color_value[]" value="<?php echo $values;?>">
                                             
                                            <div class="colr-div">&nbsp;</div>
                                               

                                        </div>

<!--                                        <div  class="add-color"><a style="text-decoration:none;" href="javascript:void(0)" class="addcolor"> <i class="fa fa-plus-circle"></i></a></div>-->
                                </div>
                                <div class="add-des"><a style="text-decoration:none;" href="javascript:void(0)" class="adddes">+Add description</a></div>
    <!--                            <p id="description"> </p>-->
                            </div>
                     </div>
                  <?php }?>
<!--                <div class="add"><a style="text-decoration:none;" href="javascript:void(0);" id="add-set">+Add New Colors </a></div>-->
                <div id="color-panel"> 
                    
                </div>
              </div>
                <p class="color_validate" style="color:red;"></p>
                  </div>
          </div>
         
              </div>
                
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                <div class="product-feature">
                 <h1> Product features</h1>
               
                <?php 
                
                $ses_pro_desc    = array();
                $ses_pro_feature = $step2['product_features'];
                if($ses_pro_feature == ""){
                    $ses_pro_feature = array();
                }
                //print '<pre>';
               // print_r($ses_pro_feature);
                $ses_pro_desc = array();
                $ses_pro_desc    = $step2['product_description'];
                if($ses_pro_desc == ""){
                    $ses_pro_desc = array();
                }
                
                //print '<pre>';
                //print_r($ses_pro_desc);
               $product_feature =  Mage::getModel('mapfeaturedprice/mapfeaturedprice')->getCollection()->addFieldToFilter('type_id', $product_type)->addFieldToSelect('*');
               $total =  $product_feature ->count();
              // print '<pre>';
               //print_r($ses_pro_desc);
               $i = 0;
               foreach( $product_feature as $key => $val ){
                   
                    $feature         = $val -> getFeature();
                    if($feature != ""){
                      $i++;
                    
                   $j = $i -1;  
                    $feature_price   = $val -> getPrice();
                    $id              = $val -> getId();
                    $value           = $feature_price.'_'.$id.'_'.$j;
                    
                    //echo $key;
                    
                ?>
                  <div class="col-sm-12 col-md-12 clearfix nopadding">
                <input type="checkbox"  class="regular-checkbox1" name="product_features[]" id="<?php echo $id;?>" value="<?php echo $value;?>" <?php if(is_array($ses_pro_feature) && in_array($value,$ses_pro_feature)){ ?> checked="checked" <?php }?>>
                <label for="<?php echo $id;?>"></label>
                <span class="label-set"><?php echo $feature;?></span>
                <div class="facacc">
                  <div class="question"></div>
                   <div class="answer">
                    <div class="form-inline">
                      <div class="input-group">
                        <input type="text" class="form-control <?php echo $id.'_'.abs($feature_price);?>" id="<?php echo rand(000,999);?>" name="product_description[]" value="<?php echo $ses_pro_desc[$i-1];?>">
                        
                        <span class="input-group-btn">
                            <button class="btn btn-default feature_add_price" type="button" id="<?php echo $id.'_'.abs($feature_price);?>">Add</button>
                        </span> 
                      </div>
                    </div>
                  </div>
                </div>
               
                </div>
                    <?php 
                    }   
                } ?>
                  
          </div>
              </div>
            </div>
      
      
             <div class="row">
            <div class="special-feature">
                    <div class="form-groups">
                <label>Add special features<span>( Maximum 5 features )</span></label>
                
                
                <div class="input-group">
                    <div class="input-field clo">
                     <?php 
                     $special_feature = $step2['special_features'];
                            if(is_array($special_feature) && count($special_feature) > 0 && $special_feature[0] != ""){
                     ?>
                     
                     
                     
                     <div class="form-inline">
                      <div class="input-group closest_group">
                          <input name="special_features[]"  type="text" class="special_feature" value="<?php echo $special_feature[0];?>" readonly>
                        
                        <span class="input-group-btn">
                          <button class="btn btn-default special_feature_add_price" type="button" id="1_30">Edit</button>
                        </span> 
                      </div>
                    </div>
                     
                     
                     
                     
                     
                     
                     
                     
                     
                       <!-- <input name="special_features[]"  type="text" class="special_feature" value="<?php echo $special_feature[0];?>">-->
                    <div class="add-feature"><a style="text-decoration:none;" href="javascript:void(0)" id="addfeature"><i class="fa fa-plus-square"></i></a></div>
<!--                        <p id="add_feature"> </p>-->
                            <?php 
                                if(count($special_feature) > 1){
                                    for($i = 1; $i< count($special_feature); $i++){
                                        
                            ?>
                               
                               
                    <div class="closest_group">
                        <input  name="special_features[]"  type="text" class="special_feature" value="<?php echo $special_feature[$i];?>" readonly>
                                     <span class="input-group-btn">
                                        <button class="btn btn-default special_feature_add_price" type="button" id="1_30">Edit</button>
                                      </span> 
                                    <a style="text-decoration:none;" href="javascript:void(0)" class="removefeature">Remove</a>
                    </div>
                            <?php }} ?>
                    </div>
                     <?php
                            }else{
                                
                     ?>
                    <div class="closest_group">
                        <input name="special_features[]"  type="text" class="special_feature" >
                        <span class="input-group-btn">
                              <button class="btn btn-default special_feature_add_price" type="button" id="1_30">Add</button>
                        </span> 
                    <div>
                    <div class="add-feature"><a style="text-decoration:none;" href="javascript:void(0)" id="addfeature"><i class="fa fa-plus-square"></i></a></div>
<!--                        <p id="add_feature"> </p>-->
                     
                   
                            <?php } ?>
                     </div>
                      </div>
              </div>
                  </div>
          </div>
        <?php
             $price        = Mage::getModel('mapfeaturedprice/categoryprice')->load($product_type, 'type_id');
             $fixedbase_price   = $price -> getPrice();
             
             $ses_latest_price = $step2['latest_base_price'];
             
             if($ses_latest_price == ""){
                 $base_price = $fixedbase_price;
                 $latest_base_price = $fixedbase_price;
             }else{
                 $base_price = $ses_latest_price;
                 $latest_base_price = $ses_latest_price; 
             }
             
             
             
             $ses_profit_preice = $step2['latest_profit_price'];
             
             if($ses_profit_preice == ""){
                 //$profit_price = 35*$base_price;
                 //$latest_profit_price = 35*$base_price;
                 $profit_price = ceil((2/3*(300))*(15/100*($base_price)));
                 $latest_profit_price = ceil((2/3*(300))*(15/100*($base_price)));
             }else{
                 $profit_price = $ses_profit_preice;
                 $latest_profit_price = $ses_profit_preice; 
             }
        ?>
        <input type="hidden" id="fixed_base_price" value="<?php echo $fixedbase_price;?>">
        <input type="hidden" id="latest_base_price" name="latest_base_price" value="<?php echo $latest_base_price;?>">
        <input type="hidden" id="latest_profit_price" name="latest_profit_price" value="<?php echo $latest_profit_price;?>">
            <div class="row">
        <div class="estimate-price clearfix">
                <ul>
                    <li> 
                    <span class="estimate-text"><span>Estimated sales price :</span> <i class="fa fa-eur"></i><span class="base_price"><?php echo $base_price;?></span></span> 
                    <span>
              <div  class="tool-tip"><a href="javascript:void(0)"><img src="<?php echo $this->getSkinUrl('images/tool-tip.png');?>"></a>
                <div class="details-text-1 hidden">Based on the product type and your feature selection, we have estimated the sales price. We may adjust the price slightly e.g. for special features following our review of your campaign.</div>
              </div>
              </span> </li>
              <li> <span class="estimate-text"><span>Estimated profit :</span> <i class="fa fa-eur"></i><span class="profit_price"><?php echo $profit_price;?></span></span> 
              <span>
              <div  class="tool-tip"><a href="javascript:void(0)"><img src="<?php echo $this->getSkinUrl('images/tool-tip.png');?>"></a>
                <div class="details-text-2 hidden">The greatest about flike: You have no further efforts but we pay you a 15% fee on the price of all clothing sold!</div>
              </div>
              </span> </li>
          </ul>
              </div>
      </div>
            <div class="row">
        <div class="col-sm-12">
          <div class="step-btn"> <p class=" text-center "><a style="color:#fff;text-decoration:none;" href="<?php echo $this->getUrl('campaign/create/stepone')?>" class="next-btn">Back</a></p> <p class=" text-center"><button class="next-btn" type="submit"> Next</button></p></div>
              </div>
      </div>
          </div>
     </form>
  </div>
<script type="text/javascript">
    //< ![CDATA[
        var dataForm = new VarienForm('form_for_steptwo', true);
        Validation.add('validate-sales', 'Enter value between 300 to 1000', function(v) {
            if(v >= 300 && v <= 1000){
                return true
            }
            return false;
        });
        Validation.add('validate-campaign', 'Enter value between 30 to 90', function(v) {
            if(v >= 30 && v <= 90){
                return true
            }
            return false;
        });
        
        Validation.add('color_hidden', ' ', function(v){
            var val = jQuery('input.color_hidden').val();
	var totlength=jQuery(".colr-div").length-2;
	  var selcolslength=0;
	   var fields = jQuery( "input.color_hidden" ).serializeArray();
	 // var selcols=fields.split("@");
	       jQuery.each( fields, function( i, field ) {
		if(field.value){
		    var selcols=field.value;
		    selcols=selcols.split("@");
		    selcolslength +=selcols.length;
		}
	      });
	       
            if(val == "" || totlength!=selcolslength){
                jQuery(".color_validate").html("Please choose all color set")
                return false;
            }
	    
	    
            return true;
        });
    //]]>
</script>

<div class="form-groups" id="single-color" style="display:none;">
                        <label>Choose color set</label>
                        <div class="input-group">
                            <div class="colors append_color_type">
                                    <div class="pickers">
                                         
                                        <div class="colr-div">&nbsp;</div>
                                        <input type="hidden" class="color_hidden" name="color_value[]" value="">
                                    </div>
                                    
<!--                                    <div  class="add-color"><a style="text-decoration:none;" href="javascript:void(0)" class="addcolor"> <i class="fa fa-plus-circle"></i></a></div>-->
                            </div>
                             <div class="add-des"><a style="text-decoration:none;" href="javascript:void(0)" class="adddes">+Add description</a></div>
<!--                            <p id="description"> </p>-->
                        </div>
                 </div>

<div class="form-groups" id="multiple-color" style="display:none;">
                        <label>Choose color set</label>
                        <div class="input-group">
                            <div class="colors append_color_type">
                                    <div class="pickers"><div class="colr-div">&nbsp;</div><input type="hidden" class="color_hidden" name="color_value[]" value=""></div>
                                    
<!--                                    <div  class="add-color"><a style="text-decoration:none;" href="javascript:void(0)" class="addcolor"> <i class="fa fa-plus-circle"></i></a></div>-->
                            </div>
                             <div class="add-des"><a style="text-decoration:none;" href="javascript:void(0)" class="adddes">+Add description</a></div>
<!--                            <p id="description"> </p>-->
                        </div>
                 </div>