<style>
    #advice-required-entry-uploadBtn{

    }
    .data_error{
        color:red;
    }
</style>
<script type="text/javascript">
    jQuery(document).ready(function($) {

        //script to get subcategory of a category

        $(".category_id").unbind("change").bind("change", function() {

            var category_id = this.value;
            new Ajax.Request('<?php echo $this->getUrl('campaign/ajax/getSubcategory') ?>',
                    {
                        method: 'get',
                        parameters: {category_id: category_id},
                        onSuccess: function(transport) {
                            var response = transport.responseText || "nothing in response text";
                            //alert("Success! \n\n" + response);
                            $(".sub_cat").html(response);
                        },
                        onFailure: function() {
                            alert('something wrong')
                        }
                    });
        });


        //script to get subcategory of a category

        // $(".subcategory_id").unbind("change").bind("change", function(){
        $(document).on('change', '.subcategory_id', function(e) {
            var subcategory_id = this.value;
            new Ajax.Request('<?php echo $this->getUrl('campaign/ajax/getType') ?>',
                    {
                        method: 'get',
                        parameters: {subcategory_id: subcategory_id},
                        onSuccess: function(transport) {
                            var response = transport.responseText || "nothing in response text";
                            //alert("Success! \n\n" + response);
                            $(".pro_type").html(response);
                        },
                        onFailure: function() {
                            alert('something wrong')
                        }
                    });
        });

        //script to add raw design
        $(document).on('change', '.add_raw_design', function(e) {
            // $(".add_raw_design").on('change',(function(e){
            e.preventDefault();
            var file = this.files[0];
            var raw_design = new FormData();
            raw_design.append('formData', file);
            var ext = file.name.split(".");
            ext[1] = ext[1].toLowerCase();
            if (ext[1] == "png" || ext[1] == "jpg" || ext[1] == "jpeg" || ext[1] == "psd") {
            $('.loading-image').html("<img src='<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>'>");
            $.ajax({
                url: "<?php echo $this->getUrl('campaign/ajax/addrawdesign') ?>",
                type: "POST",
                //data:  new FormData(this),
                data: raw_design,
                contentType: false,
                cache: false,
                processData: false,
                success: function(data) {
                    var arr = $.parseJSON(data);//alert(arr.designer_gallery_id);
                    //var del_id = arr.uploaded_raw_design.split(".");
                    var image_path = "<?php echo $this->getSkinUrl('images/upload-image.png'); ?>";
                    $(".uploaded_raw_design_files").append("<p class='clearfix' ><span class=\"img_upload no_of_raw\"><img src=" + image_path + " width=\"32\" height=\"32\"></span><span class='img_upload'>" + arr.name + "</span><span class=\"cross\" ><a href=\"javascript:void(0);\" class=\"delete_raw_design\" id='" + arr.uploaded_raw_design + "'><img src=\"<?php echo $this->getSkinUrl('images/cross.png'); ?>\"></a></span></p>");
                    //alert(data);
                    $("#ra_design").attr("value", "1");
                    $('.loading-image').html("");
                },
                error: function() {
                }
            });
            //}));
            }else{
                $(".valid_raw_design").addClass("data_error").html("Allowed extension png | jpg | jpeg | psd");
            }
        });

        //script to add raw design end

        //script to add product images
        $(document).on('change', '.add_product_image', function(e) {
            // $(".add_product_image").on('change',(function(e){
            e.preventDefault();
            $(".valid_image_type").removeClass("data_error").html("");
            
            var file = this.files[0];
           // var filename = file.name; // enter your file name here
           // alert(filename.match(/^\s*[a-z-._\d,\s]+\s*$/i));
            var ini_name = file.name;
            var  new_name = ini_name.replace(" ","_");
            var prop = 'name';
             file[prop] = new_name;
             //alert(file[prop]);
            var ext = new_name.split(".");
            ext[1] = ext[1].toLowerCase();
            if (ext[1] == "png" || ext[1] == "jpg" || ext[1] == "jpeg" || ext[1] == "psd") {
                var pro_image = new FormData();
                pro_image.append('formData', file);
                $('.loading-other-image').html("<img src='<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>'>");
                $.ajax({
                    url: "<?php echo $this->getUrl('campaign/ajax/addproductimage') ?>",
                    type: "POST",
                    //data:  new FormData(this),
                    data: pro_image,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {
                       // alert(data); 
                        var arr = $.parseJSON(data);//alert(arr.designer_gallery_id);
                      
                        var image_path = "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'import/'; ?>" + arr.uploaded_image_name;
                        $(".uploaded_product_image_files").append("<p class='clearfix' ><span class=\"img_upload\"><img src=" + image_path + " width=\"32\" height=\"32\"></span><span class='img_upload'>" + arr.name + "</span><span class=\"cross\" ><a href=\"javascript:void(0);\" class=\"delete_gallery\" id='" + arr.uploaded_image_name + "'><img src=\"<?php echo $this->getSkinUrl('images/cross.png'); ?>\"></a></span></p>");
                        //alert(data);
                        $("#pro_image").attr('value', '1');
                    $('.loading-other-image').html("");
                    },
                    error: function() {
                    }
                });
            } else {
                $(".valid_image_type").addClass("data_error").html("Allowed extension png | jpg | jpeg | psd");
            }
            // }));
        });
        //script to add product images end

        //script to delete raw design

        $(document).on('click', '.delete_raw_design', function(e) {
            var raw_design = this.id;
            //alert(this.id);
            $(this).parent().parent().remove();
            $('.loading-image2').html("<img src='<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>'>");
            new Ajax.Request('<?php echo $this->getUrl('campaign/ajax/deleterawdesign') ?>',
                    {
                        method: 'get',
                        parameters: {raw_design: raw_design},
                        onSuccess: function(transport) {
                            var response = transport.responseText || "nothing in response text";
                            //alert("Success! \n\n" + response);
                            //$(".country_region").html(response);
                            if ($(".no_of_raw").length == "0") {
                                $(".upload-consd").html("");
                                $(".upload-consd").html('Upload your raw design files<br><input type="file" name="" value="1" size="40" class="upload add_raw_design " id="uploadBtn" aria-required="true" aria-invalid="false">');
                                 $("#ra_design").attr("value", "0");
                            }
                        },
                        onFailure: function() {
                            alert('something wrong')
                        }
                    });
            $('.loading-image2').html("");
        });
        //script to delete raw design end


        //script to delete raw design

        $(document).on('click', '.delete_gallery', function(e) {
            var pro_image = this.id;
            //alert(this.id);
            $(this).parent().parent().fadeOut();
             $('.loading-image2').html("<img src='<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>'>");
            
            new Ajax.Request('<?php echo $this->getUrl('campaign/ajax/deleteproimage') ?>',
                    {
                        method: 'get',
                        parameters: {pro_image: pro_image},
                        onSuccess: function(transport) {
                            var response = transport.responseText || "nothing in response text";
                            //alert("Success! \n\n" + response);
                            //$(".country_region").html(response);
                            if ($(".no_of_gallery").length == "0") {
                                $(".upload-consdsd").html("");
                                $(".upload-consdsd").html('Upload pictures for the shop<span></span><input type="file" name="" value="1" size="40" class="upload add_product_image " id="uploadBtnss" aria-required="true" aria-invalid="false">');
                                $("#pro_image").attr("value", "0");
                            }
                        },
                        onFailure: function() {
                            alert('something wrong')
                        }
                    });
            $('.loading-image2').html("");
        });
        //script to delete raw design end

    });

</script>
<?php //print_r(Mage::getSingleton('core/session')->getRawDesign($arr)); ?>


<div  class="step-con">

    <div class="container"> 
        <div class="row">

            <div class="col-sm-4 gap-right">

                <div class="step active-step">
                    <span class="step-txt">Upload files</span>
                    <span class="step-no">01</span>
                </div>

            </div>  

            <div class="col-sm-4 gap-right">

                <div class="step ">
                    <span class="step-txt">Set features</span>
                    <span class="step-no">02</span>
                </div>

            </div>  

            <div class="col-sm-4 gap-right gap-right-last">

                <div class="step">
                    <span class="step-txt">Add description</span>
                    <span class="step-no">03</span>
                </div>

            </div>  
            <?php
            $step1 = Mage::getSingleton('core/session')->getStepOne();
//print '<pre>';
// print_r($step1);
            ?>
            <form  enctype="multipart/form-data" method="post" action="<?php echo $this->getUrl('campaign/create/steponepost') ?>" id="form_for_stepone"> 

                <div class="steps-form">
                    <div class="col-sm-12 nopadding">

                        <div class="col-sm-6 nopadding">

                            <div class="form-groups">
                                <label>Campaign name</label>
                                <div class="input-group">
                                    <input name="campaign_name" id="campaign_name" type="text" class="required-entry" value="<?php echo $step1['campaign_name']; ?>">
                                </div>
                                <div class="error_campaign_name shift_elememt"></div>
                            </div>

                        </div> 
                        <div class="col-sm-6 nopadding"> 

                            <div class="form-groups">
                                <label>Design for</label>
                                <div class="input-group">

                                    <select name="category_id" class="category_id validate-select" id="category_id">
                                        <option value="">Select</option>
                                        <?php
                                        $categories = $this->getCategory();
                                        foreach ($categories as $category) {
                                            ?>
                                            <option value="<?php echo $category->getId(); ?>" <?php if ($category->getId() == $step1['category_id']) { ?>selected="selected" <?php } ?>><?php
                                                if ($category->getName() == "Default Category") {
                                                    echo 'Men';
                                                } else {
                                                    echo $category->getName();
                                                }
                                                ?></option>
                                            <?php
                                        }
                                        ?>

                                    </select>
                                </div>
                                <div class="error_category_id shift_elememt"></div>
                            </div>

                        </div>











                    </div>
                    <div class="col-sm-12 nopadding">
                        <div class="col-sm-6 nopadding">

                            <div class="form-groups">
                                <label> Category</label>
                                <div class="input-group sub_cat">
                                    <select id="subcategory_id"  name="subcategory_id" class="subcategory_id validate-select">
                                        <option value="">Select category</option>
                                        <?php
                                        $sub_cat = Mage::getModel('catalog/category')->getCategories($step1['category_id']);

                                        if ($sub_cat->count() > 0) {
                                            foreach ($sub_cat as $sub) {
                                                ?>   
                                                <option value="<?php echo $sub->getId(); ?>" <?php if ($sub->getId() == $step1['subcategory_id']) { ?>selected="selected" <?php } ?>><?php echo $sub->getName(); ?></option>
                                            <?php
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                                 <div class="error_subcategory_id shift_elememt"></div>
                            </div>

                        </div>

                        <div class="col-sm-6 nopadding">

                            <div class="form-groups">
                                <label>Type</label>
                                <div class="input-group pro_type">
                                    <select id="product_type"  name="product_type" class="validate-select">
                                        <option value="">Select type</option>
                                        <?php
                                        $type = Mage::getModel('catalog/category')->getCategories($step1['subcategory_id']);
                                        if ($type->count() > 0) {
                                            foreach ($type as $t) {
                                                ?>   
                                                <option value="<?php echo $t->getId(); ?>" <?php if ($step1['product_type'] == $t->getId()) { ?>selected="selected" <?php } ?> ><?php echo $t->getName(); ?></option>
                                            <?php
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                                <div class="error_product_type shift_elememt"></div>
                            </div>

                        </div>

                    </div>
                    
                    <div class="col-sm-12 nopadding"> 
                        <div class="upload-area">
                        <div class="loading-image2"></div>

                            <div class="col-sm-6 clearfix">    

                                <?php
// Mage::getSingleton('core/session')->unsRawDesign();
                                $raw = Mage::getSingleton('core/session')->getRawDesign();
//print '<pre>';print_r($raw);
                                if (is_array($raw) && count($raw) > 0) {
                                    $raw_valid = "1";
                                } else {
                                    $raw_valid = "0";
                                }
                                ?>       

                                <div class="raw_fileUpload">
                                    
                                    <div class="upload-con upload-consd"> 
                                        Upload your raw design files<br>
                                        <input type="file" name="" value="1" size="40" class="upload add_raw_design required-entry" id="uploadBtn" aria-required="true" aria-invalid="false">
                                        <div class="clearfix"></div>
                                    </div>
                                    <input type="hidden" id="ra_design" value="<?php echo $raw_valid;?>">

                                </div>  <div class="loading-image"></div>  
                                 <div class="valid_raw_design"></div>
                                <div class="uploaded_raw_design_files">
                                    <?php
                                    if (is_array($raw) && count($raw) > 0) {
                                        //print_r($raw);
                                        foreach ($raw as $key => $val) {
                                            $decode = json_decode($val);
                                            //print_r($val);
                                            ?>
                                            <p class="w-full" ><span class="img_upload no_of_raw"><img src="<?php echo $this->getSkinUrl('images/upload-image.png'); ?>" width="32" height="32"></span><span class='img_upload'><?php echo $decode->name; ?></span><span class="cross" ><a href="javascript:void(0);" class="delete_raw_design" id="<?php echo $key; ?>"><img src="<?php echo $this->getSkinUrl('images/cross.png'); ?>"></a></span></p>
                                            <?php
                                        }
                                    }
                                    ?>
                                </div>

                            </div>

                            <?php
                            $pro = Mage::getSingleton('core/session')->getProductImage();
                            if (is_array($pro) && count($pro) > 0) {
                                $pro_valid = "1";
                            } else {
                                //$pro_valid = "required-entry";
                                $pro_valid = "0";
                            }
                            ?>   

                            <div class="col-sm-6 clearfix">               

                                <div class="raw_fileUpload">
                                    
                                    <div class="upload-con upload-consdsd"> 
                                        Upload pictures for the shop<span></span>
                                        <input type="file" name="" value="1" size="40" class="upload add_product_image required-entry" id="uploadBtnss" aria-required="true" aria-invalid="false">
                                   
                                             <div class="clearfix"></div>
                                    
                                    </div>
                                    <input type="hidden" id="pro_image" value="<?php echo $pro_valid;?>">
                                    
                                </div>    <div class="loading-other-image"></div>               
                                <div class="valid_image_type"></div>
                                <div class="uploaded_product_image_files">
                                    <?php
                                    if (is_array($pro) && count($pro) > 0) {
                                        foreach ($pro as $val) {
                                            $pro_decode = json_decode($val);
                                            ?>
                                            <p class="w-full clearfix" ><span class="img_upload"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'import/' . $pro_decode->uploaded_image_name; ?>" width="32" height="32"></span><span class='img_upload'><?php echo $pro_decode->name; ?></span><span class="cross" ><a href="javascript:void(0);" class="delete_gallery" id="<?php echo $pro_decode->uploaded_image_name; ?>"><img src="<?php echo $this->getSkinUrl('images/cross.png'); ?>"></a></span></p>
                                            <?php
                                        }
                                    }
                                    ?>
                                </div> 

                            </div>                   



<!--  <p> <input type="file" name="filename"></p>-->


                        </div>

                    </div>


                    <div class="col-sm-12">
                        <p class="text-center w-full">
                            <button class="next_btn text-center" type="submit" onclick="return xyz()" ><?php echo $this->__("Next")?></button>
                        </p>
                    </div>

                </div> 
            </form>
        </div>

    </div>
</div>
<script type="text/javascript">
    //< ![CDATA[

    //var dataForm = new VarienForm('form_for_stepone', true);
    
   /* $('login-email').observe('keypress', bindLoginPost);
    $('login-password').observe('keypress', bindLoginPost);
    
    function bindLoginPost(evt){
        if (evt.keyCode == Event.KEY_RETURN) {
            loginForm.submit();
        }
    }
    
    function one(button){
        if(dataForm.validator &&  dataForm.validator.validate()){
            //button.disabled = true;
            dataForm.submit();
        }
    }*/
        
       
 
    //]]>
    
    function xyz(){
        
        var pi = jQuery("#pro_image").val();
        var rd = jQuery("#ra_design").val();
        
        var campaign_name   = jQuery("#campaign_name").val();
        var category_id     = jQuery("#category_id").val();
        var subcategory_id  = jQuery("#subcategory_id").val();
        var product_type    = jQuery("#product_type").val();
        
        jQuery(".valid_image_type").removeClass("data_error").html("");
        jQuery(".valid_raw_design").removeClass("data_error").html("");
        
        jQuery(".error_campaign_name").removeClass("data_error").html("");
        jQuery(".error_category_id").removeClass("data_error").html("");
        jQuery(".error_subcategory_id").removeClass("data_error").html("");
        jQuery(".error_product_type").removeClass("data_error").html("");
        
        var is_error = 0;
        
        
        if(rd == "0"){
            jQuery(".valid_raw_design").addClass("data_error").html("This is a required field");
            is_error = 1;
        }
        
        if(pi == "0"){
            jQuery(".valid_image_type").addClass("data_error").html("This is a required field");
            is_error = 1;
            
        }
        
        if(campaign_name == ""){
            jQuery(".error_campaign_name").addClass("data_error").html("This is a required field");
            is_error = 1;
        }
        
        if(category_id == ""){
            jQuery(".error_category_id").addClass("data_error").html("This is a required field");
            is_error = 1;
        }
        
        if(subcategory_id == ""){
            jQuery(".error_subcategory_id").addClass("data_error").html("This is a required field");
            is_error = 1;
        }
        
        if(product_type == ""){
            jQuery(".error_product_type").addClass("data_error").html("This is a required field");
            is_error = 1;
        }
        
        if(is_error == 1){
            return false;
        }
        return true;
    }
</script>
