<?php $stepthreeData = Mage::getSingleton('core/session')->getStepThree();

?>
<style>
.cart-con .container{
	
}
</style>
<!--script>
    jQuery(document).ready(function($){
        $("#form_for_stepthree").submit(function(){
            //alert($('.validation-passed').length);
            if($('.validation-passed').length == "3"){
               $('.publish-load').html("<img src='<?php //echo $this->getSkinUrl('images/ajax-loader.gif'); ?>'>");   
        }
            
        
        });
        
    });
</script-->
<div  class="step-con">

      <div class="container myclass"> 
        <div class="row">
          
          <div class="col-sm-4">
          
          <div class="step step-over ">
          
              <span class="step-txt"><a href="<?php echo $this->getUrl('campaign/create/stepone')?>" style="color:#666666;">Upload files</a></span>
          
          <span class="step-no">01</span>
          
          </div>
          
          </div>  
          
           <div class="col-sm-4">
            <div class="step step-over ">
            
                <span class="step-txt"><a href="<?php echo $this->getUrl('campaign/create/steptwo')?>" style="color:#666666;">Set features</a></span>
          
          <span class="step-no">02</span>
            </div>
           
           </div>  
          
           <div class="col-sm-4">
            <div class="step active-step">
            <span class="step-txt">Add description</span>
          
          <span class="step-no">03</span>
          </div>
           </div>  
         <form method="post" action="<?php echo $this->getUrl('campaign/create/preview')?>"  id="form_for_stepthree">
         <?php echo $this->getBlockHtml('formkey'); ?>    
           <div class="steps-form">
           
           <h1 class="text-center">You’re almost done !</h1>
           
           <h2>Tell us how you’ve come up with your design? Where have you been inspired? What makes this piece so special?
           <br/><br/> We’ll then review your campaign, check the feasibility of production and will publish design in the shop.<br/><br/>
Needless to say: Now go, promote your campaign and spread the word! 
</h2>
                  <div class="col-sm-12 nopadding">
                    <div class="form-groups">
                      <label>Add description</label>
                      <div class="input-groups">
                       <textarea name="product_description"  rows="" cols="" name="" class="required-entry"><?php echo $stepthreeData['product_description'] ?></textarea>
                      </div>
                    </div>
               
                 
                  </div>
               
                  
          
             
                     <div class="form-groups">
                      <label>Url</label>
                      <div class="input-groups">
                       <div class="website-field">
                       <div class="website">http://myflike.com/</div>
                       <div class="input-field"><input name="campaign_url" value = "<?php echo $stepthreeData['campaign_url'] ?>" type="text" class="required-entry"></div>
                       
                       </div>
                       
                           
                      </div>
                    </div>
                  
            
                
                <div class="step-btn"> 
                    <p class=" text-center"><a style="color:#fff;text-decoration:none;" href="<?php echo $this->getUrl('campaign/create/steptwo')?>" class="next-btn">Back</a></p><button class="next-btn" type="submit">Preview<button</div>
                  <!--div class="publish-load"></div-->
                  
                  
                  
                  
                
                </div> 
        
        </div>
         </form>
        </div>
  </div>
<script type="text/javascript">
    //< ![CDATA[
        var dataForm = new VarienForm('form_for_stepthree', true);
    //]]>
</script>