<table width="100%">
    <tr>
        <th>
            Campaign Name
        </th>
        
<!--        <th>
            Designer Name
        </th>-->
        
        <th>
            Sku
        </th>
        
        <th>
            Action
        </th>
        
    </tr>
    
    <?php
        //option id of attribute code campaign status for value Running.
        $helper            = Mage::helper('campaign');
        $successfull_option_id = $helper -> getOptionId('campaign_status','Successfull');
        //end
            
        $successproducts = Mage::getModel('catalog/product')->getCollection()->setOrder('created_at', 'ASC')->addFieldToFilter('type_id', Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE)->addFieldToFilter('status', "1")->addFieldToFilter('campaign_status', $successfull_option_id);  
        $successproducts->addAttributeToSelect('*');
        
        if($successproducts -> count() > 0){
           foreach($successproducts as $key => $value){
               
               $user_id = $value -> getUserId();
               $user  = Mage::getModel('customer/customer')->load($user_id);
              
     ?>
        <tr>
            <td>
                <?php echo $value -> getName();?>
            </td>
            
<!--            <td>
                <?php //echo $user -> getFirstname().'&nbsp;'.$user -> getLastname();?>
            </td>-->
            
            <td>
                <?php echo $value -> getSku();?>
            </td>
            
            <td>
                <a href="<?php echo $this->getUrl('paypaladaptive/adminhtml_capturepayment/capture',array('id'=> $value->getId()));?>" >Capture</a>
            </td>
            
        </tr>
    <?php
           } 
        }
    ?>
</table>