
<script type="text/javascript">
jQuery(document).ready(function($){
    $(".customer_country").unbind("change").bind("change", function(){
        
        var country_code = this.value;
        new Ajax.Request('<?php echo $this->getUrl('customer/ajax/getState')?>',
        {
        method:'get',
        parameters: {country_code: country_code},
        onSuccess: function(transport){
        var response = transport.responseText || "nothing in response text";
        //alert("Success! \n\n" + response);
        $(".country_region").html(response);
        },
        onFailure: function(){ alert('something wrong') }
        });
    });
    
    
    var isMobile = false; //initiate as false
// device detection
if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
    || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) isMobile = true;
    
 
});

</script>
          
          <div>
                <ul  class="nav nav-tabs">
                    <li class="sign_area"><a href="javascript:void(0);">Signup</a></li>
                   
                </ul>
            <div>
         <?php echo $this->getMessagesBlock()->toHtml() ?>
      
        <div class="tab-pane fade in active" id="customer">
            <form  enctype="multipart/form-data" method="post" action="<?php echo $this->getPostActionUrl() ?>" id="form_for_customer" class="scaffold-form">
                <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
                <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
<!--                <input type="hidden" name="group_id" value="1" />-->
                <?php echo $this->getBlockHtml('formkey'); ?>
          <div class="register">  
             <div class="col-sm-12 col-md-6 nopadding"> 
                 
              
                 
                    <div class="form-groups first-name">
                        <label>First name<span class="required"></span></label>
                          <div class="input-group">
                            <input id="firstname"  type="text" maxlength="255" title="First Name" value="" name="firstname" class="input-text required-entry validate-alpha" value="<?php echo $this->escapeHtml($this->getFormData()->getFirstname()) ?>">
                            
                          </div>
                        
                    </div>
                 
                    <div class="form-groups">
                         <label>Last name<span class="required"></span></label>
                           <div class="input-group">
                             <input id="lastname"  type="text" maxlength="255" title="Last Name" value="" name="lastname" value="<?php echo $this->escapeHtml($this->getFormData()->getLastname()) ?>" class="input-text required-entry validate-alpha">
                           </div>
                    </div>
                 
                 <div class="form-groups state">
                         <label>Gender</label>
                          
                         <div class="input-group">
                                <div class="regular-radio-con">
                                  <input type="radio" id="radio-2-1" name="gender" class="regular-radio big-radio" value="1" checked="checked"/>
                                  <label for="radio-2-1"></label>
                                  <span><i class="fa fa-male"></i></span>
                                </div>
                                <div class="regular-radio-con">
                                  <input type="radio" id="radio-2-2" name="gender" class="regular-radio big-radio" value="2"/>
                                  <label for="radio-2-2"></label>
                                  <span><i class="fa fa-female"></i></span>
                                </div>
                        </div>
                    </div>
                
                
                    <div class="form-groups state">
                         <label>Register as</label>
                          
                         <div class="input-group">
                                <div class="regular-radio-con">
                                  <input type="radio" id="radio-2-3" name="group_id" class="regular-radio big-radio" value="1" checked="checked" title="Customer"/>
                                  <label for="radio-2-3"></label>
                                  <span class="customer"><i  class="fa fa-user"></i>
</span>
                                </div>
                                <div class="regular-radio-con">
                                  <input type="radio" id="radio-2-4" name="group_id" class="regular-radio big-radio" value="2" title="Designer"/>
                                  <label for="radio-2-4"></label>
                                  <span><img src="<?php echo $this->getSkinUrl('images/designer.png');?>"></span>
                                </div>
                        </div>
                    </div>
                
          
                 
            </div>
            
            
            
                 <div class="col-sm-12 col-md-6 nopadding">
                     <div class="r-right">
           
                     
                   <div class="form-groups">
                    <label>Email<span class="required"></span></label>
                      <div class="input-group">
                        <input id="email_address"  type="text" title="Email Address" value="" name="email" spellcheck="false" autocorrect="off" autocapitalize="off" value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>" class="input-text validate-email required-entry">
                      </div>
                  </div>
                
                
                   <div class="form-groups state">
                        <label>Password<span class="required"></span></label>
                        <div class="input-group">
                            <input id="password"  type="password"  name="password" class="input-text required-entry validate-password">
                        </div>
                   </div>
                
                
                   <div class="form-groups">
                        <label>Re-type password<span class="required"></span></label>
                        <div class="input-group">
                          <input id="confirmation"  type="password"  name="confirmation" class="input-text required-entry validate-cpassword">
                        </div>
                   </div>
                     </div>  
            </div>
            
            <div>
                <div class="col-sm-9 nopadding">

                      <div  class="regular-check">
                            <div class="chck"><input type="checkbox" checked="" class="regular-checkbox required-entry" name="terms_and_conditions" id="is_subscribeds" value="1">
                                  <label for="is_subscribeds"></label>
                            </div>
                              <div class="chklist">Accept <a href="#">Terms of use</a> and <a href="#">Privacy policy</a>
                            </div>
                     </div>
                </div>
                
                <div class="col-sm-3 nopadding">
                    <button class="submit" type="submit">Sign up</button>
                </div>
            </div>
            
           </div> 
            </form>
        </div>
         

        
            </div>
        </div>
    

<script type="text/javascript">
    //jQuery.noConflict();
    jQuery(document).ready(function($){
        $.noConflict();
        $('button').on('click', function(){
       
    });
    $('#myTab').tabCollapse();
    });
    
</script>
<script type="text/javascript">
    //< ![CDATA[
        var dataForm = new VarienForm('form_for_customer', true);
         dataForm = new VarienForm('form_for_designer', true);
    //]]>
</script>