<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>

<script>
jQuery(document).ready(function($){
    $(".opc-btn-checkout").click(function(){
        
        setTimeout(validate_scroll, 1000);
        
    });
    
    var validate_scroll = function(){
        //if($(".validation-failed").length > 1){
        
        var ty = $(".validation-failed:first");
       // alert($(ty).offset().top);
        //$(ty).focus();
        $('html, body').animate({
        scrollTop: $(ty).offset().top-85
        }, 2000);
       // }
    };
});
</script>
<?php
echo $this->getDesignStyles();
$package = Mage::getDesign()->getPackageName();
$theme = Mage::getDesign()->getTheme('frontend');
?>

<div class="opc-wrapper-opc design_package_<?php echo $package; ?> design_theme_<?php echo $theme; ?>">
    <div  class="cart-con">

        <div > 
            <div class="row">
                <div >
                    <div class="cart-head">
                        <div class="col-md-12">
                            <h1><?php echo $this->__('Checkout') ?></h1>
                            <hr/>
                        </div>
                    </div>

                    <div class="col-md-12  nopadding">
                        <div class="checkout">

                            <div class="col-md-4 ">
                                <h1><?php echo $this->__('Name & Address') ?></h1>
                                <div class="check-process">
                                    <form id="opc-address-form-billing" method="post">
                                        <?php echo $this->getChildHtml('billing') ?>
                                    </form>

                                    <form id="opc-address-form-shipping" class="hidden" method="post">
                                        <?php echo $this->getChildHtml('shipping') ?>
                                    </form>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <?php if (!$this->getOnepage()->getQuote()->isVirtual()): ?>
                                    <h1><?php echo $this->__('Choose your Shipping Method') ?></h1>
                                    <div class="check-process">
                                        <div id="shipping-block-methods">
                                            <?php echo $this->getChildHtml('shipping_method'); //$this->_getShippingMethodsHtml();?>
                                        </div>
                                        <?php //echo $this->getLayout()->createBlock('cms/block')->setBlockId('shipping_method')->toHtml() ?>
                                        <!--<p><span class="payment-opt"><img src="<?php echo $this->getSkinUrl('images/dhl-1.jpg') ?>"></span>
                                            <span class="payment-opt"><img src="<?php echo $this->getSkinUrl('images/dhl-2.jpg') ?>"></span></p>
                                          

                                        <select>
                                            <option value="" id="" >Please Select</option>

                                        </select>
                                        -->
                                    </div>
                                <?php endif; ?>
<!--                                <div class="clearfix"></div>-->

                                <h1><?php echo $this->__('Choose your Payment Method') ?></h1>
                                <div class="check-process">
                                    <div class="payment-block <?php if ($this->getOnepage()->getQuote()->isVirtual()): ?>clear-margin<?php endif; ?>">
                                        <h3><?php echo $this->__('Payment Method') ?></h3>
                                        
                                        <img src= "<?php echo $this->getSkinUrl('images/paypal.jpg');?>">
                                      
                                        <?php echo $this->getChildHtml('payment')//$this->_getPaymentMethodsHtml();   ?>
                                    </div>


                                    <div class="discount_code">
                                        <?php if (Mage::helper('opc')->isShowDiscount()): ?>
                                            <?php echo $this->getChildhtml('coupon'); ?>
                                            <!--form method="post" action="http://www.hsccshop.com/checkout/cart/couponPost/" id="discount-coupon-form"-->
                                        <?php endif; ?>
                                    </div>
                                </div>

                                <?php if (Mage::helper('opc')->isShowComment()): ?>
                                    <?php echo $this->getChildhtml('customer.comment'); ?>
                                <?php endif; ?>

                            </div>

                            <div class="col-md-4 ">
                                <div class="review-order">
                                    <h1>Review Your Order</h1>
                                    <div class="check-process">
                                        <div class="table-order">
                                             <div  id="opc-review-block">
                                            <?php echo $this->_getReviewHtml() ?>
                                             </div>

                                            <table width="100%">
                                                <tr>
                                                    <td>


                                                        <?php if (Mage::getConfig()->getModuleConfig('IWD_OnepageCheckoutSignature')->is('active', 'true')): ?>
                                                            <div class="signature-block">
                                                                <h3><?php echo $this->__('Signature') ?><span class='expand_plus'></span></h3>
                                                                <div  class="collapse-block hidden">
                                                                    <?php echo $this->getChildhtml('opcsignature'); ?>
                                                                </div>
                                                            </div>
                                                        <?php endif; ?>

                                                        <div class="opc-review-actions" id="checkout-review-submit">
                                                            <div class="total-block">
<h5 class="grand_total"><?php echo $this->__('Grand Total') ?></h5>
<div class="cost"><?php echo Mage::helper('opc')->getGrandTotal() ?></div>
</div>
                                                            <?php echo $this->getChildHtml('agreements') ?>
                                                            <?php echo $this->getChildHtml('opc.newsletters'); ?>
                                                            <button type="button" title="<?php echo $this->__('Place Order Now') ?>" class="button btn-checkout opc-btn-checkout"><?php echo $this->__('Place Order Now') ?></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>



                </div> 

            </div>

        </div>
    </div>
</div>

<script>
    var vopc = '<?php echo Mage::getConfig()->getModuleConfig("IWD_Opc")->version; ?>';
    IWD.OPC.Checkout.config = '<?php echo $this->getJsonConfig() ?>';
<?php if ($this->getOnepage()->getQuote()->isVirtual()): ?>
        IWD.OPC.Checkout.isVirtual = true;
<?php endif; ?>
</script>

<div id="agree_error" style="display:none !important;"><?php echo $this->__('Please agree to all the terms and conditions before placing the order.'); ?></div>
<div id="pssm_msg" style="display:none !important;"><?php echo $this->__('Please specify shipping method'); ?></div>
<div class="opc-ajax-loader">
    <div id="floatingCirclesG">
        <div class="f_circleG" id="frotateG_01"></div>
        <div class="f_circleG" id="frotateG_02"></div>
        <div class="f_circleG" id="frotateG_03"></div>
        <div class="f_circleG" id="frotateG_04"></div>
        <div class="f_circleG" id="frotateG_05"></div>
        <div class="f_circleG" id="frotateG_06"></div>
        <div class="f_circleG" id="frotateG_07"></div>
        <div class="f_circleG" id="frotateG_08"></div>
    </div>
</div>
<div class="opc-message-wrapper design_package_<?php echo $package; ?> design_theme_<?php echo $theme; ?>">

    <div class="opc-messages">
        <a class="close-message-wrapper"></a>
        <div class="opc-message-container"></div>
        <div class="opc-messages-action"><button class="button close_coupon"><span><span ><?php echo $this->__('Close') ?></span></span></button></div>
    </div>
</div>


<script>
    jQuery(document).ready(function($){
        $(".close_coupon , .close-message-wrapper").click(function(){
            location.reload(true);
        });
    });
</script>
