
<style>

.category select{
	
	padding:10px;
	
	}
.category input{
	
	padding:10px;
	
	}
	
button, .form-button {
  border-width: 1px;
  border-style: solid;
  border-color: #ed6502 #a04300 #a04300 #ed6502;
  padding: 1px 7px 2px 7px;
  background: #ffac47 url(images/btn_bg.gif) repeat-x 0 100%;
  color: #fff;
  font: bold 12px arial, helvetica, sans-serif;
  cursor: pointer;
  text-align: center !important;
  white-space: nowrap;
  height: 34px;
  display: table;
  width:65px;
}
	
	
	
</style>


<?php 
$id = $this->getRequest()->getParam('id');

$connectionRead = Mage::getSingleton('core/resource')->getConnection('core_read');

$sql1 = "SELECT * FROM paypaladaptive_refund WHERE captured_id = '".$id."'";
$refund =$connectionRead->fetchAll($sql1);

if( count( $refund ) > 0 ){
    
?>
<table width="100%">
    <tr>
        <th style="border:1px #eee2be solid; padding:10px;width:33.3%;background:#f5d9b7;font-weight:bold;color:#000;">Order ID</th>
        <th style="border:1px #eee2be solid; padding:10px;width:33.3%;background:#f5d9b7;font-weight:bold;color:#000;">Amount( EUR )</th>
        <th style="border:1px #eee2be solid; padding:10px;width:33.3%;background:#f5d9b7;font-weight:bold;color:#000;">On</th>
    </tr>
    
    
    
    
    
    

<?php
    foreach( $refund as $value ){
        
    $sql       = "SELECT * FROM paypaladaptive_captured WHERE id = '".$value['captured_id']."'";
    $order_ids = $connectionRead->fetchRow($sql);     
?>
    <tr>
        <td><?php echo $order_ids['order_id'];?></td>
        <td><?php echo $value['amount'];?></td>
        <td><?php echo date("m-d-Y H:i:s",strtotime($value['created_at']));?></td>
    </tr>
<?php
    }
?>
    </table>
<?php
}

?>






<?php
$sql = "SELECT * FROM paypaladaptive_captured WHERE id = '".$id."'";
$rowArray =$connectionRead->fetchRow($sql); 

//print_r($rowArray);

$order_id = $rowArray['order_id'];

$sql1        = "SELECT item_id, order_id, quote_item_id, product_id, base_row_total_incl_tax  FROM sales_flat_order_item WHERE order_id = '".$order_id."'";
$order       = $connectionRead->fetchRow($sql1);

$amount      = $order['base_row_total_incl_tax'];

?>
<form method="post" action="<?php echo $this->getUrl('paypaladaptive/adminhtml_capturepayment/dorefund');?>"  id="form_for_refund">
    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <input name="transaction_id" type="hidden" value="<?php echo $rowArray['transaction_id'] ?>" />
    <input name="email" type="hidden" value="<?php echo $rowArray['customer_email'] ?>" />
    <input name="paykey" type="hidden" value="<?php echo $rowArray['paykey'];?>" />
    <input name="captured_id" type="hidden" value="<?php echo $rowArray['id'];?>" />
    <input name="order_id" type="hidden" value="<?php echo $order_id; ?>" />
    <table width="100%">
        <tr>
            <td style="width:50%;padding-top:10px;">
                <input style="float:right;height:30px;" type="text" name="amount" class="required-entry valid_amount" >
            </td>
            <td style="width:50%;padding-top:10px;">
               <!-- <input style="height:30px;" type="submit" name="submit" value="Submit" >-->
                
                <button type="submit" name="submit">Submit</button>
            </td>
            
        </tr>
    </table>
</form>

<script type="text/javascript">
    //< ![CDATA[
        var dataForm = new varienForm('form_for_refund', true);
        Validation.add('valid_amount', "Can refund upto <?php echo $amount;?>", function(x){
            var amount = "<?php echo $amount;?>";
            if(x > parseInt(amount)){
                return false;
            }
            return true;
        });
    //]]>
</script>