<?php 
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<?php if (!$this->getRequest()->isAjax()): ?>
<div id="ajax-errors" style="display: none;">
    <ul class="messages">
        <li class="error-msg">
            <ul>
                <li><span><?php echo $this->__('An error occurred, please try again later.'); ?></span></li>
            </ul>
        </li>
    </ul>
</div>
<div id="loading" class="please-wait" style="display: none;">
    <img alt="" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
</div>
<div id="catalog-listing">
<?php endif; ?>
    <div class="category-products">
        <?php echo $this->getToolbarHtml() ?>
        <?php // List mode ?>
        <?php if($this->getMode()!='grid'): ?>
            <?php $_iterator = 0; ?>
            <ol class="products-list" id="products-list">
                <?php foreach ($_productCollection as $_product): ?>
                    <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
                        <?php // Product Image ?>
                         <?php if($_product->getFeatured() == 1):?>
                        <div class="tag">
                            <img src="http://www.phppowerhousedemo.com/webroot/team16/flike/skin/frontend/flike/default/images/featured-tag.png">
                        </div>
                         <?php 
                       endif;
                       ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                            <?php /* Based on the native RWD styling, product images are displayed at a max of ~400px wide when viewed on a
                        one column page layout with four product columns from a 1280px viewport. For bandwidth reasons,
                        we are going to serve a 300px image, as it will look fine at 400px and most of the times, the image
                        will be displayed at a smaller size (eg, if two column are being used or viewport is smaller than 1280px).
                        This $_imgSize value could even be decreased further, based on the page layout
                        (one column, two column, three column) and number of product columns. */ ?>
                            <?php $_imgSize = 300; ?>
                            <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"
                                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                        </a>
                        <?php // Product description ?>
                        <div class="product-shop">
                            <div class="f-fix">
                                <div class="product-primary">
                                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                                    <?php if($_product->getRatingSummary()): ?>
                                        <?php echo $this->getReviewsSummaryHtml($_product) ?>
                                    <?php endif; ?>

                                    <?php
                                    $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                    foreach($_nameAfterChildren as $_nameAfterChildName):
                                        $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                        $_nameAfterChild->setProduct($_product);
                                        ?>
                                        <?php echo $_nameAfterChild->toHtml(); ?>
                                    <?php endforeach; ?>
                                </div>
                                
                                <div class="product-secondary">
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                </div>
                                
                                <div class="product-secondary">
                                    <?php if($_product->isSaleable() && !$_product->canConfigure()): ?>
                                        <p class="action"><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                                    <?php elseif($_product->isSaleable()): ?>
                                        <p class="action"><a title="<?php echo $this->__('View Details') ?>" class="button" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a></p>
                                    <?php else: ?>
                                        <p class="action availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                    <?php endif; ?>
                                    <ul class="add-to-links">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                        <?php endif; ?>
                                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                        <?php endif; ?>
                                    </ul>
                                </div>
                                <div class="desc std">
                                    <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                                </div>
                            </div>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
            <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

        <?php else: ?>

        <?php // Grid Mode ?>

        <?php $_collectionSize = $_productCollection->count() ?>
        <?php $_columnCount = $this->getColumnCount();
        
        $helper = Mage::helper('campaign');
        $running_option_id       = $helper -> getOptionId('campaign_status','Running');
        $successfull_option_id   = $helper -> getOptionId('campaign_status','Successfull');
        $unsuccessfull_option_id = $helper -> getOptionId('campaign_status','Unsuccessfull');
        
        ?>
          <div class="block"> 
           <ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col">
                <?php 
                $_productCollection->addAttributeToSelect('*');
                $i=0; foreach ($_productCollection as $_product): ?>
                    <?php /*if ($i++%$_columnCount==0): ?>
            <?php endif*/ ?>
               
               <?php
                    $single_product = Mage::getModel('catalog/product')->load($_product->getId());
                    $user_id = $single_product->getUserId();
                    $designer = Mage::getModel('customer/customer')->load($user_id);
                    $second_in_one_day = 60 * 60 * 24;
                    $created_timestamp = strtotime($single_product->getCreatedAt());
                    $campaign_duration = $single_product->getCampaignDuration();

                    $total = $created_timestamp + ($campaign_duration * $second_in_one_day);

                    $current_timestamp = time();

                    $days_left = ($total - $current_timestamp) / $second_in_one_day;
                    $get_category_id = $_product->getCategoryIds();
                    $categories = array(29,24);
                        foreach($get_category_id as $cat){
                            $parentId = Mage::getModel('catalog/category')->load($cat)->getParentId();
                            if(in_array($parentId, $categories)){
                                $show_cat = $cat;
                            }
                        }
                        $_category = Mage::getModel('catalog/category')->load($show_cat);
                        
                        
                        
                    $sales_target     = $single_product -> getSalesTarget();
                    $quantity_ordered = $single_product -> getQuantityOrdered();
                    
                    $funded           = floor(($quantity_ordered/$sales_target)*100)
			//print_r( $get_category_id);
                    //if($single_product -> getCampaignStatus() == $running_option_id){
               ?>
                    <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                    <?php if($_product->getFeatured() == 1):?>
                       <div class="tag">
                            <img src="http://www.phppowerhousedemo.com/webroot/team16/flike/skin/frontend/flike/default/images/featured-tag.png">
                        </div>
                       <?php 
                       endif;
                       ?>
                       
                      
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                            <?php $_imgSize = 210; ?>
                            <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                        </a>
                        
                        <?php if($single_product -> getCampaignStatus() == $successfull_option_id){
                        ?>
                            <div class="suceed-campaign">Campaign succeed</div>
                        <?php
                        }elseif( $single_product -> getCampaignStatus() == $unsuccessfull_option_id ){
                        ?>
                            <div class="unsucced">Campaign unsucceed</div>
                        <?php 
                        }
                        ?>
                         
                         
                          
                        <div class="product-info">
                        
                        <div class="block-top-row"> <div class="category"><a href="#"><?php echo $_category -> getName();;?></a></div> <div class="price-area"><strong><?php echo $this->getPriceHtml($_product, true) ?></strong></div> </div>
                        <div class="block-top-row clearfix"> 
                            
                        <span class="rate-bar">
                            <span class="rating">
                                <span class="rate-fill" style="width:<?php echo $funded;?>%;"><?php echo $funded;?>%&nbsp;funded</span>
                            </span>    
                        </span> 
                            
                        <span class="days"><?php echo $single_product->getCampaignDuration();?> days left</span> </div>
                    
                        <div class="block-top-row clearfix"> <span class="name"><a href="<?php echo $this->getUrl('designer/profile',array('id'=>$designer -> getId()));?>"><?php echo $designer -> getFirstname().'&nbsp;'.$designer -> getLastname();?></a></span>
                            
                            <?php 
                                $connectionRead = Mage::getSingleton('core/resource')->getConnection('core_read');
                                $sql2 = "SELECT * FROM  designer_rating WHERE designer_id = '". $single_product->getUserId() ."'";
                                
                                $rate = $connectionRead -> fetchAll( $sql2 );
                            ?>
                            
                            <span class="review">
                                <?php
                               
                                    if( count( $rate ) > 0 ){
                                         $rt = 0;
                                        foreach( $rate as $r ){
                                            $rt = $rt + $r['rating'];
                                        }
                                        $av = ceil( $rt/count( $rate ) );
                                ?>   
                                
                                    <img src="<?php echo $this->getSkinUrl('images/'.$av.'.png'); ?>">
                                <?php } ?>
                            </span>
                        </div>
                        
                            <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>

                            <?php
                            $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                            foreach($_nameAfterChildren as $_nameAfterChildName):
                                $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                $_nameAfterChild->setProduct($_product);
                                ?>
                                <?php echo $_nameAfterChild->toHtml(); ?>
                            <?php endforeach; ?>

                            
                            <?php if($_product->getRatingSummary()): ?>
                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                            <?php endif; ?>
                            
                            <div class="desc"><?php echo substr($_product->getShortDescription(),0,50).'..'; ?></div>
                            <div class="actions">
                                <?php //if($_product->isSaleable() && !$_product->canConfigure()): ?>
<!--                                    <button type="button" title="<?php //echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php //echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php //echo $this->__('Add to Cart') ?></span></span></button>-->
                                <?php //elseif($_product->isSaleable()): ?>
                                    <a title="<?php echo $this->__('View Details') ?>" class="button" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a>
                                <?php //else: ?>
<!--                                    <p class="availability out-of-stock"><span><?php //echo $this->__('Out of stock') ?></span></p>-->
                                <?php //endif; ?>
                              
                            </div>
                            
                              <ul class="add-to-links">
                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                        <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                    <?php endif; ?>
                                   <?php /*?> <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                        <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                    <?php endif; ?><?php */?>
                                </ul>
                        </div>
                    </li>
                    <?php /*if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
                    <?php endif*/ //}?>
                <?php endforeach ?>
            </ul>
            </div>
            <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
        <?php endif; ?>

        <div class="toolbar-bottom">
            <?php //echo $this->getToolbarHtml() ?>
        </div>
    </div>
<?php if (!$this->getRequest()->isAjax()): ?>
</div>
<?php endif; ?>
<?php endif; ?>

<?php
//set product collection on after blocks
$_afterChildren = $this->getChild('after')->getSortedChildren();
foreach($_afterChildren as $_afterChildName):
    $_afterChild = $this->getChild('after')->getChild($_afterChildName);
    $_afterChild->setProductCollection($_productCollection);
    ?>
    <?php echo $_afterChild->toHtml(); ?>
<?php endforeach; ?>

<script type="text/javascript">
    //<![CDATA[
    <?php if ($this->helper('catalin_seo')->isAjaxEnabled()): ?>
    CatalinSeoHandler.isAjaxEnabled = true;
    <?php endif; ?>
    CatalinSeoHandler.bindListeners();
    //]]>
</script>
