<style>

 .backus a:hover {
  color: #fff !important;
 }
</style>
<?php
$all_data1 =  $this->showAns($this->getRequest()->getParam('id'));
?>
<div class="col-sm-12">
    <div class="ques">
     
<?php

    ?>
            
            <div class="answer">
                
		<h1><?php echo $all_data1[0]['question']; ?></h1>
                <p><?php echo $all_data1[0]['answer'];   ?></p>
		  <p class="backus" style="color:#fff;">  <a style="color:#fff;"  href="<?php echo $this->getUrl("faqs");?>">Back</a> </p>      
            </div>
            
            
            
            <div class="contact-bottom">
                <h1>Have a question we haven't answered?</h1>

                <p>Our Support office hours are Monday-Friday 9AM-5PM (EST). We respond to all emails and voicemails within 1 business day. <p>

                <p class="emailus">  <a href="<?php echo $this->getUrl("contacts");?>">Email Us</a> </p>      
            </div>


    <?php

?>
</div>
</div>
