<style>

.faqerror{font-family: "Lato", sans-serif;color: #df280a;font-weight:normal;}
</style>
<?php
$all_data1 = $this->showFaq();
?>

<script>
    jQuery(function() {
        jQuery("#searchfaq").autocomplete({
            source: "<?php echo $this->getUrl('faqs/index/search') ?>",
            select: function(event, ui) {
		jQuery("#searchfaq").val(ui.item.value);
                jQuery(location).attr('href', ui.item.url);
		jQuery("#tags").attr("disabled",true);
                //jQuery('#formid').attr('action', ui.item.url);

                //alert("You selected: " + ui.item.value);
                // alert( "You selected: " + ui.item.url );


            }


        }).data("ui-autocomplete")._renderItem = function(ul, item) {
            //alert(item);
            return jQuery("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + item.label + "</a>")
                    .appendTo(ul);
        };
    });
</script>
<div class="contact">
    <h1><?php echo $this->__('How can we help?') ?></h1>
    <h2 class="text-center"><?php echo $this->getLayout()->createBlock("cms/block")->setBlockId("faq_question")->toHtml(); ?></h2>
<?php $search=$this->getRequest()->getPost("term");
if($search!=''){
?>
<div class="faqerror">Sorry !! no results found for <span><?php echo $search?></span>. Please try to search again or email us with your queries.</div>
<?php }?>
</div>
<div class="row">
    <div class="search-form">
	<form method="post" action="<?php echo $this->getUrl('faqs/index') ?>" id="faqform">
        <input type="text" class="required-entry" id="searchfaq" name="term" placeholder="Enter your question here...">

        <button id="tags" type="submit" value="Submit" class="search-submit">Ask me</button>
	</form>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <?php foreach ($all_data1 as $all_data) { ?>
            <div >
                <div class="ques">
                    <h1><?php echo $all_data['cat_name'] ?></h1>

                    <?php
                    $all_data2 = $this->showQues($all_data['id']);

                    foreach ($all_data2 as $all_data2) {
                        ?>
                        <p><a href="<?php echo $this->getUrl('faqs/index/details') ?><?php echo '?id=' . $all_data2['id'] ?>"><?php echo $all_data2['question']; ?></a></p>
                    <?php }
                    ?>
                </div>
            </div>
        <?php }
        ?>

    </div>

    <div class="col-sm-4 emailus">
        <h1><?php echo $this->__('Contact us'); ?></h1>    
        <h3><?php echo $this->__('Get in touch with us'); ?></h3>
        <a href="<?php echo $this->getUrl('contacts'); ?>">Email us</a>

    </div>
</div>
<script>
	
	 var dataForm = new VarienForm('faqform', true);
</script>