<?php

$all_data1 =  $this->showAns($this->getRequest()->getParam('id'));
?>
<div class="col-sm-4">
    <div class="ques">
     
<?php

    ?>
            
            <div class="answer"><?php echo $all_data1[0]['answer'];   ?></div>


    <?php

?>
</div>
</div>
