<style>

    .data_error{

        color:red;

    }

</style>

<script type="text/javascript">

jQuery(document).ready(function($){

    $(".customer_country").change(function(){

        var country_code = this.value;

        new Ajax.Request('<?php echo $this->getUrl('customer/ajax/getState')?>',

        {

        method:'get',

        parameters: {country_code: country_code},

        onSuccess: function(transport){

        var response = transport.responseText || "nothing in response text";

        //alert("Success! \n\n" + response);

        $(".country_region").html(response);

        },

        onFailure: function(){ alert('something wrong') }

        });

    });

});



</script>



<script type="text/javascript">

  jQuery(document).ready(function($) {





	  /*$('.openup-slider').owlCarousel({

		loop:true,

		nav:true,

		navText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],

		responsive:{

			0:{

				items:1

			},

			768:{

				items:2

			},

			1199:{

				items:4

			}

		}

           });*/



            jQuery("#addfield").click(function(){



                var htmlcontent='<input  name="video_url[]" value="" type="text" >';



                jQuery("#field-text").append(htmlcontent);



            });

            

            

            // script to change profile image 



            $(".designer_profile_image").on('change',(function(e){

                e.preventDefault();

                var file = this.files[0];

                 $('.file_size_validation').removeClass('data_error').html("");

                var name = file.name;

                var ext  = name.split(".");

                if(ext[1] == "png" || ext[1] == "jpg" || ext[1] == "jpeg" ){

                

                

                var pro_image = new FormData();

                 

                // file size validation

                    var main_size = this.files[0].size;

                    var mb_size = main_size/1024/1024;  

                    var size = (Math.round(mb_size));

                    if(size>3)

                    {

                    $('.file_size_validation').addClass('data_error').html("Please upload file maximum size 3 MB.");

                       

                    }else{

                //end

                

                        pro_image.append('formData', file);

                        $.ajax({

                            url: "<?php echo $this->getUrl('customer/ajax/uploadprofile')?>",

                            type: "POST",

                            //data:  new FormData(this),

                            data:pro_image,

                            contentType: false,

                            cache: false,

                            processData:false,

                            success: function(data){

                            $("#updated_profile_image").attr("src", "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);?>"+data);

                            //alert(data);

                            $("#customer_profile_image_hidden").attr("value",data)

                            },

                            error: function(){} 	        

                        });

                    }

                }else{

                     $('.file_size_validation').addClass('data_error').html("Allowed extension png | jpg | jpeg");

                }

        }));



            // script to change profile image end

            

            

            

            //script to add gallery

            $(".add_designer_gallery").on('change',(function(e){

                e.preventDefault();

                var file = this.files[0];

                $('.file_size_validationsd').removeClass('data_error').html("");

                

                var name = file.name;

                var ext  = name.split(".");

                if(ext[1] == "png" || ext[1] == "jpg" || ext[1] == "jpeg" ){

                

                

                

                

                

                 // file size validation

                    var main_size = this.files[0].size;

                    var mb_size = main_size/1024/1024;  

                    var size = (Math.round(mb_size));

                    if(size>3)

                    {

                    $('.file_size_validationsd').addClass('data_error').html("Please upload file maximum size 3 MB.");

                       

                    }else{

                //end

                

                    var gal_image = new FormData();

                    gal_image.append('formData', file);

                    $.ajax({

                        url: "<?php echo $this->getUrl('customer/ajax/adddesignergallery')?>",

                        type: "POST",

                        //data:  new FormData(this),

                        data:gal_image,

                        contentType: false,

                        cache: false,

                        processData:false,

                        success: function(data){

                         var arr =    $.parseJSON(data);//alert(arr.designer_gallery_id);

                         var image_path = "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);?>"+arr.image;

                         $(".uploaded_gallery_image").append("<p class='clearfix' style='width:100%;float:left;'><div class=\"img_upload\"><img src="+image_path+" width=\"32\" height=\"32\"></div><div class='img_upload'>"+arr.image_name+"</div><div class=\"cross\" ><a href=\"javascript:void(0);\" class=\"delete_gallery\" id='"+arr.designer_gallery_id+"'><img src=\"<?php echo $this->getSkinUrl('images/cross.png');?>\"></a></div></p>");

                        //alert(data);

                        },

                        error: function(){} 	        

                    });

                    }

                    }else{

                        $('.file_size_validationsd').addClass('data_error').html("Allowed extension png | jpg | jpeg");

                    }

                

        }));

            //script to add gallery end

            

            //script to delete gallery

            $(".delete_gallery").click(function(){

                var gallery_id = this.id;

                $("#"+gallery_id).parent().parent().fadeOut();

                new Ajax.Request('<?php echo $this->getUrl('customer/ajax/deleteGallery')?>',

                {

                method:'get',

                parameters: {gallery_id: gallery_id},

                onSuccess: function(transport){

                var response = transport.responseText || "nothing in response text";

                //alert("Success! \n\n" + response);

                //$(".country_region").html(response);

                },

                onFailure: function(){ alert('something wrong') }

                });

            });

            //script to delete gallery end

            

            //$( "body" ).delegate( "#pop", "click", function() {

            $("#pop").unbind("click").bind("click", function(){

                $( this ).after( "<div class='parent'><input  name='video_url[]' placeholder='Embedded video link' type='text'   class='validate-url validate-embed-url'>&nbsp;&nbsp;<a href='javascript:void(0);' class='removes'>Remove</a><div>" );

            });

            $( "body" ).delegate( ".removes", "click", function() {

                $(this).parent().remove();

            });

            

            

           $('a[href="#designer"]').on('shown.bs.tab', function () {

				initialize_owl($('.openup-slider'));

			}).on('hide.bs.tab', function () {

				if ($('.openup-slider').length) {

				destroy_owl($('.openup-slider'));    

				}

				

			});

                        

                        

                        

                        

         //code to delete video url

         $(".delete_videoer").unbind("click").bind("click", function(){

             var video_id = this.id;

             //alert("sdf");

               $(this).prev().first().remove();

                     $(this).next().first().remove();

                     $(this).remove();

                

                new Ajax.Request('<?php echo $this->getUrl('customer/ajax/deleteVideo')?>',

                {

                method:'get',

                parameters: {video_id: video_id},

                onSuccess: function(transport){

                var response = transport.responseText || "nothing in response text";

                     

                },

                onFailure: function(){ alert('something wrong') }

                });

         });

         //end

	

   });

	

	

	

	function initialize_owl(el) {

    el.owlCarousel({

		loop:true,

		nav:true,

		navText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],

		responsive:{

			0:{

				items:1

			},

			768:{

				items:2

			},

			1199:{

				items:4

			}

		}

           });

}



function destroy_owl(el) {

    el.data('owlCarousel').destroy();

}

	</script>

        

      

<div>

    <?php //echo $this->getMessagesBlock()->toHtml() ?>

        <ul id="myTab" class="nav nav-tabs" style="margin-bottom: 40px;">

          <li class="sign_area">&nbsp;</li>

          <li class="active"><a href="#customer" data-toggle="tab">Personal profile</a></li>

          <li >

              <?php if($this->getCustomer()->getGroupId() == 2){ ?>

              <a href="#designer" data-toggle="tab" class="designer_tab">Designer profile</a>

              <?php } else{?>

              <a href="javascript:void(0);" data-toggle="tab" class="designer_tab">Designer profile</a>

              <?php }?>

          

          </li>

        </ul>

        <div id="myTabContent" class="tab-content" >

            

          <div class="tab-pane fade in active" id="customer">

               <form  enctype="multipart/form-data" method="post" action="<?php echo Mage::getBaseUrl().'customer/account/profilepost' ?>" id="form_for_customer" class="scaffold-form">

                <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />

                <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />

                <input type="hidden" name="profile_type" value="personal">

                <?php echo $this->getBlockHtml('formkey'); ?>

            <div class="register">

              <div class="col-sm-6 nopadding">

               

                  <div class="form-groups">

                      <label>Title<span class="required"></span></label>

                    <div class="input-group">

                      <input id="customer_title"  type="text" maxlength="255" title="Title" value="<?php echo $this->getCustomer()->getCustomerTitle()?>" name="customer_title" class="input-text required-entry validate-alpha" >

                    </div>

                  </div>

                  <div class="form-groups">

                    <label>First name<span class="required"></span></label>

                    <div class="input-group">

                     <input id="firstname"  type="text" maxlength="255" title="First Name" value="<?php echo $this->getCustomer()->getFirstname()?>" name="firstname" class="input-text required-entry validate-alpha" >

                    </div>

                  </div>

                  <div class="form-groups">

                    <label>Last name<span class="required"></span></label>

                    <div class="input-group">

                      <input id="lastname"  type="text" maxlength="255" title="Last Name"  name="lastname"  class="input-text required-entry validate-alpha" value="<?php echo $this->getCustomer()->getLastname();?>">

                    </div>

                  </div>

                  <div class="form-groups">

                    <label>Gender</label>

                    <div class="input-group">

                      <div class="regular-radio-con">

                          <input type="radio" id="radio-2-1" name="gender" class="regular-radio big-radio" value="1" <?php if($this->getCustomer()->getGender() == "1"){ ?> checked="checked" <?php } ?>/>

                        <label for="radio-2-1"></label>

                        <span><i class="fa fa-male"></i></span></div>

                      <div class="regular-radio-con">

                        <input type="radio" id="radio-2-2" name="gender" class="regular-radio big-radio" value="2" <?php if($this->getCustomer()->getGender() == "2"){ ?> checked="checked" <?php } ?>/>

                        <label for="radio-2-2"></label>

                        <span><i class="fa fa-female"></i></span></div>

                    </div>

                  </div>

                  <div class="form-groups">

                    <label>Email<span class="required"></span></label>

                    <div class="input-group">

                       <input id="email_address"  type="text" title="Email Address"  name="email" spellcheck="false" autocorrect="off" autocapitalize="off" value="<?php echo $this->getCustomer()->getEmail();?>" class="input-text validate-email required-entry">

                    </div>

                  </div>

                  <div class="form-groups">

                    <label>Address<span class="required"></span></label>

                    <div class="input-group text-field ">

                      <textarea id="customer_address"  name="customer_address" rows="2" cols="15" class="input-text required-entry"><?php echo $this->getCustomer()->getCustomerAddress();?></textarea>

                    </div>

                  </div>

               

              </div>

              <div class="col-sm-6 nopadding">

              

                  <div class="form-groups">

                    <label>Country<span class="required"></span></label>

                    <div class="input-group">

                                 <?php

                                    $country_collection = Mage::getModel('directory/country')->getCollection();

                                    ?>

                                <select  id="customer_country" class="input-text required-entry validate-select customer_country" name="customer_country">

                                   <option value="">Select Country</option>

                                   <?php

                                        foreach ($country_collection as $country) 

                                         {

                                             $cid = $country->getId();

                                             $cname = $country->getName();

                                    ?>

                                   <option value="<?php echo $cid;?>" <?php if($this->getCustomer()->getCustomerCountry() == $cid){ ?> selected="selected"<?php }?>><?php echo $cname;?></option>

                                    <?php } ?>

                                </select>

                             </div>

                  </div>

                  <div class="form-groups">

                        <label>State<span class="required"></span></label>

                        <div class="input-group country_region">

                                    <?php

                                        $stateCollection =  Mage::getModel('directory/region')->getResourceCollection()->addCountryFilter($this->getCustomer()->getCustomerCountry())->load();

                                    ?>

                                    <select  id="customer_state" class="input-text required-entry validate-select" name="customer_state">

                                       <option value="">Select State</option>

                                       <?php

                                       foreach ($stateCollection as $state) 

                                        {

                                                 $sid   = $state->getCode();

                                                 $sname = $state->getDefaultName();

                                      ?>

                                       <option value="<?php echo $sid ;?>" <?php if($this->getCustomer()->getCustomerState() == $sid){ ?> selected="selected"<?php }?> ><?php echo $sname;?></option>;

                                      <?php

                                        }  

                                        ?>

                                    </select>

                        </div>

                  </div>

                  <div class="form-groups">

                    <label>City<span class="required"></span></label>

                    <div class="input-group">

                        <input id="customer_city"  type="text" name="customer_city" value="<?php echo $this->getCustomer()->getCustomerCity();?>" class="input-text required-entry">

                    </div>

                  </div>

                  <div class="form-groups">

                    <label>Zip code<span class="required"></span></label>

                    <div class="input-group">

                      <input id="customer_zipcode"  type="text" name="customer_zipcode" value="<?php echo $this->getCustomer()->getCustomerZipcode();?>" class="input-text required-entry">

                    </div>

                  </div>

                  <div class="form-groups">

                    <label>Telephone<span class="required"></span></label>

                    <div class="input-group">

                      <input id="customer_telephone" type="text" name="customer_telephone" value="<?php echo $this->getCustomer()->getCustomerTelephone();?>" class="input-text required-entry validate-number">

                    </div>

                  </div>

                  <div class="form-groups">

                    <label>&nbsp;</label>

                    <button class="submit" type="submit">Save</button>

                    <button type="button" class="submit text-center" onclick="history.go(-1);">Cancel</button>

                  </div>

                </div>

              

              <div> </div>

            </div>

               </form>

          </div>

          <div class="tab-pane fade" id="designer">

              <form  enctype="multipart/form-data" method="post" action="<?php echo Mage::getBaseUrl().'customer/account/profilepost' ?>" id="form_for_designer" class="scaffold-form">

                <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />

                <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />

                <input type="hidden" name="profile_type" value="designer">

                <?php echo $this->getBlockHtml('formkey'); ?>

               <div class="designer-profile">

              <div class="row">

                <div class="col-sm-4">

                  <div class="profile-pic">

                    <figure>

                        <?php 

                            if( $this->getCustomer()->getCustomerProfileImage() == "" ){

                                $profile_image = $this->getSkinUrl('images/upload-pic.png');

                                $hidden_file = "";

                            }else{

                                $profile_image =  Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .$this->getCustomer()->getCustomerProfileImage();

                                $hidden_file = $this->getCustomer()->getCustomerProfileImage();

                            }

                        ?>

                        <input type="hidden" name="customer_profile_image"  id="customer_profile_image_hidden" value="<?php echo $hidden_file;?>">

                      <div class="upload-pic"><img src="<?php echo $profile_image;?>" alt="" title="" id="updated_profile_image" width="338" height="274"></div>

                      <div class="uplaod-btn">

                        Change picture<br>

                        <input type="file" name="customer_profile_imagesss"  size="40" class="upload designer_profile_image" aria-required="true" aria-invalid="false">

                      

                        

                        </div>

                         <div class="upload-img-txt"> Please uplaod Image (340x275) dimension</div>

                    </figure>

                      <div class="file_size_validation"></div>

                  </div>

                </div>

                <div class="col-sm-8 no-padding">

                  <div class="about-designer">

                    <h1>About me</h1>

                    <div class="about-con">

                        <textarea id="customer_about_me"  name="customer_about_me" rows="2" cols="40" class="input-text required-entry"><?php echo $this->getCustomer()->getCustomerAboutMe();?></textarea>

                    </div>

                  </div>

                </div>

              </div>

              <div class="row">

                <div class="designer-profile">

                  <div class="col-sm-6 nopadding">

                    <div class="form-groups">

                      <label>Brand name</label>

                      <div class="input-group">

                        <input id="customer_brand_name"  type="text" maxlength="255" title="Brand Name" value="<?php echo $this->getCustomer()->getCustomerBrandName()?>" name="customer_brand_name" class="input-text required-entry" >

                      </div>

                    </div>

                    <div class="form-groups">

                      <label>Website</label>

                      <div class="input-group">

                        <input id="customer_website"  type="text" maxlength="255" title="Website" value="<?php echo $this->getCustomer()->getCustomerWebsite()?>" name="customer_website" class="input-text validate-clean-url" >

                      </div>

                    </div>

                    <div class="form-groups">

                      <label>Facebook</label>

                      <div class="input-group">

                          <input id="customer_facebook"  type="text" maxlength="255" title="Facebook" value="<?php echo $this->getCustomer()->getCustomerFacebook()?>" name="customer_facebook" class="input-text validate-clean-url" >

                      </div>

                    </div>

                    

                    

                       <div class="form-groups">

                      <label>Attach images</label>

                      <div class="input-group">

                       

                        

                    

                        <div class="fileUpload">

                            <i class="fa fa-picture-o"></i> Browse<br>

                            <input type="file"  size="40" class="upload add_designer_gallery" id="uploadBtn" aria-required="true" aria-invalid="false">

                        </div>

                          <div class="file_size_validationsd"></div>

                        <div class="uploaded_gallery_image" >

                           <?php 

                                $gallery = $this -> getGallery();

                                if($gallery->count() > 0){

                                    foreach($gallery as $key => $value ){

                           ?>

                            <span class="clearfix" style="width:100%;float:left;">

                                <div class="img_upload"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$value['image'];?>" height="32" width="32"></div>

                                <div class="img_upload"><?php echo $value['image_ori_name'];?></div>

                                <div class="img_upload" ><a href="javascript:void(0);" class="delete_gallery" id="<?php echo $value['designer_gallery_id'];?>"><img src="<?php echo $this->getSkinUrl('images/cross.png');?>"></a></div>

                            </span>

                           <?php

                                    }

                                }

                           ?>

                        </div>

                     





                      </div>

                    </div>

                 

                  </div>

                  <div class="col-sm-6 nopadding">

                    <div class="form-groups">

                      <label>Twitter</label>

                    <div class="input-group">

                        <input id="customer_twitter"  type="text" maxlength="255" title="Twitter" value="<?php echo $this->getCustomer()->getCustomerTwitter()?>" name="customer_twitter" class="input-text  validate-clean-url" >

                      </div>

                    </div>

                    <div class="form-groups">

                      <label>Linked In</label>

                      <div class="input-group">

                        <input id="customer_linkedin"  type="text" maxlength="255" title="Linkedin" value="<?php echo $this->getCustomer()->getCustomerLinkedin()?>" name="customer_linkedin" class="input-text  validate-clean-url" >

                      </div>

                    </div>

                    <div class="form-groups">

                      <label>Pinterest</label>

                      <div class="input-group">

                        <input id="customer_pinterest"  type="text" maxlength="255" title="Pinterest" value="<?php echo $this->getCustomer()->getCustomerPinterest()?>" name="customer_pinterest" class="input-text  validate-clean-url" >

                      </div>

                    </div>

                    <div class="form-groups">

                      <label>Attach videos</label>

                      <div class="input-group">

                          <?php

                           $video = $this->getVideos();

                            if($video -> count() > 0){

                                foreach($video as $key => $value){

                          ?>

                         

                            <input placeholder='Embedded video link'  name="video_url[]"   type="text" value="<?php echo $value['url'];?>"  class="validate-url validate-embed-url" id="<?php echo $key;?>" class="video_url">

                            

                            <a href="javascript:void(0);" class="delete_videoer" id="<?php echo $value['designer_video_id'];?>">Remove</a>

                            

                            <input  name="video_id[]"  type="hidden" value="<?php echo $value['designer_video_id'];?>" class="video_id">

                            

                           

                          <?php 

                                }

                            }else{

                          ?>

                            <input placeholder='Embedded video link'  name="video_url[]" value="" type="text" class="validate-url validate-embed-url" >

                          <?php

                            }

                          ?>

                        

                      </div>

                        <div  class="add-field ">

                            <a style="text-decoration:none;" href="javascript:void(0)" id="pop">+ Add new</a>

                        

                        

                        </div>

                

<!--                            <p id="field-text"> </p>-->

                    </div>

                 

                  </div>

                  

                  

                

                </div>

              </div>

              <h1>Payment information</h1>

              

              

              <div class="row">

              <div class="col-sm-6 nopadding">

                    <div class="form-groups">

                      <label>Account Owner's<br/> Name</label>

                      <div class="input-group">

                        <input  type="text" maxlength="255" title="Account Owner's Name"  name="account_owner_name" class="input-text" value="<?php echo $this->getCustomer()->getAccountOwnerName()?>">

                      </div>

                      

                    </div>

                    <div class="form-groups">

                      <label>Bank name</label>

                      <div class="input-group">

                        <input  type="text" maxlength="255" title="Bank name"  name="bank_name" class="input-text" value="<?php echo $this->getCustomer()->getBankName()?>">

                      </div>

                    </div>

                  </div>

                  

                  

                  

                  

                  

                  

                  

                       <div class="col-sm-6 nopadding">

                    <div class="form-groups">

                      <label>IBAN</label>

                      <div class="input-group">

                        <input  type="text" maxlength="255" title="IBAN" name="iban" class="input-text" value="<?php echo $this->getCustomer()->getIban()?>">

                      </div>

                    </div>

                    <div class="form-groups">

                      <label>BIC</label>

                      <div class="input-group">

                        <input  type="text" maxlength="255" title="BIC"  name="bic" class="input-text" value="<?php echo $this->getCustomer()->getBic()?>">

                      </div>

                    </div>

                  </div>  

                  

                  

                  

                  

                  

                  

                  

                  

                  

              

              </div>

              

              

              

              

              

              <div class="row">

              <div class="design-btn">

              

              <button type="submit" class="save text-center">Save</button>

             <button type="button" class="cancel text-center" onclick="history.go(-1);">Cancel</button>

              

              </div>

              

              

              </div>

        

  

  <div class="row">

  

<hr/>

  

  <div class="openup-blocks-cont">

      <?php 

            

            $helper = Mage::helper('campaign');

            

            $running_option_id       = $helper -> getOptionId('campaign_status','Running');

            $successfull_option_id   = $helper -> getOptionId('campaign_status','Successfull');

            $unsuccessfull_option_id = $helper -> getOptionId('campaign_status','Unsuccessfull');

            

            

            $customer    = Mage::getSingleton('customer/session')->getCustomer();

            $customer_id = $customer->getId();

       

            $products = Mage::getModel('catalog/product')->getCollection()->addFieldToFilter('type_id', Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE)->addFieldToFilter('status', "1")->addFieldToFilter('user_id', $customer_id)->addFieldToFilter('campaign_status', $running_option_id);

            $products->addAttributeToSelect('*');

             $products->addAttributeToFilter("campaign_status","308");

            

            

                  if ($products->count() == 0) {

            ?>

<!--                <h1>No ongoing campaigns</h1>

                <div class="openup-slider block">-->

                  <?php } else{ ?>

                   <h1><?php echo $this->__('Ongoing campaigns') ?></h1>

                <div class="openup-slider block" id="ongoingcamp">

                    <?php

                    $_helper = $this->helper('catalog/output');

                    foreach ($products as $pro) {

                        $user_id = $pro->getUserId();

                        $designer = Mage::getModel('customer/customer')->load($user_id);



                        $categories_id = $pro->getCategoryIds();

                        $categories = array(29,24);

                        foreach($categories_id as $cat){

                            $parentId = Mage::getModel('catalog/category')->load($cat)->getParentId();

                            if(in_array($parentId, $categories)){

                                $show_cat = $cat;

                            }

                        }

                        $subcat = Mage::getModel('catalog/category')->load($show_cat);

                        



                        $second_in_one_day = 60 * 60 * 24;

                        $created_timestamp = strtotime($pro->getCreatedAt());

                        $campaign_duration = $pro->getCampaignDuration();



                        $total = $created_timestamp + ($campaign_duration * $second_in_one_day);



                        $current_timestamp = time();



                        $days_left = ($total - $current_timestamp) / $second_in_one_day;

                        

                        $sales_target     = $pro -> getSalesTarget();

                        $quantity_ordered = $pro -> getQuantityOrdered();



                        $funded           = floor(($quantity_ordered/$sales_target)*100);



                        $_imgSize = 300;

                     ?>

            	 <div class="item">

                            <div class="items col-sm-3 col-md-3">

                                <div class="block-thumb">

                                  <?php if($pro->getUserId() == Mage::getSingleton('customer/session')->getCustomer()->getId() && Mage::getSingleton('customer/session')->isLoggedIn()){ ?>

                                    <p class="edit-btn"><a href="<?php echo $this->getUrl("campaign/edit/index", array("id" => $pro->getSku())) ?>"><i class="fa fa-pencil"></i> </a></p>

                                <?php }?>

                                    <img id="2" src="<?php echo $this->helper('catalog/image')->init($pro, 'small_image')->keepFrame(false)->resize($_imgSize); ?>" style="display: block; opacity: 0.902187817635042;">

                <!--                    <img id="1" src="<?php //echo $this->getSkinUrl('images/pro-1.png');           ?>" style="display: block; opacity: 0.0978121823649578;">-->

                                </div>

                                

                                

                                <div class="block-top-row"> 

                                    <span class="category pull-left"><a href="<?php echo $subcat->getUrl(); ?>"><?php echo $subcat->getName(); ?></a></span> 

                                    <span class="pull-right"><strong><i class="fa fa-eur"></i><?php echo number_format($pro->getPrice(), 2, '.', ' '); ?></strong></span> 

                                </div>

                                <div class="block-top-row clearfix"> 

                                    

                                    

                                    

                                   

                                     <span class="rate-bar">

                                        <span class="rating">

                                            <span class="rate-fill" style="width:<?php echo $funded;?>%;"><?php echo $funded;?>%funded</span>

                                        </span>    

                                    </span> 

                                    

                                    

                                    

                                    

                                    <span class="pull-right days"><?php echo $campaign_duration; ?> <?php echo $this->__('days left') ?></span> 

                                </div>

                                <div class="block-top-row clearfix"> 

                                    <span class="name pull-left"><a href="<?php echo $this->getUrl('designer/profile', array('id' => $designer->getId()));?>"><?php echo $designer->getFirstname() . ' ' . $designer->getLastname(); ?></a></span> 

                                    <span class="review pull-right">

<!--                                        <img src="<?php //echo $this->getSkinUrl('images/review.png'); ?>">-->

                                    </span> 

                                </div>

                                <div class="clearfix"></div>

                                <h3><a href="<?php echo $pro->getProductUrl() ?>"><?php echo $pro->getName(); ?></a></h3>

                                <div class="desc"><?php echo substr($pro->getShortDescription(), 0, 100) . '..'; ?></div>

                                <p class="view"><a href="<?php echo $pro->getProductUrl() ?>">View Details</a></p>

                             <!--   <?php if($entity_Id == $user_id){ ?>

                                    <p class="view"><a href="<?php echo $this->getUrl("campaign/edit/index", array("id" => $pro->getId())) ?>">Edit</a></p>

                                <?php } ?>-->

                            </div>

                        </div>

                

                    <?php } ?>

               

                  <?php } ?>

                <!--Item-->

            </div>

          

        </div>

                

                

                

                

  <div class="openup-blocks-cont">

      

      <?php 

      $products_previous = Mage::getModel('catalog/product')->getCollection()->addFieldToFilter('type_id', Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE)->addFieldToFilter('status', "1")->addFieldToFilter('user_id', $customer_id)->addFieldToFilter('campaign_status', array('neq' => $running_option_id));

        $products_previous->addAttributeToSelect('*');

       $products_previous->addAttributeToFilter("campaign_status","308");

            if ($products_previous->count() ==  0) {

            ?>

<!--   <h1>No previous campaigns</h1>

            <div class="openup-slider block">-->

            <?php }else{ 

      ?>

                <h1><?php echo $this->__('Previous campaigns') ?></h1>

            <div class="openup-slider block" id="prevcamp">

      <?php

       $_helper = $this->helper('catalog/output');

                    foreach ($products_previous as $pro) {

            $user_id = $pro->getUserId();

                        $designer = Mage::getModel('customer/customer')->load($user_id);



                        $categories_id = $pro->getCategoryIds();

                        $categories = array(29,24);

                        foreach($categories_id as $cat){

                            $parentId = Mage::getModel('catalog/category')->load($cat)->getParentId();

                            if(in_array($parentId, $categories)){

                                $show_cat = $cat;

                            }

                        }

                        $subcat = Mage::getModel('catalog/category')->load($show_cat);

                        



                        $second_in_one_day = 60 * 60 * 24;

                        $created_timestamp = strtotime($pro->getCreatedAt());

                        $campaign_duration = $pro->getCampaignDuration();



                        $total = $created_timestamp + ($campaign_duration * $second_in_one_day);



                        $current_timestamp = time();



                        $days_left = ($total - $current_timestamp) / $second_in_one_day;



                        $_imgSize = 300;

                        

                        

                        $sales_target     = $pro -> getSalesTarget();

                        $quantity_ordered = $pro -> getQuantityOrdered();



                        $funded           = floor(($quantity_ordered/$sales_target)*100);

          ?>

           

            	<!--Item-->

               <div class="item">

                            <div class="items col-sm-3 col-md-3">

                                <div class="block-thumb">

                                    <img id="2" src="<?php echo $this->helper('catalog/image')->init($pro, 'small_image')->keepFrame(false)->resize($_imgSize); ?>" style="display: block; opacity: 0.902187817635042;">

                <!--                    <img id="1" src="<?php //echo $this->getSkinUrl('images/pro-1.png');           ?>" style="display: block; opacity: 0.0978121823649578;">-->

                                </div>

                                

                                

                                 <?php 

                                    if($pro -> getCampaignStatus() == $successfull_option_id){

                                ?>

                                        <div class="suceed-campaign">Campaign succeed</div>

                                <?php

                                    }elseif( $pro -> getCampaignStatus() == $unsuccessfull_option_id ){

                                ?>

                                        <div class="unsucced">Campaign closed</div>

                                <?php 

                                    }

                                ?>

                                

                                

                                

                                

                                

                                <div class="block-top-row"> 

                                    <span class="category pull-left"><a href="<?php echo $subcat->getUrl(); ?>"><?php echo $subcat->getName(); ?></a></span> 

                                    <span class="pull-right"><strong><i class="fa fa-eur"></i><?php echo number_format($pro->getPrice(), 2, '.', ' '); ?></strong></span> 

                                </div>

                                <div class="block-top-row clearfix"> 

                                    

                                    

                                     <span class="rate-bar">

                                        <span class="rating">

                                            <span class="rate-fill" style="width:<?php echo $funded;?>%;"><?php echo $funded;?>%funded</span>

                                        </span>    

                                    </span> 

                                    

                                    

                                    

                                    

                                    <span class="pull-right days"><?php echo $campaign_duration; ?> <?php echo $this->__('days left') ?></span> 

                                </div>

                                <div class="block-top-row clearfix"> 

                                    <span class="name pull-left"><a href="<?php echo $this->getUrl('designer/profile', array('id' => $designer->getId()));?>"><?php echo $designer->getFirstname() . ' ' . $designer->getLastname(); ?></a></span> 

                                    <span class="review pull-right">

<!--                                        <img src="<?php //echo $this->getSkinUrl('images/review.png'); ?>">-->

                                    </span> 

                                </div>

                                <div class="clearfix"></div>

                                <h3><a href="<?php echo $pro->getProductUrl() ?>"><?php echo $pro->getName(); ?></a></h3>

                                <div class="desc"><?php echo substr($pro->getShortDescription(), 0, 100) . '..'; ?></div>

                                <p class="view"><a href="<?php echo $pro->getProductUrl() ?>">View Details</a></p>

                            </div>

                        </div>

      <?php }}?>

               

            </div>

          

        </div>

  

  </div>



            </div>

              </form>

          </div>

          </div>

        </div>

      </div>



<script type="text/javascript">

    //jQuery.noConflict();

    jQuery(document).ready(function($){

        $.noConflict();

        $('button').on('click', function(){

       

    });

    $('#myTab').tabCollapse();

	

	

	

	

    });

	

	jQuery(window).load(function($) {



        <?php  if ($products->count() >1) { ?>

	if(jQuery(window).width()>767){	

	$('#myTab a[data-toggle="tab"]').on('show.bs.tab', function (e) {

	 

	    

	  $('#ongoingcamp').owlCarousel({

            loop: true,

            nav: true,

            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],

            responsive: {

                0: {

                    items: 1

                },

                768: {

                    items: 2

                },

                1199: {

                    items: 4

                }

            }

        });

	});

	}

	else{

	alert();

	

		jQuery("#designer-collapse").on('show.bs.collapse', function(){

        alert('The collapsible content is now fully shown.');

		setTimeout(function(){

			jQuery('#myTab-accordion #ongoingcamp').owlCarousel({

            loop: false,

            nav: true,

            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],

            items: 1

        });

		},400);

	  

	});

	

	}

       



    <?php }?>

     <?php  if ($products_previous->count() >1) { ?>

        $('#prevcamp').owlCarousel({

            loop: true,

            nav: true,

            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],

            responsive: {

                0: {

                    items: 1

                },

                768: {

                    items: 2

                },

                1199: {

                    items: 4

                }

            }

        })


if(jQuery(window).width()>767){	

	$('#myTab a[data-toggle="tab"]').on('show.bs.tab', function (e) {

	 

	    

	  $('#prevcamp').owlCarousel({

            loop: true,

            nav: true,

            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],

            responsive: {

                0: {

                    items: 1

                },

                768: {

                    items: 2

                },

                1199: {

                    items: 4

                }

            }

        });

	});

	}

	else{

	alert();

	

		jQuery("#designer-collapse").on('show.bs.collapse', function(){

        alert('The collapsible content is now fully shown.');

		setTimeout(function(){

			jQuery('#myTab-accordion #prevcamp').owlCarousel({

            loop: false,

            nav: true,

            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],

            items: 1

        });

		},400);

	  

	});

	

	}





    <?php }?>

    });

    

</script>

<script type="text/javascript">

    //< ![CDATA[

        var dataForm = new VarienForm('form_for_customer', true);

        var dataForms = new VarienForm('form_for_designer', true);

        Validation.add('validate-embed-url','Enter only embedded url',function(x){

            if (x=='') {

		return true;

	    }

            //var p = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;

            var p = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|))((\w|-){11})(?:\S+)?$/;

            if(x != ""){

                

                if(x.match(p))

                {

                    return true;

                }else{

                    return false;

                }

                

            }

    });

    //]]>

</script>