<style>
    .colr-div {
    border: 2px solid #afafaf;
    border-radius: 50px;
    height: 25px;
	 margin-left: 15px;
    margin-top: 10px;
    width: 25px;
}
.description{
 float: left;
    font-size: 13px;
    margin: 15px 10px;
}

</style>

<?php 
$product_id =  $this->getRequest()->getParam('id');
?>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background:#e3e3e3;padding:5px;"><b>Special Features</b></td>
    </tr>
    <tr>
        <td style="background:#fff;padding:9px 0px;border:1px #ccc solid;">
            <?php 
                $special_feature = $this->getSpecialFeatures($product_id);
                if($special_feature ->count()){
                   foreach($special_feature as $val){
             ?>
            <div style="margin-left:15px;"><?php echo $val -> getFeature();?></div>
            <?php    
                   }
                }
            ?>
        </td>
    </tr>
     <tr>
         <td style="background:#e3e3e3;padding:5px;"><b>Product Features</b></td>
    </tr>
 
    <tr>
        <td style="background:#fff;padding:9px 0px;border:1px #ccc solid;">
           <?php
        $product_feature = $this -> getProductFeatures($product_id);
        if($product_feature -> count() > 0){
            foreach($product_feature as $pro){
                $feature_id = $pro -> getFeatureId();
                $feature_detail = Mage::getModel('mapfeaturedprice/mapfeaturedprice')->load($feature_id);
                $feature_name   = $feature_detail -> getFeature();
                if($feature_name != ""){
             ?>
            <div style="margin-left:15px;"><b><?php echo $feature_name.'   : ';?></b><?php echo $pro -> getDescription();?></div>
            <?php    
            }}
                }
            ?>
        </td>
    </tr>
    <tr>
       <td style="background:#e3e3e3;padding:5px;"><b>Raw Designs</b></td>
    </tr>
    
    
     <tr>
        <td style="background:#fff;padding:9px 0px;border:1px #ccc solid;">
            <?php
            $raw_design = $this -> getRawDesign($product_id);
            if($raw_design -> count() > 0){
                foreach($raw_design as $raw){
             ?>
            <div style="margin-left:15px;"><a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$raw ->getPath();?>" download><?php echo $raw -> getName();?></a></div>
            <?php    
                   }
                }
            ?>
        </td>
    </tr>
    
    <tr>
         <td style="background:#e3e3e3;padding:5px;"><b>Color Description</b></td>
    </tr>
    
     <tr>
         <td style="background:#fff;padding:9px 0px;border:1px #ccc solid;">
            <?php
            $color_description = $this -> getColorDescription($product_id);
            if($color_description -> count() > 0){
                foreach($color_description as $col){
            ?>
             <div style="width:100%;float:left;"> 
            <?php
                    $color_code  = $col -> getCode();
                    $description = $col -> getDescription();
                    
                    if (strpos($color_code,'@') !== false) {
                         
             ?>
           
                <?php $exp = explode("@",$color_code );
                         
                         foreach($exp as $v){
                ?>
                <div class="colr-div" style="background:<?php echo $v;?>;float:left;"></div>
                         <?php } ?> <div class="description">code: <?php echo $color_code;?></div><div class="description"> <?php  echo $description;?></div>
             
            <?php
                        
                         
             ?>
            <?php
                    }else{
                   
                    
                    
             ?>
                         <div class="colr-div" style="background:<?php echo $color_code;?>;"></div> <div class="description">code: <?php echo $color_code;?></div>  <div class="description"> <?php  echo $description;?></div>
            <?php    
                  
                    
                    }
            ?>
                     </div>
           <?php
                }
            }
            ?>
        </td>
    </tr>
    
<!--    <tr>
        <td>
            
            <div style="width:100%;float:left;"> 
            
             <div class="colr-div" style="background:#ff00ff;float:left;"></div>
             <div class="colr-div" style="background:#ff00ff;float:left;"></div>
             <div class="colr-div" style="background:#ff00ff;float:left;"></div>
             <div class="description"> aedaeraeaerare</div>
            
            </div>   
            
            <div style="width:100%;float:left;"> 
            
             <div class="colr-div" style="background:#ccc;float:left;"></div>
             <div class="colr-div" style="background:#ccc;float:left;"></div>
             <div class="colr-div" style="background:#ccc;float:left;"></div>
               <div class="description"> aedaeraeaerare</div>
            
            </div>   
            
        </td>
    </tr>-->
</table>




