<script type="text/javascript">
    jQuery(document).ready(function($){
        $(".ask_designer").click(function(){
            var con = confirm("Do you want to switch to a designer account?");
            if(con === true){
                window.location.href = '<?php echo $this->getUrl('designer/index/beadesigner') ?>';
            }
        });
    });
</script>
<div  class="cart-con">
    <div>
        <div class="row">
            <div class="contact">
                <h1>Create a campaign</h1>
                <h2 class="text-center">You need to login as a designer to publish a campaign. It’s really easy: You quickly register and upload your design in a three-step process. We make sure that production is feasible and publish your design in the shop. Then you start selling and earning money!</h2>

                <div class="link-con">

                    <div class="col-sm-4">


                        <div class="box-link">

                            <div class="box-link-area">
                                <div class="box-con">

                                    <p><img src="<?php echo $this->getSkinUrl('images/designer-icon.png'); ?>"></p>
                                    <h3>Sign up as a designer</h3>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-4">

                        <div class="box-link">

                            <div class="box-link-area">
                                <div class="box-con">

                                    <p><img src="<?php echo $this->getSkinUrl('images/upload-icon.png'); ?>"></p>
                                    <h3>Upload your design</h3>

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-4">
                        <div class="box-link">
                            <div class="box-link-area">
                                <div class="box-con">

                                    <p><img src="<?php echo $this->getSkinUrl('images/profit-icon.png'); ?>"></p>
                                    <h3>Sell and make profit</h3>

                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
        <?php
        $customer = Mage::getSingleton('customer/session')->getCustomer();
        //print_r($customer) 
        ?>
        <?php if ($customer['group_id'] == 1) { ?>
            <div class="col-sm-12">
                <div class="login-designer-btn">
                <p class="dashboard-btn text-center"><a href="javascript:void();" style="text-decoration: none;color:white;" class="ask_designer">Become a designer</a></p>
            </div>
            
            </div>
        <?php } ?>
        
         <?php if (!isset($customer['group_id'])) { ?>
            <div class="col-sm-12">
                <div class="designer-btn">
                <p class="dashboard-btn text-center"><a href="<?php echo $this->getUrl('customer/account/create') ?>" style="text-decoration: none;color:white;">Become a designer</a></p>
                <p class="dashboard-login-btn text-center "> <a href="<?php echo $this->getUrl('customer/account/login') ?>" style="text-decoration: none;color:white;">Login</a></p>
                </div>
                </div>
        <?php } ?>
    </div>
</div>