<?php $collection = $this->getCollection(); //print '<pre>';print_r($collection);?>
<?php //echo $this->getPagerHtml(); ?>
<div class="row">
<div class="community">
    <?php if($collection->getSize()): ?>
    
    <?php foreach($collection as $obj){
         
                if( $obj['customer_profile_image'] == "" ){
                    $profile_image = $this->getSkinUrl('images/upload-pic.png');
                }else{
                    $profile_image =  Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .$obj['customer_profile_image'];
                }
               //echo  $obj['customer_profile_image'];       
        ?>
<div class="col-md-3 col-sm-3 blk">

    <div class="item-blk">
        <div class="designer-pic imageFit" >
    <img src="<?php echo $profile_image;?>">
          </div>
        <h1><a  href="<?php echo $this->getUrl('designer/profile',array('id'=>$obj['entity_id']));?>"><?php echo $obj['firstname'].'&nbsp;'.$obj['lastname'];?></a></h1>
       
        
        <div class="desc">Member since <?php echo date("M d , Y", strtotime($obj['created_at']));?></div>
           <div class="community-row clearfix"> 
               <?php
                $noproducts = Mage::getModel('catalog/product')->getCollection()->setOrder('created_at', 'DESC')->addFieldToFilter('type_id', Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE)->addFieldToFilter('status', "1")->addFieldToFilter('user_id', $obj['entity_id']);
               ?>
        <span class="design-publish">Designs published <strong> <?php echo $noproducts->count();?></strong></span>
         <span class="review">
             
             <?php 
                                $connectionRead = Mage::getSingleton('core/resource')->getConnection('core_read');
                                
                                $sql2  = "SELECT * FROM  designer_rating WHERE designer_id = '".$obj['entity_id']."'";
                                $rate  = $connectionRead->fetchAll($sql2);
                                
                                $rt    = 0;
                                foreach( $rate as $r ){
                                    
                                    $rt = $rt + $r['rating'];
                                    
                                }
                               
                                
                                $av = ceil($rt/count($rate));
                               
                                if(count($rate) > 0){
                        ?>
                                    <img src="<?php echo $this->getSkinUrl('images/'.$av.'.png') ?>"alt="">
                                
                                <?php }else{ ?>
                                    
                                    <img src="<?php echo $this->getSkinUrl('images/0.png') ?>"alt="">
                                    
                                <?php } ?>
         
         </span>
          </div>

        <p class="view"><a href="<?php echo $this->getUrl('designer/profile/', array("_use_rewrite"=>false, "id"=>$obj['entity_id']))?>">View details</a></p>
    </div>


</div>
    <?php } ?>
 <?php else: ?>
    <p><?php echo $this->__('The collection is empty.'); ?></p>
<?php endif ?>
 
</div>
</div>
<?php echo $this->getPagerHtml(); ?>