<?php
$entity_Id = $this->getRequest()->getParam('id');
$p_detail = $this->getDesignerPublicProfile($entity_Id);
$products = $this->getOngoingCampaigns($entity_Id);
$products_previous = $this->getPreviousCampaigns($entity_Id);
 $products_previous->addAttributeToFilter("campaign_status","308");
$successful_campaign = $products_previous->count();
$ongoing_campaign = $products->count();
$total_campaign = $successful_campaign + $ongoing_campaign;
if ($p_detail['customer_profile_image'] == "") {
    $profile_image = $this->getSkinUrl('images/upload-pic.png');
} else {
    $profile_image = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $p_detail['customer_profile_image'];
}


$gallery = $this->getGallery($entity_Id);
$video = $this->getVideos($entity_Id);
?>
<div class="container"> 
    <div class="row">
        <div class="community">
            <div class="col-md-3 col-sm-4">
                <div class="item-pic">
                    <img  src="<?php echo $profile_image; ?>">
                </div>


            </div>


            <div class="col-md-3 col-sm-4 gap-left">
                <div class="item-detail">
                    <h1><?php echo $p_detail['firstname'] . '&nbsp;' . $p_detail['lastname']; ?></h1>
                    <h2>Member since <?php echo date("M d , Y", strtotime($p_detail['created_at'])); ?></h2>

                    <div class="review-area">
                        
                        <?php 
                        if(Mage::getSingleton('customer/session')->isLoggedIn()) {
                                    $customer = Mage::getSingleton('customer/session')->getCustomer();;
                                    //print_r($customer);
                                     $customer_id  =  $customer->getId();
                        }
                            $connectionRead = Mage::getSingleton('core/resource')->getConnection('core_read');
                                
                                $sql2  = "SELECT * FROM  designer_rating WHERE designer_id = '".$entity_Id."'";
                                $rate  = $connectionRead->fetchAll($sql2);
                                $rated = 0;
                                $rt    = 0;
                                foreach( $rate as $r ){
                                    
                                    if( $r['customer_id'] == $customer_id){
                                        $rated = "1";
                                       
                                    }
                                    $rt = $rt + $r['rating'];
                                    //echo $r['customer_id']. '==' .$customer_id.'<br>';
                                }
                                //echo count($rate);
                                
                                $av = ceil($rt/count($rate));
                                
                                if(count($rate) > 0){
                        ?>
                        
                        <div class="star-rate"><img src="<?php echo $this->getSkinUrl('images/'.$av.'.png'); ?>" alt=""></div>
                         
                        <?php } ?>
                       
                            <div class="review-rate">
				 <?php if(count($rate) > 0){?>
				<i>(<?php echo count($rate);?> Ratings)</i> 
                            <?php }?>
                            <?php 
                                if(Mage::getSingleton('customer/session')->isLoggedIn()) {
                                    $customer = Mage::getSingleton('customer/session')->getCustomer();;
                                    //print_r($customer);
                                     $customer_id  =  $customer->getId();
                                    if($customer_id != $entity_Id){
                                    $connection = Mage::getSingleton('core/resource')->getConnection('core_read');
                                    
                                    $sql = "SELECT so.customer_id, si.product_id, si.order_id FROM sales_flat_order as so INNER JOIN sales_flat_order_item as si ON( so.entity_id = si.order_id) WHERE customer_id = '".$customer_id."' AND status = 'complete'";

                                    $order  = $connection->fetchAll( $sql );
                                    if( count($order) > 0){
                                    foreach($order as $val){
                                        // $entity_Id = designer_id
                                        $pro = Mage::getModel("catalog/product")->getCollection()->addFieldToFilter('type_id', Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE)->addFieldToFilter('status', "1")->addFieldToFilter('user_id', $entity_Id)->addFieldToFilter('entity_id' , $val['product_id']);
                                        //echo $pro -> getSelect() -> __toString();exit;
                                        if($pro -> count() > 0 && $rated == "0"){
                                            
                                    ?>
                            
                            <a id="rate" href="#"><span class="rate-txt">Rate this</span>
                    
<div style="display:none">
                <div id="rating" class="shop-pop">
                <h1>Share your ratings</h1>
                <h2><?php echo $p_detail['firstname'] . '&nbsp;' . $p_detail['lastname']; ?></h2>
                <div class="rate-box">
                    <form  method="post" action="<?php echo $this->getUrl('designer/profile/ratepost') ?>" >
                <div class="br-wrapper br-theme-fontawesome-stars">
                    <input type="hidden" name="desginer_id" value="<?php echo $entity_Id;?>">
                     <input type="hidden" name="customer_id" value="<?php echo $customer_id;?>">
                  <select id="star" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>

                </div>

                <button class="rate-submit" type="submit" >SUBMIT</button>
                </form>
                </div>

                </div>
                    </a>
</div>                              <?php
                                            break;
                                        }
                                    }   }
                                    }
                                    
                                }
                            ?>
         </div>
                 
                    </div>
		    <?php if(!empty($p_detail['customer_city'])){?>
                    <p><span class="left-label">City :</span><span><?php echo $p_detail['customer_city']; ?></span></p>
                   <?php }
		   if(!empty($p_detail['customer_brand_name'])){?> 
		    <p><span class="left-label">Brand name :</span><span><?php echo $p_detail['customer_brand_name']; ?></span></p>
		   <?php }?> 
		    
                    <?php if($p_detail['customer_website']){?>
		    <p><span class="left-label">Website:</span><span><a href="<?php echo $p_detail['customer_website']; ?>" target="_blank"><?php echo $p_detail['customer_website']; ?></a></span></p>
		    <?php }?>
            <?php if($p_detail['customer_facebook'] == "" || $p_detail['customer_twitter'] == "" || $p_detail['customer_linkedin'] == "" || $p_detail['customer_pinterest'] == ""){}else{?>
		    <p><span class="left-label">Follow me :</span>
                        
                        <?php if($p_detail['customer_facebook'] != ""){?>
                            <span><a href="<?php echo $p_detail['customer_facebook']; ?>" target="_blank"><i class="fa fa-facebook-square"></i></a></span>
                        <?php } ?>
                         <?php if($p_detail['customer_twitter'] != ""){?>
                            <span><a href="<?php echo $p_detail['customer_twitter']; ?>" target="_blank"><i class="fa fa-twitter-square"></i></a></span>
                         <?php } ?>
                         <?php if($p_detail['customer_linkedin'] != ""){?>
                        <span><a href="<?php echo $p_detail['customer_linkedin']; ?>" target="_blank"><i class="fa fa-linkedin-square"></i></a></span>
                         <?php } ?>
                        <?php if($p_detail['customer_pinterest'] != ""){?>
                        <span><a href="<?php echo $p_detail['customer_pinterest']; ?>" target="_blank"><i class="fa fa-pinterest-square"></i></a></span>
                        <?php } ?>
                    </p>
	    <?php } ?>

                </div>
            </div>



            <div class="col-md-6 col-sm-4 gap-left">
                <div class="count">
                    <ul>
                        <li>
                            <h1><?php echo $total_campaign ?></h1>
                            <h2><?php echo $this->__('Designs published') ?> </h2> 

                        </li>
                        <li>
                            <h1><?php echo $successful_campaign ?></h1>
                            <h2><?php echo $this->__('Successful campaigns ') ?></h2> 
                        </li>
                        <li>
                            <h1><?php echo $ongoing_campaign ?></h1>
                            <h2><?php echo $this->__('Ongoing campaigns ') ?></h2> 

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="description"> <?php echo $p_detail['customer_about_me']; ?></p> 

        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">


            <div class="gallery">
                <h1>Videos</h1>
                <ul class="bxslider1">
                    <?php
                    if ($video->count() > 0) {
                        foreach ($video as $val) {
                            ?>
                            <li><iframe width="100%" height="265" src="<?php echo $val['url']; ?>" frameborder="0" allowfullscreen></iframe></li>

                            <?php
                        }
                    } else {
                        ?>
                        <li><img src="<?php echo $this->getSkinUrl('images/video-no-img.png'); ?>"/></li>
                        <li><img src="<?php echo $this->getSkinUrl('images/video-no-img.png'); ?>"/></li>
                    <?php }
                    ?>  


                </ul>

            </div>

        </div>

        <div class="col-sm-6">
            <div class="gallery">
                <h1 class='gallery_text'>Gallery</h1>
                <ul class="bxslider">
                    <?php
                    if ($gallery->count() > 0) {
                        foreach ($gallery as $gal) {
                            ?>
                            <li class="imageFit"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $gal['image']; ?>" /></li>
                            <?php
                        }
                    } else {
                        ?>
                        <li><img src="<?php echo $this->getSkinUrl('images/gallery-no-img.png'); ?>" width="263" height="263"/></li>
                        <li><img src="<?php echo $this->getSkinUrl('images/gallery-no-img.png'); ?>" width="263" height="263"/></li>
                        <?php
                    }
                    ?>


                </ul>

            </div>

        </div>

    </div>

</div>

<div class="container">

       <div class="row">

      

        <div class="openup-blocks-cont">
      
            <?php 
            
            $helper = Mage::helper('campaign');
            
            $running_option_id       = $helper -> getOptionId('campaign_status','Running');
            $successfull_option_id   = $helper -> getOptionId('campaign_status','Successfull');
            $unsuccessfull_option_id = $helper -> getOptionId('campaign_status','Unsuccessfull');
            
            $products = $this->getOngoingCampaigns($entity_Id);
	    $products->addAttributeToFilter("campaign_status","308");
                  if ($products->count() == 0) {
            ?>
            
<!--            <h1><?php //echo $this->__('No Ongoing campaigns') ?></h1>-->
                  <?php }else{ ?>
            
              <hr/>
            
            <h1><?php echo $this->__('Ongoing campaigns') ?></h1>
            <div class="openup-slider block" id="ongoingcamp">

                <!--Item-->

                <?php
                
                // $_helper = $products->helper('catalog/output');
                //if ($products->count() > 0) {
                    $_helper = $this->helper('catalog/output');
                    foreach ($products as $pro) {

                        $user_id = $pro->getUserId();
                        $designer = Mage::getModel('customer/customer')->load($user_id);

                        $categories_id = $pro->getCategoryIds();
                        $categories = array(29,24);
                        foreach($categories_id as $cat){
                            $parentId = Mage::getModel('catalog/category')->load($cat)->getParentId();
                            if(in_array($parentId, $categories)){
                                $show_cat = $cat;
                            }
                        }
                        $subcat = Mage::getModel('catalog/category')->load($show_cat);
                        

                        $second_in_one_day = 60 * 60 * 24;
                        $created_timestamp = strtotime($pro->getCreatedAt());
                        $campaign_duration = $pro->getCampaignDuration();

                        $total = $created_timestamp + ($campaign_duration * $second_in_one_day);

                        $current_timestamp = time();

                        $days_left = ($total - $current_timestamp) / $second_in_one_day;

                        $_imgSize = 300;
                        
                        
                        $sales_target     = $pro -> getSalesTarget();
                        $quantity_ordered = $pro -> getQuantityOrdered();

                        $funded           = floor(($quantity_ordered/$sales_target)*100);
                        ?>

                        <div class="item">
                            <div class="items col-sm-3 col-md-3">
                               <div class="block-thumb">
                                  <?php
				
				  if($pro->getUserId() == Mage::getSingleton('customer/session')->getCustomer()->getId() && Mage::getSingleton('customer/session')->isLoggedIn()){ ?>
                                    <p class="edit-btn"><a href="<?php echo $this->getUrl("campaign/edit/index", array("id" => $pro->getSku())) ?>"><i class="fa fa-pencil"></i></a></p>
                                <?php } ?>
                                    <img id="2" src="<?php echo $this->helper('catalog/image')->init($pro, 'small_image')->keepFrame(false)->resize($_imgSize); ?>" style="display: block; opacity: 0.902187817635042;">
               
                                </div>
                                
                                
                                <div class="block-top-row"> 
                                    <span class="category pull-left"><a href="<?php echo $subcat->getUrl(); ?>"><?php echo $subcat->getName(); ?></a></span> 
                                    <span class="pull-right"><strong><i class="fa fa-eur"></i><?php echo number_format($pro->getPrice(), 2, '.', ' '); ?></strong></span> 
                                </div>
                                <div class="block-top-row clearfix"> 
                                    
                                    
                                    
                                   
                                     <span class="rate-bar">
                                        <span class="rating">
                                            <span class="rate-fill" style="width:<?php echo $funded;?>%;"><?php echo $funded;?>%funded</span>
                                        </span>    
                                    </span> 
                                    
                                    
                                    
                                    
                                    <span class="pull-right days"><?php echo $campaign_duration; ?> <?php echo $this->__('days left') ?></span> 
                                </div>
                               
                                <div class="clearfix"></div>
                                <h3><a href="<?php echo $pro->getProductUrl() ?>"><?php echo $pro->getName(); ?></a></h3>
                                <div class="desc"><?php echo substr($pro->getShortDescription(), 0, 28) . '..'; ?></div>
                                <p class="view"><a href="<?php echo $pro->getProductUrl() ?>">View details</a></p>
                            
                            </div>
                        </div>


                        <?php
                    }
                }
                ?>

            </div>
<div class="clearfix"></div>
        </div>
        <div class="openup-blocks-cont">
            <?php 
            if ($products_previous->count() ==  0) {
            ?>
<!--            <h1><?php //echo $this->__('No Previous campaigns') ?></h1>-->
            <?php }else{ ?>
             <h1><?php echo $this->__('Previous campaigns') ?></h1>
            <div class="openup-slider block" id="prevcamp">
                <?php
               // $products_previous = $this->getPreviousCampaigns($entity_Id);
               // if ($products_previous->count() > 0) {
                    $_helper = $this->helper('catalog/output');
                    foreach ($products_previous as $pro) {

                        $user_id = $pro->getUserId();
                        $designer = Mage::getModel('customer/customer')->load($user_id);

                        $categories_id = $pro->getCategoryIds();
                        $categories = array(29,24);
                        foreach($categories_id as $cat){
                            $parentId = Mage::getModel('catalog/category')->load($cat)->getParentId();
                            if(in_array($parentId, $categories)){
                                $show_cat = $cat;
                            }
                        }
                        $subcat = Mage::getModel('catalog/category')->load($show_cat);
                        

                        $second_in_one_day = 60 * 60 * 24;
                        $created_timestamp = strtotime($pro->getCreatedAt());
                        $campaign_duration = $pro->getCampaignDuration();

                        $total = $created_timestamp + ($campaign_duration * $second_in_one_day);

                        $current_timestamp = time();

                        $days_left = ($total - $current_timestamp) / $second_in_one_day;

                        $_imgSize = 300;
                        
                        
                        $sales_target     = $pro -> getSalesTarget();
                        $quantity_ordered = $pro -> getQuantityOrdered();

                        $funded           = floor(($quantity_ordered/$sales_target)*100);
                        ?>

                        <!--Item-->
                         <div class="item">
                            <div class="items col-sm-3 col-md-3">
                               <div class="block-thumb">
                                    <img id="2" src="<?php echo $this->helper('catalog/image')->init($pro, 'small_image')->keepFrame(false)->resize($_imgSize); ?>" style="display: block; opacity: 0.902187817635042;">
                
                                </div>
                                
                                
                                 <?php 
                                    if($pro -> getCampaignStatus() == $successfull_option_id){
                                ?>
                                        <div class="suceed-campaign">Campaign succeed</div>
                                <?php
                                    }elseif( $pro -> getCampaignStatus() == $unsuccessfull_option_id ){
                                ?>
                                        <div class="unsucced">Campaign closed</div>
                                <?php 
                                    }
                                ?>
                                
                                
                                
                                
                                
                                <div class="block-top-row"> 
                                    <span class="category pull-left"><a href="<?php echo $subcat->getUrl(); ?>"><?php echo $subcat->getName(); ?></a></span> 
                                    <span class="pull-right"><strong><i class="fa fa-eur"></i><?php echo number_format($pro->getPrice(), 2, '.', ' '); ?></strong></span> 
                                </div>
                                <div class="block-top-row clearfix"> 
                                    
                                    
                                     <span class="rate-bar">
                                        <span class="rating">
                                            <span class="rate-fill" style="width:<?php echo $funded;?>%;"><?php echo $funded;?>%funded</span>
                                        </span>    
                                    </span> 
                                    
                                    
                                    
                                    
                                    <span class="pull-right days"><?php echo $campaign_duration; ?> <?php echo $this->__('days left') ?></span> 
                                </div>
                              
                                <div class="clearfix"></div>
                                <h3><a href="<?php echo $pro->getProductUrl() ?>"><?php echo $pro->getName(); ?></a></h3>
                                <div class="desc"><?php echo substr($pro->getShortDescription(), 0, 28) . '..'; ?></div>
                                <p class="view"><a href="<?php echo $pro->getProductUrl() ?>">View details</a></p>
                            </div>
                        </div>
                        <?php
                    }
                }
                ?>

            </div>

        </div>

    </div>

</div>
<script>
    jQuery(document).ready(function($) {
        $('.bxslider').bxSlider({
            minSlides: 1,
            maxSlides: 2,
            slideWidth: 265,
            slideMargin: 25,
            pager: 0,
        });

    });


    jQuery(document).ready(function($) {
        $('.bxslider1').bxSlider({
            minSlides: 1,
            maxSlides: 1,
            slideWidth: 498,
            slideMargin: 0,
            pager: 0,
            auto: false,
            autoControls: true
        });

    });


    jQuery(document).ready(function($) {

        $('#star').barrating({
            theme: 'fontawesome-stars'
        });
      
      $("#rate").click(function(){
		
            $.fancybox({
                    maxWidth	: '553',
                    maxHeight	: '230',
                    href		:'#rating',
                    fitToView	: false,
                    width		: '50%',
                    height		: '100%',
                    autoSize	: false,
                    closeClick	: false,
                    openEffect	: 'none',
                    closeEffect	: 'none'
            });	
		
	});
      <?php  if ($products->count() >1) { ?>
        $('#ongoingcamp').owlCarousel({
            loop: true,
            nav: true,
            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                1199: {
                    items: 4
                }
            }
        })

    <?php }?>
     <?php  if ($products_previous->count() >1) { ?>
        $('#prevcamp').owlCarousel({
            loop: true,
            nav: true,
            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                1199: {
                    items: 4
                }
            }
        })

    <?php }?>



    });

</script>   