
<style>

.category select{
	
	padding:10px;
	width:190px;
	
	}
.category input{
	
	padding:10px;
	
	}
	
button, .form-button {
  border-width: 1px;
  border-style: solid;
  border-color: #ed6502 #a04300 #a04300 #ed6502;
  padding: 1px 7px 2px 7px;
  background: #ffac47 url(images/btn_bg.gif) repeat-x 0 100%;
  color: #fff;
  font: bold 12px arial, helvetica, sans-serif;
  cursor: pointer;
  text-align: center !important;
  white-space: nowrap;
  width: 200px;
  margin: 0px auto;
  height: 40px;
  float: none;
  display: table;
}
	
	
	
</style>
<script type="text/javascript">
jQuery(document).ready(function($){
    
     //script to get subcategory of a category
     
    $(".category_id").unbind("change").bind("change", function(){
        
        var category_id = this.value;
        var id = this.id;
        new Ajax.Request('<?php echo $this->getUrl('campaign/ajax/getSubcategory')?>',
        {
        method:'get',
        parameters: {category_id: category_id},
        onSuccess: function(transport){
        var response = transport.responseText || "nothing in response text";
        //alert("Success! \n\n" + response);
            if(id == "catgory_id"){
                $(".searchsub_cat").html(response);
            }else{
                $(".sub_cat").html(response);
            }
        },
        onFailure: function(){ alert('something wrong') }
        });
    });
    
    // $(".subcategory_id").unbind("change").bind("change", function(){
    $(document).on('change', '.subcategory_id', function(e) {    
        var subcategory_id = this.value;
       
         var classd = $(this).parent().attr("class");
         //alert(classd);
        new Ajax.Request('<?php echo $this->getUrl('campaign/ajax/getType')?>',
        {
        method:'get',
        parameters: {subcategory_id: subcategory_id},
        onSuccess: function(transport){
        var response = transport.responseText || "nothing in response text";
       
        if( classd == "searchsub_cat category"){
           
             $(".searchpro_type").html(response);
        }else{
           
              $(".pro_type").html(response);
        }
       
        },
        onFailure: function(){ alert('something wrong') }
        });
    });
    
    
});

</script>
<?php 
    $action = $this->getRequest()->getParam('action');
   
    
    if($action != "" && $action == "edit"){
        
        $id     = $this->getRequest()->getParam('id');
        
        $feature_detail = Mage::getModel('mapfeaturedprice/mapfeaturedprice')->load($id);
        $categoryId   = $feature_detail -> getTypeId();
        $price        = $feature_detail -> getPrice();
        $feature      = $feature_detail -> getFeature();
        
        $type = Mage::getModel('catalog/category')->load($categoryId);
        $type_name = $type -> getName();
?>
<form method="post" action="<?php echo $this->getUrl('admin_mapfeaturedprice/adminhtml_mapfeaturedprice/edit')?>"  id="form_for_category_price_edit">
    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <input name="id" type="hidden" value="<?php echo $id ?>" />
    <table>
        <tr>
            <td>
                Type Name  : <?php echo $type_name;?>
            </td>
            
            <td>
                <input type="text" class="required-entry" name="feature_name" value="<?php echo $feature ;?>" >
            </td>
            <td>
                <input type="text" class="required-entry" name="price" value="<?php echo $price ;?>">
            </td>
            <td>
                <button type="submit" >Save</button>
            </td>
        </tr>
    </table>
</form>
<?php
    }else {
?>

<form method="post" id="form_for_category_price" action="<?php echo $this->getUrl('admin_mapfeaturedprice/adminhtml_mapfeaturedprice/save')?>">
    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <table  width="100%">
        <tr>
            
            <td class="category" style="border:1px #eee2be solid; padding:10px;width:33.3%;background:#fdfaf1;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                <td class="category">
                                    <select name="category_id" class="category_id validate-select">
                                              <option value="">Select Category</option>
                                <?php 
                                    $categories = $this->getCategory();
                                    foreach($categories as $category){
                                    ?>
                                    <option value="<?php echo $category->getId();?>"><?php echo $category->getName();?></option>
                                    <?php
                                    }
                                    ?>
                                </select>
                                </td>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                              <tr>
                                                <td>
                                                    <div class="sub_cat category" id="search">
                                                      <select class="validate-select">
                                                           <option value="">Select Subcategory</option>
                                                      </select>
                                                   </div>
                                                </td>

                                                <td>
                                                    <div class="pro_type category">
                                                          <select name="product_type" id="product_type" class="validate-select">
                                                              <option value="">Select Type</option>
                                                         </select>
                                                     </div>
                                                </td>
                                              </tr>
                                            </tbody>
                                    </table>
            </td>
     

      
      
      
                <td>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td> <input type="text" class="required-entry" name="feature_name" placeholder="Enter feature"></td>
                                  <td><input type="text" class="required-entry" name="price" placeholder="Enter Price"></td>
                                  <td ><button type="submit">Add</button></td>
         
                                </tr>
                              </tbody>
                      </table>
                  </td>
                </tr>
                                </tbody>
                                </table>
                            </td>
         </tr>
         </tbody>
                </table>

         
         </td>       
            
        </tr>
         
        </table>
            
  </form>

<form method="post" action="<?php echo $this->getUrl('admin_mapfeaturedprice/adminhtml_mapfeaturedprice/index', array('action' => 'search'))?>">
    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <table  width="100%">
        <tr>
            
            <td class="category" style="border:1px #eee2be solid; padding:10px;width:33.3%;background:#fdfaf1;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                <td class="category">
                                    <select name="category_id" class="category_id validate-select" id="catgory_id">
                                              <option value="">Select Category</option>
                                <?php 
                                    $categories = $this->getCategory();
                                    foreach($categories as $category){
                                    ?>
                                    <option value="<?php echo $category->getId();?>"><?php echo $category->getName();?></option>
                                    <?php
                                    }
                                    ?>
                                </select>
                                </td>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                              <tr>
                                                <td>
                                                    <div class="searchsub_cat category" id="search">
                                                      <select class="validate-select">
                                                           <option value="">Select Subcategory</option>
                                                      </select>
                                                   </div>
                                                </td>

                                                <td>
                                                    <div class="searchpro_type category">
                                                          <select name="product_type" id="product_type" class="validate-select">
                                                              <option value="">Select Type</option>
                                                         </select>
                                                     </div>
                                                </td>
                                              </tr>
                                            </tbody>
                                    </table>
            </td>
     

      
      
      
                <td>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td> <input type="text" class="required-entry" name="feature_name" placeholder="Enter feature"></td>
                                  
                                  <td ><button type="submit">Search</button></td>
         
                                </tr>
                              </tbody>
                      </table>
                  </td>
                </tr>
                                </tbody>
                                </table>
                            </td>
         </tr>
         </tbody>
                </table>

         
         </td>       
            
        </tr>
         
        </table>
</form>

        <table width="100%">
        <tr>
            <td colspan="2" width="100%">
                <table width="100%">
                    <tr>
                        <th style="  background:#f5d9b7;padding: 5px;width:25%;">
                           Category
                        </th>
                       <th style="  background:#f5d9b7;padding: 5px;width:25%;">
                           Sub-Category
                       </th>
                       <th style="  background:#f5d9b7;padding: 5px;width:25%;">
                           Type Name
                       </th>
                        <th style="  background:#f5d9b7;padding: 5px;width:25%;">
                            Feature
                        </th>
                        <th style="  background:#f5d9b7;padding: 5px;width:25%;">
                            Price (Euro)
                        </th>
                        <th style="  background:#f5d9b7;padding: 5px;width:25%;">
                            Action
                        </th>
                    <tr>
                    <?php
                    $m = $this->getRequest()->getPost('product_type');
                    echo "Post daat = ".$m;
                    
                    $feature = $this -> getAllFeaturePrice($m);
                    if($feature -> count() > 0){
                        foreach($feature as $val ){
                            $category_id = $val -> getTypeId();
                            $_category = Mage::getModel('catalog/category')->load($category_id);
                            $id = $val -> getId();
                            
                            //get subcategory of type
                                $subId = Mage::getModel('catalog/category')->load($category_id)->getParentId();
                                $subcat = Mage::getModel('catalog/category')->load($subId);
                                $subcategory_id = $subcat -> getId();
                            //end
                                
                                
                            //get category of a subcategory
                                $catId = Mage::getModel('catalog/category')->load($subcategory_id)->getParentId();
                                $cat = Mage::getModel('catalog/category')->load($catId);
                            //
                    ?>
                    <tr>
                        <td style="  background: #f6f0df;padding: 10px;width:25%;">
                            <?php echo $cat -> getName();?>
                         </td>
                         <td style="  background: #f6f0df;padding: 10px;width:25%;">
                            <?php echo $subcat -> getName();?>
                         </td>
                         <td style="  background: #f6f0df;padding: 10px;width:25%;">
                            <?php echo $_category -> getName();?>
                         </td>
                         <td style="  background: #f6f0df;padding: 10px;width:25%;">
                            <?php echo $val -> getFeature();?>
                         </td>
                        <td style="  background: #f6f0df;padding: 10px;width:25%;">
                            <?php echo $val -> getPrice();?>
                        </td>
                         <td style="  background: #f6f0df;padding: 10px;width:25%;">
                             <a href="<?php echo $this->getUrl('admin_mapfeaturedprice/adminhtml_mapfeaturedprice/index', array('id' => $id, 'action' => "edit"))?>">Edit</a>
                             <a href="<?php echo $this->getUrl('admin_mapfeaturedprice/adminhtml_mapfeaturedprice/delete', array('id' => $id, 'action' => "delete"))?>">Delete</a>
                         </td>
                    </tr>
                        <?php }} ?>
                </table>
                
            </td>
        </tr>
    </table>

    <?php } ?>